Repository coordinape/coordinape, changes with the owners that .github/CODEOWNERS names for each.
All owners: @topocount, @levity, @zashton

checkbox stylee
  src/stitches.config.ts
  src/ui/Checkbox/CheckBox.tsx
  src/ui/Panel/Panel.tsx
  src/ui/RadioGroup/RadioGroup.tsx
Owners: none

remove FormLabel component. replace with Text variant=label
  src/components/AvatarUpload.tsx
  src/components/FormInputField.tsx
  src/components/FormRadioGroup.tsx
  src/pages/CircleAdminPage/CircleAdminPage.tsx
  src/pages/CircleAdminPage/CircleApi/ApiKeyForm.tsx
  src/pages/CircleAdminPage/CircleApi/CircleApiKeys.tsx
  src/pages/CircleAdminPage/CircleLogoUpload.tsx
  src/pages/CreateCirclePage/CreateCircleForm.tsx
  src/pages/HistoryPage/EpochForm.tsx
  src/pages/MembersPage/MembersTable.tsx
  src/pages/NewNominationPage/NewNominationPage.tsx
  src/pages/OrganizationSettingsPage/OrganizationSettingsPage.tsx
  src/stitches.config.ts
  src/ui/FormLabel/FormLabel.stories.tsx
  src/ui/FormLabel/FormLabel.tsx
  src/ui/Panel/Panel.tsx
  src/ui/RadioGroup/RadioGroup.stories.tsx
  src/ui/Select/Select.tsx
  src/ui/Tooltip/Tooltip.tsx
  src/ui/index.ts
Owners: none

save settings should be cta
  src/pages/CircleAdminPage/CircleAdminPage.tsx
  src/pages/OrganizationSettingsPage/OrganizationSettingsPage.tsx
Owners: none

Fix progress bar colors
  src/components/ToastContainer.tsx
  src/stitches.config.ts
Owners: none

Remvoe clean_config
  hasura/metadata/databases/default/tables/public_contributions.yaml
Owners: @zashton, @topocount

Change event params
  api-lib/event_triggers/createContributionInteractionEvent.ts
Owners: none

Track contribution created events in Mixpanel
  api-lib/event_triggers/createContributionInteractionEvent.ts
  api/hasura/event_triggers/eventManager.ts
  hasura/metadata/databases/default/tables/public_contributions.yaml
Owners: @zashton, @topocount

fix: chain_id was being compared as a string (#1884)
  src/pages/ClaimsPage/LockedTokenGiftsTable.tsx
Owners: none

Migrate Existing createEpoch endpoint to createEpochOld
  api-lib/gql/__generated__/zeus/const.ts
  api-lib/gql/__generated__/zeus/index.ts
  api/hasura/actions/_handlers/createEpochOld.ts
  api/hasura/actions/actionManager.ts
  hasura/metadata/actions.graphql
  hasura/metadata/actions.yaml
  hasura/schema/admin/schema.graphql
  hasura/schema/user/schema.graphql
  src/hooks/useApiAdminCircle.ts
  src/lib/gql/__generated__/zeus/const.ts
  src/lib/gql/__generated__/zeus/index.ts
  src/lib/gql/mutations.ts
  src/pages/HistoryPage/EpochForm.tsx
Owners: @zashton, @topocount

use zod enum for frequency_unit & duration_unit
  api-test/hasura/actions/_handlers/createEpoch.test.ts
  api/hasura/actions/_handlers/createEpoch.ts
Owners: none

Implement New CreateEpoch API
  api-lib/gql/__generated__/zeus/const.ts
  api-lib/gql/__generated__/zeus/index.ts
  api-lib/gql/queries.ts
  api-test/hasura/actions/_handlers/createEpoch.test.ts
  api/hasura/actions/_handlers/createEpoch.ts
  hasura/metadata/actions.graphql
  hasura/metadata/actions.yaml
  hasura/metadata/databases/default/tables/public_epoches.yaml
  hasura/migrations/default/1670612024840_alter_table_public_epoches_add_column_repeat_data/down.sql
  hasura/migrations/default/1670612024840_alter_table_public_epoches_add_column_repeat_data/up.sql
  hasura/schema/admin/schema.graphql
  hasura/schema/user/schema.graphql
  src/lib/gql/__generated__/zeus/const.ts
  src/lib/gql/__generated__/zeus/index.ts
  src/lib/zod/formHelpers.ts
  src/pages/HistoryPage/EpochForm.tsx
Owners: @zashton, @topocount

Update hasura/migrations/default/1670612024840_alter_table_public_epoches_add_column_repeat_data/down.sql
  hasura/migrations/default/1670612024840_alter_table_public_epoches_add_column_repeat_data/down.sql
Owners: @zashton, @topocount

Add explicit duration to createEpoch API
  api-lib/gql/__generated__/zeus/index.ts
  api-test/hasura/actions/_handlers/createEpoch.test.ts
  api/hasura/actions/_handlers/createEpoch.ts
  hasura/metadata/actions.graphql
  hasura/schema/admin/schema.graphql
  hasura/schema/user/schema.graphql
  src/lib/gql/__generated__/zeus/index.ts
Owners: @zashton, @topocount

Fix progress bar colors (#1883)
  src/components/ToastContainer.tsx
  src/stitches.config.ts
Owners: none

fix regression in MetaMask login
  src/hooks/useWeb3React.tsx
Owners: none

Branding checkboxes labels (#1885)
  src/components/AvatarUpload.tsx
  src/components/FormInputField.tsx
  src/components/FormRadioGroup.tsx
  src/pages/CircleAdminPage/CircleAdminPage.tsx
  src/pages/CircleAdminPage/CircleApi/ApiKeyForm.tsx
  src/pages/CircleAdminPage/CircleApi/CircleApiKeys.tsx
  src/pages/CircleAdminPage/CircleLogoUpload.tsx
  src/pages/CreateCirclePage/CreateCircleForm.tsx
  src/pages/HistoryPage/EpochForm.tsx
  src/pages/MembersPage/MembersTable.tsx
  src/pages/NewNominationPage/NewNominationPage.tsx
  src/pages/OrganizationSettingsPage/OrganizationSettingsPage.tsx
  src/stitches.config.ts
  src/ui/Checkbox/CheckBox.tsx
  src/ui/FormLabel/FormLabel.stories.tsx
  src/ui/FormLabel/FormLabel.tsx
  src/ui/Panel/Panel.tsx
  src/ui/RadioGroup/RadioGroup.stories.tsx
  src/ui/RadioGroup/RadioGroup.tsx
  src/ui/Select/Select.tsx
  src/ui/Tooltip/Tooltip.tsx
  src/ui/index.ts
Owners: none

Track contribution created events in Mixpanel (#1880)
  api-lib/event_triggers/createContributionInteractionEvent.ts
  api/hasura/event_triggers/eventManager.ts
  hasura/metadata/databases/default/tables/public_contributions.yaml
Owners: @zashton, @topocount

fix contrast on vault form buttons
  src/pages/VaultsPage/CreateForm.tsx
Owners: none

upgrade to ethers 5.7.2
  api-test/hasura/cron/recoverTransactions.test.ts
  hardhat/dist/constants.d.ts
  hardhat/dist/constants.js
  hardhat/dist/hardhat.config.js
  hardhat/package.json
  hardhat/yarn.lock
  package.json
  yarn.lock
Owners: @levity, @topocount

upgrade to ethers 5.7.2 (#1888)
  api-test/hasura/cron/recoverTransactions.test.ts
  hardhat/dist/constants.d.ts
  hardhat/dist/constants.js
  hardhat/dist/hardhat.config.js
  hardhat/package.json
  hardhat/yarn.lock
  package.json
  yarn.lock
Owners: @levity, @topocount

catch repriced transactions on frontend
  src/hooks/useVaultFactory.ts
  src/hooks/useVaultRouter.ts
  src/lib/ethers/addContractWait.ts
  src/pages/ClaimsPage/useClaimAllocation.ts
  src/pages/DistributionsPage/useSubmitDistribution.ts
  src/utils/contractHelpers.ts
Owners: none

Implement New CreateEpoch API (#1773)
  api-lib/gql/__generated__/zeus/const.ts
  api-lib/gql/__generated__/zeus/index.ts
  api-lib/gql/queries.ts
  api-test/hasura/actions/_handlers/createEpoch.test.ts
  api/hasura/actions/_handlers/createEpoch.ts
  api/hasura/actions/_handlers/createEpochOld.ts
  api/hasura/actions/actionManager.ts
  hasura/metadata/actions.graphql
  hasura/metadata/actions.yaml
  hasura/metadata/databases/default/tables/public_epoches.yaml
  hasura/migrations/default/1670612024840_alter_table_public_epoches_add_column_repeat_data/down.sql
  hasura/migrations/default/1670612024840_alter_table_public_epoches_add_column_repeat_data/up.sql
  hasura/schema/admin/schema.graphql
  hasura/schema/user/schema.graphql
  src/hooks/useApiAdminCircle.ts
  src/lib/gql/__generated__/zeus/const.ts
  src/lib/gql/__generated__/zeus/index.ts
  src/lib/gql/mutations.ts
  src/lib/zod/formHelpers.ts
Owners: @zashton, @topocount

Implement Epoch Monthly backend
  api-test/hasura/actions/_handlers/createEpoch.test.ts
  api/hasura/actions/_handlers/createEpoch.ts
  src/common-lib/epochs.ts
Owners: none

Modify Monthly epoch search to truncate to last occurrence
  api-test/hasura/actions/_handlers/createEpoch.test.ts
  src/common-lib/epochs.ts
Owners: none

co-locate findSameDayNextMonth tests
  api-test/hasura/actions/_handlers/createEpoch.test.ts
  src/common-lib/epochs.test.ts
Owners: none

Implement Epoch Monthly backend (#1829)
  api-test/hasura/actions/_handlers/createEpoch.test.ts
  api/hasura/actions/_handlers/createEpoch.ts
  src/common-lib/epochs.test.ts
  src/common-lib/epochs.ts
Owners: none

update tests for zod enum change
  api-test/hasura/actions/_handlers/updateEpoch.test.ts
Owners: none

fix: get last test working
  api-test/hasura/actions/_handlers/updateEpoch.test.ts
Owners: none

include durations
  api-test/hasura/actions/_handlers/updateEpoch.test.ts
  api/hasura/actions/_handlers/updateEpoch.ts
Owners: none

clean up tests
  api-test/hasura/actions/_handlers/updateEpoch.test.ts
Owners: none

Refactor updateEpoch to utilize repeat_data
  api-lib/gql/__generated__/zeus/const.ts
  api-lib/gql/__generated__/zeus/index.ts
  api-test/hasura/actions/_handlers/updateEpoch.test.ts
  api/hasura/actions/_handlers/createEpoch.ts
  api/hasura/actions/_handlers/updateEpoch.ts
  hasura/metadata/actions.graphql
  hasura/schema/admin/schema.graphql
  hasura/schema/user/schema.graphql
  src/lib/gql/__generated__/zeus/const.ts
  src/lib/gql/__generated__/zeus/index.ts
Owners: @zashton, @topocount

Reintegrate existing API and move it to the Old namespace
  api-lib/gql/__generated__/zeus/const.ts
  api-lib/gql/__generated__/zeus/index.ts
  api/hasura/actions/_handlers/updateEpochOld.ts
  api/hasura/actions/actionManager.ts
  hasura/metadata/actions.graphql
  hasura/metadata/actions.yaml
  hasura/schema/admin/schema.graphql
  hasura/schema/user/schema.graphql
  src/lib/gql/__generated__/zeus/const.ts
  src/lib/gql/__generated__/zeus/index.ts
  src/lib/gql/mutations.ts
Owners: @zashton, @topocount

Refactor updateEpoch to utilize repeat_data (#1832)
  api-lib/gql/__generated__/zeus/const.ts
  api-lib/gql/__generated__/zeus/index.ts
  api-test/hasura/actions/_handlers/updateEpoch.test.ts
  api/hasura/actions/_handlers/createEpoch.ts
  api/hasura/actions/_handlers/updateEpoch.ts
  api/hasura/actions/_handlers/updateEpochOld.ts
  api/hasura/actions/actionManager.ts
  hasura/metadata/actions.graphql
  hasura/metadata/actions.yaml
  hasura/schema/admin/schema.graphql
  hasura/schema/user/schema.graphql
  src/lib/gql/__generated__/zeus/const.ts
  src/lib/gql/__generated__/zeus/index.ts
  src/lib/gql/mutations.ts
Owners: @zashton, @topocount

renaming magic link -> invite link
  api/hasura/actions/_handlers/createUserWithToken.ts
  src/common-lib/circleShareTokens.ts
  src/common-lib/constants.ts
  src/pages/AddMembersPage/AddMembersPage.tsx
  src/pages/AddMembersPage/InviteLink.tsx
  src/pages/AddMembersPage/useCircleTokens.ts
  src/pages/JoinCirclePage/JoinCirclePage.test.tsx
  src/pages/JoinCirclePage/JoinCirclePage.tsx
  src/pages/JoinCirclePage/JoinWithInviteLink.tsx
Owners: none

give allocator icon size and width adjustments. special small treatment for drawer view
  src/icons/__generated/MinusCircle.tsx
  src/icons/__generated/PlusCircle.tsx
  src/icons/feather/minus-circle.svg
  src/icons/feather/plus-circle.svg
  src/pages/GivePage/GiveAllocator.tsx
  src/pages/GivePage/GiveDrawer.tsx
Owners: none

form input
  src/pages/CircleAdminPage/CircleAdminPage.tsx
Owners: none

map full height fix
  src/pages/AssetMapPage/AssetMapPage.tsx
Owners: none

map full height fix (#1892)
  src/pages/AssetMapPage/AssetMapPage.tsx
Owners: none

upload shouldn't be wrapped in a text span
  src/components/AvatarUpload.tsx
  src/pages/CircleAdminPage/CircleLogoUpload.tsx
  src/pages/CreateCirclePage/CreateCircleForm.tsx
  src/pages/OrganizationSettingsPage/OrganizationSettingsPage.tsx
Owners: none

adding form group for styling utility
  src/pages/CircleAdminPage/CircleAdminPage.tsx
  src/ui/FormGroup/FormGroup.tsx
  src/ui/index.ts
Owners: none

.github/CODEOWNERS:

/cypress/   @topocount
/docker/    @topocount
/hardhat/   @levity @topocount
/hasura/    @zashton @topocount
/scripts/   @topocount
