Repository coordinape/coordinape, changes with the owners that .github/CODEOWNERS names for each.
All owners: @topocount, @levity, @zashton

.github/CODEOWNERS:

/cypress/   @topocount
/docker/    @topocount
/hardhat/   @levity @topocount
/hasura/    @zashton @topocount
/scripts/   @topocount

State refactor
  src/pages/HistoryPage/EpochForm.tsx
Owners: none

Remove never used give and note fields from member object
  src/pages/GivePage/index.tsx
Owners: none

bugfix: setGifts whenever data changes
  src/pages/GivePage/index.tsx
Owners: none

Remove unnecessary pendingGiftsFrom from useEffect
  src/pages/GivePage/index.tsx
Owners: none

fixup/refresh give setting on data change (#1603)
  src/pages/GivePage/index.tsx
Owners: none

Add CircleAPI Keys Interface to main CircleAdminPage
  src/pages/AdminCircleApiPage/ApiKeyRow.tsx
  src/pages/CircleAdminPage/CircleAdminPage.tsx
  src/pages/CircleAdminPage/CircleApi/ApiKeyDisplay.tsx
  src/pages/CircleAdminPage/CircleApi/ApiKeyForm.tsx
  src/pages/CircleAdminPage/CircleApi/ApiKeyRow.tsx
  src/pages/CircleAdminPage/CircleApi/CircleApiKeys.tsx
  src/pages/CircleAdminPage/CircleApi/constants.ts
  src/pages/CircleAdminPage/CircleApi/index.ts
  src/pages/CircleAdminPage/CircleApi/mutations.ts
  src/pages/CircleAdminPage/CircleApi/useCircleApiKeys.ts
  src/routes/routes.tsx
  src/utils/apiKeyHelper.ts
Owners: none

Add name column to profiles table
  api-lib/gql/__generated__/zeus/const.ts
  api-lib/gql/__generated__/zeus/index.ts
  hasura/metadata/databases/default/tables/public_profiles.yaml
  hasura/migrations/default/1666716995462_alter_table_public_profiles_add_column_name/down.sql
  hasura/migrations/default/1666716995462_alter_table_public_profiles_add_column_name/up.sql
  src/lib/gql/__generated__/zeus/const.ts
  src/lib/gql/__generated__/zeus/index.ts
Owners: @zashton, @topocount

add email column to profiles column
  api-lib/gql/__generated__/zeus/const.ts
  api-lib/gql/__generated__/zeus/index.ts
  hasura/migrations/default/1666988859939_alter_table_public_profiles_add_column_email/down.sql
  hasura/migrations/default/1666988859939_alter_table_public_profiles_add_column_email/up.sql
Owners: @zashton, @topocount

revert add email column
  api-lib/gql/__generated__/zeus/const.ts
  api-lib/gql/__generated__/zeus/index.ts
  hasura/migrations/default/1666988859939_alter_table_public_profiles_add_column_email/down.sql
  hasura/migrations/default/1666988859939_alter_table_public_profiles_add_column_email/up.sql
Owners: @zashton, @topocount

Fix E2E test
  cypress/e2e/createEpoch.cy.ts
  src/pages/HistoryPage/EpochForm.tsx
Owners: @topocount

fixes
  src/pages/HistoryPage/EpochForm.tsx
Owners: none

Update sentry packages
  package.json
  yarn.lock
Owners: none

Update sentry packages (#1616)
  package.json
  yarn.lock
Owners: none

Add name column to profiles table (#1584)
  api-lib/gql/__generated__/zeus/const.ts
  api-lib/gql/__generated__/zeus/index.ts
  hasura/metadata/databases/default/tables/public_profiles.yaml
  hasura/migrations/default/1666716995462_alter_table_public_profiles_add_column_name/down.sql
  hasura/migrations/default/1666716995462_alter_table_public_profiles_add_column_name/up.sql
  src/lib/gql/__generated__/zeus/const.ts
  src/lib/gql/__generated__/zeus/index.ts
Owners: @zashton, @topocount

bugfix: Don't reset saveState when switching drawers
  src/pages/GivePage/GiveDrawer.tsx
Owners: none

Claim Tokens Button on MobileHeader
  src/components/MainLayout/MobileHeader.tsx
Owners: none

Organize and imrpove storybook
  .storybook/main.js
  .storybook/preview.js
  package.json
  src/pages/DefaultPage/DefaultPage.stories.tsx
  src/ui/Button/Button.stories.tsx
  src/ui/IconButton/IconButton.stories.tsx
  src/ui/Modal.stories.tsx
  src/ui/Panel/Panel.stories.tsx
  src/ui/SavingIndicator.stories.tsx
  src/ui/SavingIndicator.tsx
  src/ui/Select/Select.stories.tsx
  src/ui/SvgIcon.stories.tsx
  src/ui/Text/Text.stories.tsx
  src/ui/TextArea/TextArea.stories.tsx
  src/ui/TextField/TextField.stories.tsx
  src/ui/ToggleButton.stories.tsx
  src/ui/Tooltip/Tooltip.stories.tsx
  yarn.lock
Owners: none

Organize and imrpove storybook (#1588)
  .storybook/main.js
  .storybook/preview.js
  package.json
  src/pages/DefaultPage/DefaultPage.stories.tsx
  src/ui/Button/Button.stories.tsx
  src/ui/IconButton/IconButton.stories.tsx
  src/ui/Modal.stories.tsx
  src/ui/Panel/Panel.stories.tsx
  src/ui/SavingIndicator.stories.tsx
  src/ui/SavingIndicator.tsx
  src/ui/Select/Select.stories.tsx
  src/ui/SvgIcon.stories.tsx
  src/ui/Text/Text.stories.tsx
  src/ui/TextArea/TextArea.stories.tsx
  src/ui/TextField/TextField.stories.tsx
  src/ui/ToggleButton.stories.tsx
  src/ui/Tooltip/Tooltip.stories.tsx
  yarn.lock
Owners: none

bugfix: Don't reset saveState when switching drawers (#1590)
  src/pages/GivePage/GiveDrawer.tsx
Owners: none

Copy over created date times during end epoch
  api/hasura/cron/epochs.ts
Owners: none

resolving react-refresh to 0.11.0 to fix import issues
  package.json
  yarn.lock
Owners: none

Copy over created date times during end epoch (#1619)
  api/hasura/cron/epochs.ts
Owners: none

resolving react-refresh to 0.11.0 to fix import issues (#1620)
  package.json
  yarn.lock
Owners: none

replace example contributor. don't know what I was smoking here
  src/pages/GivePage/index.tsx
Owners: none

space bar now opens the profile menu
  src/components/MyAvatarMenu/MyAvatarMenu.tsx
Owners: none

feat: Add `CenteredBox` story
  src/pages/JoinCirclePage/AddressIsNotMember.tsx
  src/pages/JoinCirclePage/JoinCirclePage.tsx
  src/pages/JoinCirclePage/JoinWithMagicLink.tsx
  src/ui/CenteredBox/CenteredBox.stories.tsx
  src/ui/CenteredBox/CenteredBox.tsx
  src/ui/index.ts
Owners: none

refactor: Remove unnecessary `title` and `decorators` props
  src/ui/CenteredBox/CenteredBox.stories.tsx
Owners: none

Update schema to add permissions for circle API users to read/create contributions
  hasura/metadata/databases/default/tables/public_circle_api_keys.yaml
  hasura/metadata/databases/default/tables/public_contributions.yaml
  hasura/migrations/default/1667278140823_contributions_api/down.sql
  hasura/migrations/default/1667278140823_contributions_api/up.sql
Owners: @zashton, @topocount

update generateApiKey to recognize read_discord
  hasura/metadata/actions.graphql
  src/lib/zod/index.ts
Owners: @zashton, @topocount

Bot schema (#988)
  api-lib/gql/__generated__/zeus/const.ts
  api-lib/gql/__generated__/zeus/index.ts
  api/hasura/actions/linkDiscordUser.ts
  hasura/metadata/actions.graphql
  hasura/metadata/actions.yaml
  hasura/metadata/databases/default/tables/discord_roles_circles.yaml
  hasura/metadata/databases/default/tables/discord_users.yaml
  hasura/metadata/databases/default/tables/tables.yaml
  hasura/migrations/default/1654145945592_create_table_discord_roles_circles/down.sql
  hasura/migrations/default/1654145945592_create_table_discord_roles_circles/up.sql
  hasura/migrations/default/1654146590714_create_table_discord_users/down.sql
  hasura/migrations/default/1654146590714_create_table_discord_users/up.sql
  hasura/migrations/default/1654202757203_alter_table_public_circle_api_keys_add_column_read_discord/down.sql
  hasura/migrations/default/1654202757203_alter_table_public_circle_api_keys_add_column_read_discord/up.sql
  hasura/schema/admin/schema.graphql
  hasura/schema/user/schema.graphql
  src/lib/gql/__generated__/zeus/const.ts
  src/lib/gql/__generated__/zeus/index.ts
  src/lib/zod/index.ts
Owners: @zashton, @topocount

consolidate blur and onchange event on giveAllocator
  src/pages/GivePage/GiveAllocator.tsx
Owners: none

claim button is now an anchor
  cypress/e2e/createVault.cy.ts
Owners: @topocount

include name profiles in users queries
  api-lib/event_triggers/createCircleCRM.ts
  api-lib/event_triggers/utils/handleVouchMsg.ts
  api-lib/findUser.ts
  api-lib/gql/queries.ts
  api-lib/handleNomineeCreatedMsg.ts
  api-lib/handleRefundGiveMsg.ts
  api/circle/landing/[token].ts
  api/hasura/actions/_handlers/allocationCsv.ts
  api/hasura/cron/dailyUpdate.ts
  api/hasura/cron/epochs.ts
  src/components/ProfileCard/ProfileCard.test.tsx
  src/components/ReceiveInfo.tsx
  src/hooks/gql/useVaults.ts
  src/lib/gql/mutations/vaults.ts
  src/lib/gql/queries.ts
  src/pages/AdminCircleApiPage/ApiKeyRow.tsx
  src/pages/AdminCircleApiPage/useCircleApiKeys.ts
  src/pages/AllocationPage/AllocationTeam.tsx
  src/pages/AllocationPage/queries.ts
  src/pages/DistributionsPage/queries.ts
  src/pages/GivePage/EpochStatementDrawer.tsx
  src/pages/GivePage/GiveDrawer.tsx
  src/pages/GivePage/GiveRow.tsx
  src/pages/GivePage/index.tsx
  src/pages/GivePage/queries.ts
  src/pages/HistoryPage/EpochPanel.tsx
  src/pages/HistoryPage/HistoryPage.test.tsx
  src/pages/HistoryPage/getHistoryData.ts
  src/pages/JoinCirclePage/JoinWithMagicLink.tsx
  src/pages/MembersPage/NomineeTable.tsx
  src/pages/MembersPage/getActiveNominees.tsx
  src/pages/ProfilePage/ProfilePage.tsx
  src/pages/VaultsPage/VaultTransactions.tsx
  src/pages/VaultsPage/queries.ts
  src/recoilState/map.ts
  src/types/api.user.profile.d.ts
  src/utils/testing/recoil.ts
Owners: none

feat: Add `CenteredBox` story (#1611)
  src/pages/JoinCirclePage/AddressIsNotMember.tsx
  src/pages/JoinCirclePage/JoinCirclePage.tsx
  src/pages/JoinCirclePage/JoinWithMagicLink.tsx
  src/ui/CenteredBox/CenteredBox.stories.tsx
  src/ui/CenteredBox/CenteredBox.tsx
  src/ui/index.ts
Owners: none

Logging Fixed Payment distribution claim amounts (#1503)
  api/hasura/actions/_handlers/allocationCsv.test.ts
  api/hasura/actions/_handlers/allocationCsv.ts
  src/common-lib/distributions.test.ts
  src/common-lib/distributions.ts
  src/pages/DistributionsPage/AllocationsTable.tsx
  src/pages/DistributionsPage/DistributionsPage.test.tsx
  src/pages/DistributionsPage/DistributionsPage.tsx
  src/pages/DistributionsPage/queries.ts
  src/pages/DistributionsPage/useSubmitDistribution.test.tsx
  src/pages/DistributionsPage/useSubmitDistribution.ts
Owners: none

refactor: Use `Flex` props
  src/components/AvatarUpload.tsx
  src/components/CircleWithLogo.tsx
  src/components/DeprecatedApeTextField.tsx
  src/components/Drawer.tsx
  src/components/FormRadioGroup.tsx
  src/components/HelpButton.tsx
  src/components/MyAvatarMenu/RecentTransactionsModal.tsx
  src/components/ProfileCard/CardInfoText.tsx
  src/components/ProfileCard/ProfileCard.tsx
  src/pages/AddMembersPage/AddMembersPage.tsx
  src/pages/AddMembersPage/MagicLink.tsx
  src/pages/CircleAdminPage/AdminIntegrations.tsx
  src/pages/CircleAdminPage/CircleAdminPage.tsx
  src/pages/CircleAdminPage/CircleLogoUpload.tsx
  src/pages/CirclesPage/CirclesPage.tsx
  src/pages/ContributionsPage/ContributionsPage.tsx
  src/pages/CreateCirclePage/CreateCirclePage.tsx
  src/pages/DefaultPage/DefaultPage.tsx
  src/pages/DistributionsPage/AllocationsTable.tsx
  src/pages/GivePage/EpochStatementDrawer.tsx
  src/pages/GivePage/GiveDrawer.tsx
  src/pages/GivePage/MyGiveRow.tsx
  src/pages/GivePage/index.tsx
  src/pages/HistoryPage/CurrentEpochPanel.tsx
  src/pages/HistoryPage/EpochForm.tsx
  src/pages/HistoryPage/EpochPanel.tsx
  src/pages/HistoryPage/HistoryPage.tsx
  src/pages/HistoryPage/NextEpoch.tsx
  src/pages/JoinCirclePage/CenteredBox.tsx
  src/pages/MembersPage/MembersTable.tsx
  src/pages/MembersPage/NomineeTable.tsx
  src/pages/MembersPage/index.tsx
  src/pages/NewNominationPage/NewNominationPage.tsx
  src/pages/OrganizationPage/OrganizationPage.tsx
  src/pages/OrganizationSettingsPage/OrganizationSettingsPage.tsx
  src/ui/Checkbox/CheckBox.tsx
  src/ui/CircleWithLogo.tsx
  src/ui/SavingIndicator.tsx
Owners: none

refactor: Remove unnecessary `title` and `decorators` props
  src/ui/Flex/Flex.stories.tsx
Owners: none

feat: Add `Flex` story
  src/ui/Flex.tsx
  src/ui/Flex/Flex.stories.tsx
  src/ui/Flex/Flex.tsx
  src/ui/index.ts
Owners: none

api handler for pricePerShare remote schema
  api/hasura/remote/vaults.ts
  package.json
  scripts/serve_dev.ts
  yarn.lock
Owners: @topocount

proof-of-concept: pricePerShare in Hasura
  hasura/metadata/databases/default/tables/public_vaults.yaml
  hasura/metadata/remote_schemas.yaml
Owners: @zashton, @topocount
