Repository coordinape/coordinape, changes with the owners that .github/CODEOWNERS names for each.
All owners: @topocount, @levity, @zashton

.github/CODEOWNERS:

/cypress/   @topocount
/docker/    @topocount
/hardhat/   @levity @topocount
/hasura/    @zashton @topocount
/scripts/   @topocount

fix creation of simple vaults
  src/pages/VaultsPage/CreateForm.tsx
Owners: none

remove line break
  src/pages/VaultsPage/VaultRow.tsx
Owners: none

add formatting
  cypress/e2e/createVault.cy.ts
  src/pages/VaultsPage/VaultRow.tsx
Owners: @topocount

more updates to e2e test
  cypress/e2e/createVault.cy.ts
Owners: @topocount

test: GitHub action on PR
  .github/workflows/test.yml
Owners: none

hide checkbox if its not a WETH vault deposit
  src/pages/VaultsPage/DepositModal.tsx
Owners: none

add interaction_events -> profile relationship
  hasura/metadata/databases/default/tables/public_interaction_events.yaml
Owners: @zashton, @topocount

Fix for create simple vaults (#1478)
  cypress/e2e/createVault.cy.ts
  src/pages/VaultsPage/VaultTransactions.tsx
Owners: @topocount

Fix number with commas func
  src/utils/index.ts
Owners: none

add tests
  src/utils/index.test.ts
  src/utils/index.ts
Owners: none

Wrapping of ETH to WETH during deposit and unwrapping to ETH when claming (#1447)
  cypress/e2e/createVault.cy.ts
  hardhat/hardhat.config.ts
  src/hooks/useVaultRouter.ts
  src/pages/ClaimsPage/ClaimsPage.tsx
  src/pages/ClaimsPage/hooks.ts
  src/pages/ClaimsPage/useClaimAllocation.test.tsx
  src/pages/ClaimsPage/useClaimAllocation.ts
  src/pages/VaultsPage/DepositModal.tsx
  src/pages/VaultsPage/VaultRow.tsx
  src/ui/Modal.tsx
Owners: @topocount, @levity

Fix number with commas helper function (#1482)
  src/utils/index.test.ts
  src/utils/index.ts
Owners: none

Deletion of pending distribution records
  api/hasura/cron/recoverTransactions.ts
  hasura/migrations/default/1665330873631_set_fk_public_claims_distribution_id/down.sql
  hasura/migrations/default/1665330873631_set_fk_public_claims_distribution_id/up.sql
Owners: @zashton, @topocount

rm assertDef dep from merkle-distributor
  src/lib/merkle-distributor/index.ts
Owners: none

remove utils/tools
  src/forms/createForm.tsx
  src/hooks/useApiBase.ts
  src/lib/vaults/contracts.ts
  src/pages/AssetMapPage/AMProfileCard.tsx
  src/recoilState/app.ts
  src/recoilState/db.ts
  src/recoilState/map.ts
  src/utils/index.ts
  src/utils/modelExtenders.ts
  src/utils/recoil.ts
  src/utils/storage.ts
  src/utils/tools.ts
Owners: none

Remove unneccessary Box in SavingIndicator
  src/pages/GivePage/SavingIndicator.tsx
  src/ui/Button/Button.tsx
Owners: none

Logging Fixed Payment distribution claim amounts
  api-lib/gql/__generated__/zeus/const.ts
  api-lib/gql/__generated__/zeus/index.ts
  api/hasura/actions/_handlers/allocationCsv.test.ts
  api/hasura/actions/_handlers/allocationCsv.ts
  hasura/metadata/databases/default/tables/public_claims.yaml
  hasura/migrations/default/1665403016733_alter_table_public_claims_add_column_fixed_payment_amount/down.sql
  hasura/migrations/default/1665403016733_alter_table_public_claims_add_column_fixed_payment_amount/up.sql
  src/lib/gql/__generated__/zeus/const.ts
  src/lib/gql/__generated__/zeus/index.ts
  src/lib/merkle-distributor/fixtures.json
  src/lib/merkle-distributor/index.test.ts
  src/lib/merkle-distributor/index.ts
  src/lib/merkle-distributor/parse-balance-map.ts
  src/pages/DistributionsPage/AllocationsTable.tsx
  src/pages/DistributionsPage/DistributionsPage.tsx
  src/pages/DistributionsPage/queries.ts
  src/pages/DistributionsPage/useSubmitDistribution.ts
Owners: @zashton, @topocount

Remove unneccessary Box in SavingIndicator (#1483)
  src/pages/GivePage/SavingIndicator.tsx
  src/ui/Button/Button.tsx
Owners: none

remove consoles
  api/hasura/actions/_handlers/allocationCsv.ts
Owners: none

remove grotesk font. avatar alignment
  public/index.html
  src/components/OrgLogoUpload.tsx
  src/pages/AdminCircleApiPage/ApiKeyDisplay.tsx
  src/pages/AdminCircleApiPage/ApiKeyForm.tsx
  src/pages/CirclesPage/CirclesPage.tsx
  src/pages/OrganizationPage/OrganizationPage.tsx
  src/pages/VaultsPage/CreateForm.tsx
  src/pages/VaultsPage/VaultRow.tsx
  src/ui/Text/Text.tsx
Owners: none

text param fix
  src/pages/AdminCircleApiPage/ApiKeyDisplay.tsx
Owners: none

Circles page avatar alignment (#1492)
  public/index.html
  src/components/OrgLogoUpload.tsx
  src/pages/AdminCircleApiPage/ApiKeyDisplay.tsx
  src/pages/AdminCircleApiPage/ApiKeyForm.tsx
  src/pages/CirclesPage/CirclesPage.tsx
  src/pages/OrganizationPage/OrganizationPage.tsx
  src/pages/VaultsPage/CreateForm.tsx
  src/pages/VaultsPage/VaultRow.tsx
  src/ui/Text/Text.tsx
Owners: none

update org permissions
  hasura/metadata/databases/default/tables/public_organizations.yaml
Owners: @zashton, @topocount

create org settings page
  src/pages/OrganizationPage/OrganizationPage.tsx
  src/pages/OrganizationPage/getOrgData.ts
  src/pages/OrganizationSettingsPage/OrganizationSettingsPage.tsx
  src/pages/OrganizationSettingsPage/getOrgData.ts
  src/pages/OrganizationSettingsPage/index.ts
Owners: none

fix express file upload size limit
  scripts/serve_dev.ts
Owners: @topocount

Remove unneeded useEffect
  src/hooks/useImageUploader.tsx
Owners: none

Add error handling to uploadOrgLogo
  api/hasura/actions/_handlers/uploadOrgLogo.ts
Owners: none

add routes
  src/routes/paths.ts
  src/routes/routes.tsx
Owners: none

update types
  api-lib/gql/__generated__/zeus/const.ts
  api-lib/gql/__generated__/zeus/index.ts
  src/lib/gql/__generated__/zeus/const.ts
  src/lib/gql/__generated__/zeus/index.ts
Owners: none

Fix validation messages
  src/pages/OrganizationSettingsPage/OrganizationSettingsPage.tsx
Owners: none

update name of mutation
  src/pages/OrganizationSettingsPage/OrganizationSettingsPage.tsx
  src/pages/OrganizationSettingsPage/mutations.ts
Owners: none

remove icons from buttons on org page
  src/pages/OrganizationPage/OrganizationPage.tsx
Owners: none

replace settings and add circle links. remove org upload avatar and replace with just an avatar
  src/pages/CirclesPage/CirclesPage.tsx
  src/pages/OrganizationPage/OrganizationPage.tsx
Owners: none

remove left margin on org title
  src/pages/CirclesPage/CirclesPage.tsx
  src/pages/OrganizationPage/OrganizationPage.tsx
Owners: none

Update telegram chat_id tooltip
  src/pages/OrganizationSettingsPage/OrganizationSettingsPage.tsx
Owners: none

organization page header margin
  src/pages/OrganizationSettingsPage/OrganizationSettingsPage.tsx
Owners: none

Update types from `yarn generate`
  api-lib/gql/__generated__/zeus/const.ts
  api-lib/gql/__generated__/zeus/index.ts
Owners: none

Create Org Settings Page (#1484)
  api-lib/gql/__generated__/zeus/const.ts
  api-lib/gql/__generated__/zeus/index.ts
  api/hasura/actions/_handlers/uploadOrgLogo.ts
  hasura/metadata/databases/default/tables/public_organizations.yaml
  scripts/serve_dev.ts
  src/hooks/useImageUploader.tsx
  src/lib/gql/__generated__/zeus/const.ts
  src/lib/gql/__generated__/zeus/index.ts
  src/pages/CirclesPage/CirclesPage.tsx
  src/pages/OrganizationPage/OrganizationPage.tsx
  src/pages/OrganizationPage/getOrgData.ts
  src/pages/OrganizationSettingsPage/OrganizationSettingsPage.tsx
  src/pages/OrganizationSettingsPage/index.ts
  src/pages/OrganizationSettingsPage/mutations.ts
  src/routes/paths.ts
  src/routes/routes.tsx
Owners: @zashton, @topocount

create up and down migrations
  hasura/migrations/default/1663969892942_rename-users-members/down.sql
  hasura/migrations/default/1663969892942_rename-users-members/up.sql
Owners: @zashton, @topocount

disable mock data and console.log
  src/pages/ContributionsPage/ContributionsPage.tsx
Owners: none
