Repository coordinape/coordinape, changes with the owners that .github/CODEOWNERS names for each.
All owners: @topocount, @levity, @zashton

add return
  api/hasura/actions/_handlers/deleteUser.ts
Owners: none

remove close button and update address field
  src/components/MainLayout/CreateUserNameForm.tsx
  src/components/MainLayout/MainHeader.tsx
Owners: none

fix: updating to use new hedgey portfolio
  src/pages/ClaimsPage/LockedTokenGiftsTable.tsx
Owners: none

fix alignment issues
  src/components/MainLayout/CreateUserNameForm.tsx
Owners: none

remove close button and update address field (#1781)
  src/components/MainLayout/CreateUserNameForm.tsx
  src/components/MainLayout/MainHeader.tsx
Owners: none

don't filter out deleted users in csv export
  api/hasura/actions/_handlers/allocationCsv.ts
Owners: none

fix update/delete behavior for locked_token_distributions
  hasura/migrations/default/1670234780227_create_table_public_locked_token_distributions/up.sql
Owners: @zashton, @topocount

More schema changes for Hedgey
  api-lib/gql/__generated__/zeus/const.ts
  api-lib/gql/__generated__/zeus/index.ts
  hardhat/deploymentInfo.json
  hardhat/dist/deploymentInfo.json
  hasura/metadata/databases/default/tables/public_locked_token_distribution_gifts.yaml
  hasura/metadata/databases/default/tables/public_locked_token_distributions.yaml
  hasura/metadata/databases/default/tables/tables.yaml
  hasura/migrations/default/1671022164553_create_table_public_locked_token_distribution_gifts/down.sql
  hasura/migrations/default/1671022164553_create_table_public_locked_token_distribution_gifts/up.sql
  hasura/schema/admin/schema.graphql
  hasura/schema/user/schema.graphql
  scripts/db_clean.ts
  src/lib/gql/__generated__/zeus/const.ts
  src/lib/gql/__generated__/zeus/index.ts
Owners: @levity, @topocount, @zashton

let non-admins see locked distro gifts
  hasura/metadata/databases/default/tables/public_locked_token_distribution_gifts.yaml
Owners: @zashton, @topocount

More schema changes for Hedgey (#1780)
  api-lib/gql/__generated__/zeus/const.ts
  api-lib/gql/__generated__/zeus/index.ts
  hardhat/deploymentInfo.json
  hardhat/dist/deploymentInfo.json
  hasura/metadata/databases/default/tables/public_locked_token_distribution_gifts.yaml
  hasura/metadata/databases/default/tables/public_locked_token_distributions.yaml
  hasura/metadata/databases/default/tables/tables.yaml
  hasura/migrations/default/1670234780227_create_table_public_locked_token_distributions/up.sql
  hasura/migrations/default/1671022164553_create_table_public_locked_token_distribution_gifts/down.sql
  hasura/migrations/default/1671022164553_create_table_public_locked_token_distribution_gifts/up.sql
  hasura/schema/admin/schema.graphql
  hasura/schema/user/schema.graphql
  scripts/db_clean.ts
  src/lib/gql/__generated__/zeus/const.ts
  src/lib/gql/__generated__/zeus/index.ts
Owners: @levity, @topocount, @zashton

feat: hedgey-frontend-integration admin and distribution form changes
  src/lib/gql/mutations.ts
  src/lib/hedgey/index.ts
  src/pages/CircleAdminPage/AdminIntegrations.tsx
  src/pages/CircleAdminPage/HedgeyIntegrationSettings.tsx
  src/pages/DistributionsPage/DistributionForm.tsx
  src/pages/DistributionsPage/mutations.ts
  src/pages/DistributionsPage/useLockedTokenDistributions.tsx
Owners: none

fix initial enabling of hedgey integration
  src/pages/CircleAdminPage/HedgeyIntegrationSettings.tsx
Owners: none

feat: adding etherscan button
  src/pages/DistributionsPage/DistributionForm.tsx
  src/pages/DistributionsPage/useLockedTokenDistributions.tsx
Owners: none

fix DistributionsPage test
  src/pages/DistributionsPage/DistributionsPage.test.tsx
Owners: none

feat: locked token distribution
  src/lib/hedgey/BatchNFTMinter.json
  src/lib/hedgey/index.ts
  src/pages/DistributionsPage/DistributionForm.tsx
  src/pages/DistributionsPage/queries.ts
  src/pages/DistributionsPage/useLockedTokenDistributions.tsx
Owners: none

simplify rendering of settings
  src/pages/CircleAdminPage/HedgeyIntegrationSettings.tsx
Owners: none

feat: adding hedgey table to the claims page
  src/pages/ClaimsPage/ClaimsPage.tsx
  src/pages/ClaimsPage/LockedTokenGiftsTable.tsx
  src/pages/ClaimsPage/queries.ts
  src/pages/DistributionsPage/DistributionForm.tsx
  src/pages/DistributionsPage/mutations.ts
  src/pages/DistributionsPage/queries.ts
  src/pages/DistributionsPage/useLockedTokenDistributions.tsx
Owners: none

fix: updating to use new hedgey contract
  src/lib/hedgey/BatchNFTMinter.json
  src/lib/hedgey/index.ts
Owners: none

cta secondary toggles.... colors
  src/components/ReceiveInfo.tsx
  src/pages/GivePage/GiveAllocator.tsx
  src/pages/GivePage/GiveDrawer.tsx
  src/pages/GivePage/GiveRow.tsx
  src/pages/GivePage/index.tsx
  src/stitches.config.ts
  src/ui/Avatar/Avatar.tsx
  src/ui/MarkdownPreview/MarkdownPreview.tsx
  src/ui/Text/Text.tsx
Owners: none

Apply suggestions from code review
  api-test/hasura/actions/_handlers/deleteUser.test.ts
Owners: none

fix hasura schema
  api-lib/gql/__generated__/zeus/const.ts
  api-lib/gql/__generated__/zeus/index.ts
  hasura/schema/admin/schema.graphql
  hasura/schema/user/schema.graphql
  src/lib/gql/__generated__/zeus/const.ts
  src/lib/gql/__generated__/zeus/index.ts
Owners: @zashton, @topocount

move test
  api-lib/authHelpers.test.ts
Owners: none

fix hasura schema (#1783)
  api-lib/authHelpers.test.ts
  api-lib/gql/__generated__/zeus/const.ts
  api-lib/gql/__generated__/zeus/index.ts
  hasura/schema/admin/schema.graphql
  hasura/schema/user/schema.graphql
  src/lib/gql/__generated__/zeus/const.ts
  src/lib/gql/__generated__/zeus/index.ts
Owners: @zashton, @topocount

Fix to deleteUser unit test (#1776)
  api-test/hasura/actions/_handlers/deleteUser.test.ts
  api/hasura/actions/_handlers/deleteUser.ts
Owners: none

feat: Enable the discord feature
  api/hasura/auth.ts
  src/config/features.ts
Owners: none

fix: save not indicating and failing
  src/pages/CircleAdminPage/HedgeyIntegrationSettings.tsx
Owners: none

fix: select contents should show above other elements
  src/ui/Select/Select.tsx
Owners: none

fix: Hedgey option when enabled was mixed up
  src/pages/DistributionsPage/DistributionForm.tsx
Owners: none

fix: transaction don't complete as vault value is not updated on change
  src/pages/DistributionsPage/DistributionForm.tsx
Owners: none

fix: updating to use latest hedgey portfolio
  src/pages/ClaimsPage/LockedTokenGiftsTable.tsx
Owners: none

fix: claims page number conversion
  src/pages/ClaimsPage/LockedTokenGiftsTable.tsx
Owners: none

feat: Enable the discord feature (#1784)
  api/hasura/auth.ts
  src/config/features.ts
Owners: none

Delete old give page (#1775)
  cypress/e2e/allocate.cy.ts
  cypress/e2e/give.cy.ts
  src/components/MainLayout/CircleNav.tsx
  src/pages/AllocationPage/AllocationEpoch.tsx
  src/pages/AllocationPage/AllocationGive.tsx
  src/pages/AllocationPage/AllocationPage.tsx
  src/pages/AllocationPage/AllocationStepper.tsx
  src/pages/AllocationPage/AllocationTeam.tsx
  src/pages/AllocationPage/BalanceContainer.tsx
  src/pages/AllocationPage/BalanceDescription.tsx
  src/pages/AllocationPage/SaveButtonContainer.tsx
  src/pages/AllocationPage/calculations.ts
  src/pages/AllocationPage/index.ts
  src/pages/AllocationPage/queries.ts
  src/pages/CirclesPage/CirclesPage.tsx
  src/pages/GivePage/ContributorButton.tsx
  src/pages/GivePage/GiveDrawer.tsx
  src/pages/GivePage/GiveRow.tsx
  src/pages/GivePage/index.tsx
  src/pages/GivePage/queries.ts
  src/pages/HistoryPage/CurrentEpochPanel.tsx
  src/recoilState/allocation.test.tsx
  src/recoilState/allocation.ts
  src/recoilState/app.ts
  src/recoilState/index.ts
  src/recoilState/ui.ts
  src/routes/allocation.ts
  src/routes/paths.ts
  src/routes/routes.tsx
  src/types/allocation.d.ts
  src/types/api.epoch.d.ts
Owners: @topocount

fix createUserMutation
  api-test/hasura/actions/_handlers/createUserMutation.test.ts
  api-test/helpers/getUniqueAddress.ts
  api-test/helpers/profiles.ts
  api/hasura/actions/_handlers/createUserMutation.ts
Owners: none

add try/catch to remote/vaults handler
  api/hasura/remote/vaults.ts
Owners: none

get price_per_share from Hasura
  api/hasura/actions/_handlers/allocationCsv.test.ts
  api/hasura/actions/_handlers/allocationCsv.ts
  src/common-lib/distributions.test.ts
  src/common-lib/distributions.ts
  src/pages/ClaimsPage/queries.ts
  src/pages/ClaimsPage/useClaimAllocation.test.tsx
  src/pages/DistributionsPage/DistributionsPage.test.tsx
  src/pages/DistributionsPage/DistributionsPage.tsx
  src/pages/DistributionsPage/queries.ts
Owners: none

add integration tests
  api-test/hasura/remote/vaults.test.ts
  api-test/helpers/organizations.ts
  api-test/helpers/profiles.ts
Owners: none

members table colors
  src/components/Table.tsx
  src/pages/ContributionsPage/ContributionRow.tsx
  src/pages/ContributionsPage/ContributionsPage.tsx
  src/pages/MembersPage/MembersTable.tsx
  src/ui/Panel/Panel.tsx
  src/ui/Table/Table.tsx
Owners: none

debug tests in CI
  api-test/hasura/remote/vaults.test.ts
Owners: none

Show users in csv if deleted after epoch ends
  api/hasura/actions/_handlers/allocationCsv.ts
Owners: none

.github/CODEOWNERS:

/cypress/   @topocount
/docker/    @topocount
/hardhat/   @levity @topocount
/hasura/    @zashton @topocount
/scripts/   @topocount
