Repository coordinape/coordinape, changes with the owners that .github/CODEOWNERS names for each.
All owners: @topocount, @levity, @zashton

.github/CODEOWNERS:

/cypress/   @topocount
/docker/    @topocount
/hardhat/   @levity @topocount
/hasura/    @zashton @topocount
/scripts/   @topocount

we ended up with two flex components. I'm keeping the better one. also there was a duplicate centered-box
  src/components/CircleWithLogo.tsx
  src/components/DragFileUpload.tsx
  src/pages/JoinCirclePage/CenteredBox.tsx
  src/pages/MembersPage/Table.tsx
  src/ui/CenteredBox/CenteredBox.tsx
  src/ui/CircleWithLogo.tsx
  src/ui/Flex/Flex.tsx
Owners: none

ui flex folder structure in anticipation of storybook story
  src/ui/Flex.tsx
  src/ui/index.ts
Owners: none

folder addition
  src/ui/Flex/Flex.tsx
Owners: none

bugfix: contribution entry with many future epochs
  src/pages/ContributionsPage/ContributionsPage.tsx
  src/pages/ContributionsPage/util.tsx
Owners: none

Remove un-needed old flex component (#1626)
  src/components/CircleWithLogo.tsx
  src/components/DragFileUpload.tsx
  src/pages/JoinCirclePage/CenteredBox.tsx
  src/pages/MembersPage/Table.tsx
  src/ui/CenteredBox/CenteredBox.tsx
  src/ui/CircleWithLogo.tsx
  src/ui/Flex.tsx
  src/ui/Flex/Flex.tsx
  src/ui/index.ts
Owners: none

feat: Add `Flex` story (#1610)
  src/components/AvatarUpload.tsx
  src/components/CircleWithLogo.tsx
  src/components/DeprecatedApeTextField.tsx
  src/components/Drawer.tsx
  src/components/FormRadioGroup.tsx
  src/components/HelpButton.tsx
  src/components/MyAvatarMenu/RecentTransactionsModal.tsx
  src/components/ProfileCard/CardInfoText.tsx
  src/components/ProfileCard/ProfileCard.tsx
  src/pages/AddMembersPage/AddMembersPage.tsx
  src/pages/AddMembersPage/MagicLink.tsx
  src/pages/CircleAdminPage/AdminIntegrations.tsx
  src/pages/CircleAdminPage/CircleAdminPage.tsx
  src/pages/CircleAdminPage/CircleLogoUpload.tsx
  src/pages/CirclesPage/CirclesPage.tsx
  src/pages/ContributionsPage/ContributionsPage.tsx
  src/pages/CreateCirclePage/CreateCirclePage.tsx
  src/pages/DefaultPage/DefaultPage.tsx
  src/pages/DistributionsPage/AllocationsTable.tsx
  src/pages/GivePage/EpochStatementDrawer.tsx
  src/pages/GivePage/GiveDrawer.tsx
  src/pages/GivePage/MyGiveRow.tsx
  src/pages/GivePage/index.tsx
  src/pages/HistoryPage/CurrentEpochPanel.tsx
  src/pages/HistoryPage/EpochForm.tsx
  src/pages/HistoryPage/EpochPanel.tsx
  src/pages/HistoryPage/HistoryPage.tsx
  src/pages/HistoryPage/NextEpoch.tsx
  src/pages/JoinCirclePage/CenteredBox.tsx
  src/pages/MembersPage/MembersTable.tsx
  src/pages/MembersPage/NomineeTable.tsx
  src/pages/MembersPage/index.tsx
  src/pages/NewNominationPage/NewNominationPage.tsx
  src/pages/OrganizationPage/OrganizationPage.tsx
  src/pages/OrganizationSettingsPage/OrganizationSettingsPage.tsx
  src/ui/Checkbox/CheckBox.tsx
  src/ui/CircleWithLogo.tsx
  src/ui/Flex/Flex.stories.tsx
  src/ui/SavingIndicator.tsx
Owners: none

refactor: Remove unnecessary `title` and `decorators` props
  src/ui/BackButton/BackButton.stories.tsx
Owners: none

feat: Add `BackButton` story
  src/pages/AddMembersPage/AddMembersPage.tsx
  src/pages/DistributionsPage/DistributionsPage.tsx
  src/pages/NewNominationPage/NewNominationPage.tsx
  src/ui/BackButton/BackButton.stories.tsx
  src/ui/BackButton/BackButton.tsx
  src/ui/index.ts
Owners: none

refactor: Remove unnecessary `title` and `decorators` props
  src/ui/Checkbox/CheckBox.stories.tsx
Owners: none

feat: Add `Checkbox` story
  src/ui/Checkbox/CheckBox.stories.tsx
Owners: none

refactor: Add text field to the story
  src/ui/FormLabel/FormLabel.stories.tsx
Owners: none

feat: Add `FormLabel` story
  src/ui/FormLabel/FormLabel.stories.tsx
  src/ui/FormLabel/FormLabel.tsx
Owners: none

refactor: Remove unnecessary `title` and `decorators` props
  src/ui/FormLabel/FormLabel.stories.tsx
Owners: none

feat: Add `Image` story
  src/ui/Image/Image.stories.tsx
Owners: none

refactor: Remove unnecessary `title` and `decorators` props
  src/ui/Image/Image.stories.tsx
Owners: none

refactor: Remove unnecessary `title` and `decorators` props
  src/ui/layouts.stories.tsx
Owners: none

feat: Add `Layouts` story
  src/ui/layouts.stories.tsx
Owners: none

feat: Add `Link` story
  src/ui/Link/Link.stories.tsx
  src/ui/Link/Link.tsx
Owners: none

refactor: Remove unnecessary `title` and `decorators` props
  src/ui/Link/Link.stories.tsx
Owners: none

feat: Add `Table` story
  src/ui/Table/Table.stories.tsx
Owners: none

refactor: Remove unnecessary `title` and `decorators` props
  src/ui/Table/Table.stories.tsx
Owners: none

bugfix: contribution entry with many future epochs (#1627)
  src/pages/ContributionsPage/ContributionsPage.tsx
  src/pages/ContributionsPage/util.tsx
Owners: none

Add fake "NextEpoch" row when repeating epoch is active
  src/hooks/useApiAdminCircle.ts
  src/pages/HistoryPage/EpochForm.tsx
  src/pages/HistoryPage/HistoryPage.tsx
Owners: none

remove link font dec
  src/ui/Link/Link.tsx
Owners: none

fixing missing id and address
  src/lib/gql/queries.ts
Owners: none

adding && showClaimsButton
  src/components/MainLayout/MobileHeader.tsx
Owners: none

proof-of-concept: pricePerShare in Hasura
  hasura/metadata/databases/default/tables/public_vaults.yaml
  hasura/metadata/remote_schemas.yaml
Owners: @zashton, @topocount

api handler for pricePerShare remote schema
  api/hasura/remote/vaults.ts
  package.json
  scripts/serve_dev.ts
  yarn.lock
Owners: @topocount

refactor: Remove withDesign
  src/ui/RadioGroup/RadioGroup.stories.tsx
Owners: none

feat: Add global argtypes
  .storybook/preview.js
Owners: none

feat: Add `RadioGroup` story
  src/ui/RadioGroup/RadioGroup.stories.tsx
Owners: none

refactor: Remove unnecessary `title` and `decorators` props
  src/ui/BackButton/BackButton.stories.tsx
Owners: none

feat: Add `BackButton` story
  src/pages/AddMembersPage/AddMembersPage.tsx
  src/pages/DistributionsPage/DistributionsPage.tsx
  src/pages/NewNominationPage/NewNominationPage.tsx
  src/ui/BackButton/BackButton.stories.tsx
  src/ui/BackButton/BackButton.tsx
  src/ui/index.ts
Owners: none

refactor: Remove unnecessary `title` and `decorators` props
  .storybook/preview.js
  src/ui/Box/Box.stories.tsx
Owners: none

feat: Add `Box` story
  src/ui/Box/Box.stories.tsx
Owners: none

refactor: Remove unnecessary `title` and `decorators` props
  src/ui/Popover/Popover.stories.tsx
Owners: none

feat: Add `Popover` story
  src/ui/Popover/Popover.stories.tsx
  src/ui/Popover/Popover.tsx
  src/ui/index.ts
Owners: none

pricePerShare in Hasura remote schema (#1624)
  api/hasura/remote/vaults.ts
  hasura/metadata/databases/default/tables/public_vaults.yaml
  hasura/metadata/remote_schemas.yaml
  package.json
  scripts/serve_dev.ts
  yarn.lock
Owners: @zashton, @topocount

Form Validation Cleanup
  src/pages/HistoryPage/EpochForm.tsx
Owners: none

backbutton import cleanup
  src/ui/BackButton/BackButton.tsx
Owners: none
