Repository coordinape/coordinape, changes with the owners that .github/CODEOWNERS names for each.
All owners: @topocount, @levity, @zashton

.github/CODEOWNERS:

/cypress/   @topocount
/docker/    @topocount
/hardhat/   @levity @topocount
/hasura/    @zashton @topocount
/scripts/   @topocount

move circleWithLogo story to fix path bug
  src/components/CircleWithLogo.stories.tsx
Owners: none

Bugfix: circleWithLogo story location (#1649)
  .storybook/main.js
  src/components/CircleWithLogo.stories.tsx
Owners: none

fix loading of react-markdown in jest
  craco.config.js
Owners: none

always enable vaults & fixed payments
  .github/workflows/CI.yml
  src/config/features.ts
Owners: none

mobile menu style upgrade to get us to on the way to the side-nav redesign
  src/components/MainLayout/MainHeader.tsx
  src/components/MainLayout/MobileHeader.tsx
  src/components/MainLayout/TopLevelLinks.tsx
  src/pages/HistoryPage/HistoryPage.tsx
  src/stitches.config.ts
  src/theme/index.ts
Owners: none

if tokens are to be claimed, show the green styled button, otherwise show the normal text link
  src/components/MainLayout/MobileHeader.tsx
Owners: none

wrap long name org/circles mobile menu
  src/components/MainLayout/MobileHeader.tsx
  src/pages/GivePage/index.tsx
Owners: none

claims and transaction links
  src/components/MainLayout/MobileHeader.tsx
  src/components/MainLayout/TopLevelLinks.tsx
  src/pages/ClaimsPage/ClaimsPage.tsx
Owners: none

move useWalletStatus up in tree
  src/components/MainLayout/MainHeader.tsx
  src/components/MainLayout/MobileHeader.tsx
  src/components/MyAvatarMenu/MyAvatarMenu.tsx
  src/hooks/login.tsx
Owners: none

flesh out MobileHeader story props
  src/components/MainLayout/mobileHeader.stories.tsx
Owners: none

mobile header story
  src/components/MainLayout/MobileHeader.tsx
  src/components/MainLayout/TopLevelLinks.tsx
  src/components/MainLayout/mobileHeader.stories.tsx
Owners: none

story prop removal
  src/components/MainLayout/mobileHeader.stories.tsx
Owners: none

pass circle a la graffe style
  src/components/MainLayout/MainHeader.tsx
  src/components/MainLayout/MobileHeader.tsx
Owners: none

move mainHeaderQuery up in tree
  src/components/MainLayout/MainHeader.tsx
  src/components/MainLayout/MobileHeader.tsx
  src/components/MainLayout/getMainHeaderData.ts
  src/components/MainLayout/mobileHeader.stories.tsx
Owners: none

fix mobileHeader rendering on page load
  src/components/MainLayout/mobileHeader.stories.tsx
Owners: none

fix organization of stories
  .storybook/main.js
  src/components/MainLayout/mobileHeader.stories.tsx
Owners: none

spike mobile header story
  .storybook/main.js
Owners: none

spike mobile header story
  src/components/MainLayout/mobileHeader.stories.tsx
Owners: none

storybook paths
  .storybook/main.js
Owners: none

start with menu open in story
  src/components/MainLayout/MobileHeader.tsx
  src/components/MainLayout/mobileHeader.stories.tsx
Owners: none

remove unneeded story scaffolding
  src/components/MainLayout/mobileHeader.stories.tsx
Owners: none

fix capitalization of story file
  src/components/MainLayout/MobileHeader.stories.tsx
Owners: none

Mobile menu updates (#1642)
  .storybook/main.js
  src/components/MainLayout/MainHeader.tsx
  src/components/MainLayout/MobileHeader.stories.tsx
  src/components/MainLayout/MobileHeader.tsx
  src/components/MainLayout/TopLevelLinks.tsx
  src/components/MainLayout/getMainHeaderData.ts
  src/components/MyAvatarMenu/MyAvatarMenu.tsx
  src/hooks/login.tsx
  src/pages/ClaimsPage/ClaimsPage.tsx
  src/pages/GivePage/index.tsx
  src/pages/HistoryPage/HistoryPage.tsx
  src/stitches.config.ts
  src/theme/index.ts
Owners: none

move Chromatic into main CI workflow
  .github/workflows/CI.yml
  .github/workflows/chromatic.yml
Owners: none

remove delete-hasura-preview workflow
  .github/workflows/delete-hasura-preview.yml
Owners: none

rename workflow to CI
  .github/workflows/CI.yml
Owners: none

Clean up CI workflows (#1650)
  .github/workflows/CI.yml
  .github/workflows/chromatic.yml
  .github/workflows/delete-hasura-preview.yml
Owners: none

updates on errors
  src/components/OrgLogoUpload.tsx
  src/pages/CreateCirclePage/CreateCirclePage.tsx
  src/pages/ProfilePage/ProfilePage.tsx
  src/recoilState/map.ts
  src/utils/domain.ts
Owners: none

remove error message
  src/pages/CreateCirclePage/CreateCirclePage.tsx
Owners: none

update
  src/pages/AssetMapPage/AMForceGraph.tsx
Owners: none

fix `yarn hasura` commands in dev
  package.json
  scripts/env.sh
Owners: @topocount

Add markdown support for contributions text
  src/pages/ContributionsPage/ContributionsPage.tsx
  src/pages/GivePage/Contribution.tsx
Owners: none

fixing errors
  src/components/CircleWithLogo.tsx
  src/components/OrgLogoUpload.tsx
Owners: none

Add CircleAPI Keys Interface to main CircleAdminPage
  package.json
  src/pages/AdminCircleApiPage/ApiKeyRow.tsx
  src/pages/CircleAdminPage/CircleAdminPage.tsx
  src/pages/CircleAdminPage/CircleApi/ApiKeyDisplay.tsx
  src/pages/CircleAdminPage/CircleApi/ApiKeyForm.tsx
  src/pages/CircleAdminPage/CircleApi/ApiKeyRow.tsx
  src/pages/CircleAdminPage/CircleApi/CircleApiKeys.tsx
  src/pages/CircleAdminPage/CircleApi/constants.ts
  src/pages/CircleAdminPage/CircleApi/index.ts
  src/pages/CircleAdminPage/CircleApi/mutations.ts
  src/pages/CircleAdminPage/CircleApi/useCircleApiKeys.ts
  src/routes/routes.tsx
  src/utils/apiKeyHelper.ts
  yarn.lock
Owners: none

markdown edit focus
  src/pages/ContributionsPage/ContributionsPage.tsx
  src/pages/GivePage/Contribution.tsx
  src/ui/MarkdownPreview/MarkdownPreview.tsx
Owners: none

add description column to epoches table
  api-lib/gql/__generated__/zeus/const.ts
  api-lib/gql/__generated__/zeus/index.ts
  hasura/metadata/databases/default/tables/public_epoches.yaml
  hasura/migrations/default/1668026379094_alter_table_public_epoches_add_column_description/down.sql
  hasura/migrations/default/1668026379094_alter_table_public_epoches_add_column_description/up.sql
  hasura/schema/admin/schema.graphql
  hasura/schema/user/schema.graphql
  src/lib/gql/__generated__/zeus/const.ts
  src/lib/gql/__generated__/zeus/index.ts
Owners: @zashton, @topocount

add show_pending_gives to circles table
  api-lib/gql/__generated__/zeus/const.ts
  api-lib/gql/__generated__/zeus/index.ts
  hasura/metadata/databases/default/tables/public_circles.yaml
  hasura/migrations/default/1668026788907_alter_table_public_circles_add_column_show_pending_gives/down.sql
  hasura/migrations/default/1668026788907_alter_table_public_circles_add_column_show_pending_gives/up.sql
  hasura/schema/admin/schema.graphql
  hasura/schema/user/schema.graphql
  src/lib/gql/__generated__/zeus/const.ts
  src/lib/gql/__generated__/zeus/index.ts
Owners: @zashton, @topocount

rendered markdown styling
  src/pages/ContributionsPage/ContributionsPage.tsx
  src/pages/GivePage/GiveDrawer.tsx
  src/stitches.config.ts
  src/ui/MarkdownPreview/MarkdownPreview.tsx
Owners: none

Add UI for contribution API permissions in Circle API key form.
  api-lib/gql/__generated__/zeus/const.ts
  api-lib/gql/__generated__/zeus/index.ts
  hasura/schema/admin/schema.graphql
  hasura/schema/user/schema.graphql
  src/lib/gql/__generated__/zeus/const.ts
  src/lib/gql/__generated__/zeus/index.ts
  src/pages/CircleAdminPage/CircleApi/ApiKeyForm.tsx
  src/pages/CircleAdminPage/CircleApi/constants.ts
  src/pages/CircleAdminPage/CircleApi/useCircleApiKeys.ts
Owners: @zashton, @topocount

fix switching between text field and Markdown bugs
  src/pages/ContributionsPage/ContributionsPage.tsx
  src/pages/GivePage/EpochStatementDrawer.tsx
Owners: none
