Repository coordinape/coordinape, changes with the owners that .github/CODEOWNERS names for each.
All owners: @topocount, @levity, @zashton

.github/CODEOWNERS:

/cypress/   @topocount
/docker/    @topocount
/hardhat/   @levity @topocount
/hasura/    @zashton @topocount
/scripts/   @topocount

dework integration contributions
  src/pages/ContributionsPage/ContributionsPage.tsx
Owners: none

Implement useContribution hook that accepts dateranges
  src/components/ProfileCard/ProfileCard.tsx
  src/hooks/useContributions.ts
Owners: none

Refactor useContributions to be a bit more organized
  src/components/ProfileCard/ProfileCard.tsx
  src/hooks/gql/useCurrentCircleIntegrations.ts
  src/hooks/useContributions.ts
  src/pages/IntegrationCallbackPage/IntegrationCallbackPage.tsx
Owners: none

Remove try / catch
  api/hasura/actions/_handlers/uploadOrgLogo.ts
Owners: none

delete console.info
  src/components/ProfileCard/ProfileCard.tsx
Owners: none

Remove try / catch (#1499)
  api/hasura/actions/_handlers/uploadOrgLogo.ts
Owners: none

type changes impacted by this update
  api-lib/gql/__generated__/zeus/const.ts
  api-lib/gql/__generated__/zeus/index.ts
  src/lib/gql/__generated__/zeus/const.ts
  src/lib/gql/__generated__/zeus/index.ts
Owners: none

update types
  api-lib/gql/__generated__/zeus/const.ts
  api-lib/gql/__generated__/zeus/index.ts
  src/lib/gql/__generated__/zeus/const.ts
  src/lib/gql/__generated__/zeus/index.ts
Owners: none

Switch to hasura graphql docker 2.8.4
  docker-compose.yml
Owners: none

Update hasura docker image
  docker-compose.yml
Owners: none

update types
  api-lib/gql/__generated__/zeus/const.ts
  api-lib/gql/__generated__/zeus/index.ts
  src/lib/gql/__generated__/zeus/const.ts
  src/lib/gql/__generated__/zeus/index.ts
Owners: none

fix unit tests
  src/components/ProfileCard/ProfileCard.test.tsx
Owners: none

Changes from @levity's review
  src/components/ProfileCard/ProfileCard.tsx
  src/hooks/useContributions.ts
Owners: none

Logging Fixed Payment distribution claim amounts
  api/hasura/actions/_handlers/allocationCsv.test.ts
  api/hasura/actions/_handlers/allocationCsv.ts
  src/pages/DistributionsPage/AllocationsTable.tsx
  src/pages/DistributionsPage/DistributionsPage.tsx
  src/pages/DistributionsPage/queries.ts
  src/pages/DistributionsPage/useSubmitDistribution.ts
Owners: none

remove unneeded mock data
  api/hasura/actions/_handlers/allocationCsv.test.ts
Owners: none

prettier
  api/hasura/actions/_handlers/allocationCsv.test.ts
Owners: none

add circle, org relations to interaction_events
  hasura/metadata/databases/default/tables/public_interaction_events.yaml
Owners: @zashton, @topocount

add org_id to LogVaultTx
  api-lib/gql/__generated__/zeus/const.ts
  api-lib/gql/__generated__/zeus/index.ts
  api/hasura/actions/_handlers/createVaultTx.ts
  hasura/metadata/actions.graphql
  src/lib/gql/__generated__/zeus/index.ts
Owners: @zashton, @topocount

omit org_id from insert_vault_transactions
  api/hasura/actions/_handlers/createVaultTx.ts
Owners: none

add org_id to LogVaultTx (#1507)
  api-lib/gql/__generated__/zeus/const.ts
  api-lib/gql/__generated__/zeus/index.ts
  api/hasura/actions/_handlers/createVaultTx.ts
  hasura/metadata/actions.graphql
  src/lib/gql/__generated__/zeus/index.ts
Owners: @zashton, @topocount

allow optional use of fast truncation
  scripts/seed_hasura.sh
Owners: @topocount

add script to repair interaction events
  scripts/oldInteractionEvents.ts
Owners: @topocount

add org_id to events for claims
  api-test/hasura/actions/_handlers/markClaimed.test.ts
  api/hasura/actions/_handlers/markClaimed.ts
Owners: none

don't update claims for unsent distributions
  api/hasura/actions/_handlers/markClaimed.ts
Owners: none

tweaks
  src/pages/GivePage/MyGiveRow.tsx
Owners: none

Show loading state during image uploads
  src/pages/OrganizationSettingsPage/OrganizationSettingsPage.tsx
Owners: none

minor font size adjustment to loading modal text
  src/components/LoadingModal.tsx
Owners: none

show Loading modal during image uploads (#1500)
  src/components/LoadingModal.tsx
  src/pages/OrganizationSettingsPage/OrganizationSettingsPage.tsx
Owners: none

pull MyGiveRow out of team panel
  src/pages/GivePage/MyGiveRow.tsx
  src/pages/GivePage/index.tsx
Owners: none

Sepcifcy new Severity
  api-lib/HttpError.ts
Owners: none

Remove old Sentry severity references
  api-lib/HttpError.ts
  src/utils/reporting.ts
Owners: none

Update sentry packages
  package.json
  yarn.lock
Owners: none

Update sentry packages (#1501)
  api-lib/HttpError.ts
  package.json
  src/utils/reporting.ts
  yarn.lock
Owners: none

fix user nodes select on mobile
  src/components/Drawer.tsx
Owners: none

ci(Mergify): configuration update
  .mergify.yml
Owners: none

tag styling for no feedback indicator
  src/pages/GivePage/ContributorButton.tsx
  src/pages/GivePage/GiveRow.tsx
  src/stitches.config.ts
  src/ui/Text/Text.tsx
Owners: none

fix user nodes select on mobile (#1495)
  src/components/Drawer.tsx
Owners: none

set setNeedToSave to undefined upon changing notes
  src/pages/GivePage/GiveDrawer.tsx
Owners: none

improve User profile picture upload pattern
  src/components/AvatarUpload.tsx
  src/lib/gql/mutations.ts
Owners: none

fix undefined response error
  src/components/AvatarUpload.tsx
  src/components/EditProfileModal.tsx
Owners: none
