Repository coordinape/coordinape, changes with the owners that .github/CODEOWNERS names for each.
All owners: @topocount, @levity, @zashton

add newline to down migration
  hasura/migrations/default/1668026788907_alter_table_public_circles_add_column_show_pending_gives/down.sql
Owners: @zashton, @topocount

Bugfix / Markdown interactions, part 2 (#1664)
  src/pages/ContributionsPage/ContributionsPage.tsx
  src/pages/GivePage/EpochStatementDrawer.tsx
  src/ui/TextArea/TextArea.tsx
Owners: none

bugfixing tooltip positioning. upgrading radix hover-card. other minor ui fixes
  package.json
  src/pages/CircleAdminPage/CircleApi/ApiKeyForm.tsx
  src/pages/CircleAdminPage/CircleApi/CircleApiKeys.tsx
  src/ui/Checkbox/CheckBox.tsx
  src/ui/FormLabel/FormLabel.tsx
  src/ui/Tooltip/Tooltip.tsx
  yarn.lock
Owners: none

Add description column to epoches table and show_pending_gives to circles (#1652)
  api-lib/gql/__generated__/zeus/const.ts
  api-lib/gql/__generated__/zeus/index.ts
  hasura/metadata/databases/default/tables/public_circles.yaml
  hasura/metadata/databases/default/tables/public_epoches.yaml
  hasura/migrations/default/1668026379094_alter_table_public_epoches_add_column_description/down.sql
  hasura/migrations/default/1668026379094_alter_table_public_epoches_add_column_description/up.sql
  hasura/migrations/default/1668026788907_alter_table_public_circles_add_column_show_pending_gives/down.sql
  hasura/migrations/default/1668026788907_alter_table_public_circles_add_column_show_pending_gives/up.sql
  hasura/schema/admin/schema.graphql
  hasura/schema/user/schema.graphql
  src/lib/gql/__generated__/zeus/const.ts
  src/lib/gql/__generated__/zeus/index.ts
Owners: @zashton, @topocount

adding 45s timeout to all adminClient graphql calls (#1665)
  api-lib/gql/adminClient.ts
  api-lib/gql/makeThunder.ts
Owners: none

refactor: Improve the description of the test plan in the PR template
  .github/pull_request_template.md
Owners: none

serve dev icon
  scripts/serve_dev.ts
Owners: @topocount

bugfix: Add contribution params to api key endpoint
  hasura/metadata/actions.graphql
  src/lib/zod/index.ts
Owners: @zashton, @topocount

upgrade all radix components. annoying popover position fixes
  package.json
  src/components/MainLayout/OverviewMenu.tsx
  src/components/MyAvatarMenu/MyAvatarMenu.tsx
  src/ui/Popover/Popover.tsx
  src/ui/Tooltip/Tooltip.tsx
  yarn.lock
Owners: none

Feat: add API keys UI to Circle Admin page (#1607)
  api-lib/gql/__generated__/zeus/index.ts
  hasura/metadata/actions.graphql
  hasura/schema/admin/schema.graphql
  hasura/schema/user/schema.graphql
  package.json
  src/lib/gql/__generated__/zeus/index.ts
  src/lib/zod/index.ts
  src/pages/AdminCircleApiPage/ApiKeyRow.tsx
  src/pages/CircleAdminPage/CircleAdminPage.tsx
  src/pages/CircleAdminPage/CircleApi/ApiKeyDisplay.tsx
  src/pages/CircleAdminPage/CircleApi/ApiKeyForm.tsx
  src/pages/CircleAdminPage/CircleApi/ApiKeyRow.tsx
  src/pages/CircleAdminPage/CircleApi/CircleApiKeys.tsx
  src/pages/CircleAdminPage/CircleApi/constants.ts
  src/pages/CircleAdminPage/CircleApi/index.ts
  src/pages/CircleAdminPage/CircleApi/mutations.ts
  src/pages/CircleAdminPage/CircleApi/useCircleApiKeys.ts
  src/routes/routes.tsx
  src/ui/Checkbox/CheckBox.tsx
  src/ui/FormLabel/FormLabel.tsx
  src/ui/Tooltip/Tooltip.tsx
  src/utils/apiKeyHelper.ts
  yarn.lock
Owners: @zashton, @topocount

Add link to relevant contributing guidelines
  .github/pull_request_template.md
Owners: none

refactor: Improve the description of the test plan in the PR template (#1675)
  .github/pull_request_template.md
Owners: none

popover positioning
  src/components/MainLayout/OverviewMenu.tsx
  src/components/MyAvatarMenu/MyAvatarMenu.tsx
  src/ui/Popover/Popover.stories.tsx
  src/ui/Popover/Popover.tsx
Owners: none

radio and checkbox label clicking
  src/components/FormRadioGroup.tsx
  src/ui/Checkbox/CheckBox.tsx
  src/ui/RadioGroup/RadioGroup.stories.tsx
  src/ui/RadioGroup/RadioGroup.tsx
  src/ui/Tooltip/Tooltip.stories.tsx
  src/ui/Tooltip/Tooltip.tsx
Owners: none

add mobile modal window for tooltips
  src/ui/Tooltip/Tooltip.tsx
Owners: none

modal close mobile focus
  src/ui/Modal.tsx
Owners: none

remove eslint disable
  src/components/MyAvatarMenu/MyAvatarMenu.tsx
Owners: none

Update radix components (#1676)
  package.json
  scripts/serve_dev.ts
  src/components/FormRadioGroup.tsx
  src/components/MainLayout/OverviewMenu.tsx
  src/components/MyAvatarMenu/MyAvatarMenu.tsx
  src/ui/Checkbox/CheckBox.tsx
  src/ui/Modal.tsx
  src/ui/Popover/Popover.stories.tsx
  src/ui/Popover/Popover.tsx
  src/ui/RadioGroup/RadioGroup.stories.tsx
  src/ui/RadioGroup/RadioGroup.tsx
  src/ui/Tooltip/Tooltip.stories.tsx
  src/ui/Tooltip/Tooltip.tsx
  yarn.lock
Owners: @topocount

Bot schema (#988)
  api-lib/gql/__generated__/zeus/const.ts
  api-lib/gql/__generated__/zeus/index.ts
  api/hasura/actions/linkDiscordUser.ts
  hasura/metadata/actions.graphql
  hasura/metadata/actions.yaml
  hasura/metadata/databases/default/tables/discord_roles_circles.yaml
  hasura/metadata/databases/default/tables/discord_users.yaml
  hasura/metadata/databases/default/tables/tables.yaml
  hasura/migrations/default/1654145945592_create_table_discord_roles_circles/down.sql
  hasura/migrations/default/1654145945592_create_table_discord_roles_circles/up.sql
  hasura/migrations/default/1654146590714_create_table_discord_users/down.sql
  hasura/migrations/default/1654146590714_create_table_discord_users/up.sql
  hasura/migrations/default/1654202757203_alter_table_public_circle_api_keys_add_column_read_discord/down.sql
  hasura/migrations/default/1654202757203_alter_table_public_circle_api_keys_add_column_read_discord/up.sql
  hasura/schema/admin/schema.graphql
  hasura/schema/user/schema.graphql
  src/lib/gql/__generated__/zeus/const.ts
  src/lib/gql/__generated__/zeus/index.ts
  src/lib/zod/index.ts
Owners: @zashton, @topocount

update generateApiKey to recognize read_discord
  hasura/metadata/actions.graphql
  src/lib/zod/index.ts
Owners: @zashton, @topocount

feat: Create a simple discord linking page
  src/pages/DiscordPage/DiscordPage.tsx
  src/pages/DiscordPage/index.ts
  src/routes/paths.ts
  src/routes/routes.tsx
Owners: none

feat: Implement discord's authorization code grant flow
  api/discord.ts
  scripts/serve_dev.ts
  src/routes/paths.ts
  src/routes/routes.tsx
Owners: @topocount

fix: Move linkDiscordUser to handlers
  api/hasura/actions/_handlers/linkDiscordUser.ts
  api/hasura/actions/actionManager.ts
Owners: none

fix: `CenteredBox` has moved
  src/pages/DiscordPage/DiscordPage.tsx
Owners: none

fix: Prettier
  hasura/schema/admin/schema.graphql
  hasura/schema/user/schema.graphql
Owners: @zashton, @topocount

refactor: Add down migration
  hasura/migrations/default/1654202757203_alter_table_public_circle_api_keys_add_column_read_discord/down.sql
Owners: @zashton, @topocount

refactor: Remove TODO as we will not store any tokens for now
  api/discord.ts
Owners: none

refactor: Add docstring comment for the discord handler
  api/discord.ts
Owners: none

refactor: Add 'discord' feature flag
  src/config/features.ts
  src/routes/routes.tsx
Owners: none

refactor: Use linkDiscordUser to link the user
  api/discord.ts
  scripts/serve_dev.ts
  src/pages/DiscordPage/DiscordPage.tsx
  src/routes/paths.ts
  src/routes/routes.tsx
Owners: @topocount

fix: Hasura action name
  api-lib/gql/__generated__/zeus/index.ts
  hasura/metadata/actions.yaml
  hasura/metadata/databases/default/tables/discord_roles_circles.yaml
  hasura/metadata/databases/default/tables/discord_users.yaml
Owners: @zashton, @topocount

feat: Check if profile is already linked
  api/discord.ts
  src/pages/DiscordPage/DiscordPage.tsx
  src/pages/DiscordPage/queries.ts
Owners: none

refactor: Stick to one type of gql comments
  hasura/schema/admin/schema.graphql
Owners: @zashton, @topocount

Remove merge conflict markers in db codegen
  api-lib/gql/__generated__/zeus/index.ts
Owners: none

fix: Prevent null pointer
  api/discord.ts
  src/pages/DiscordPage/DiscordPage.tsx
Owners: none

refactor: New authorisation flow
  src/pages/DiscordPage/DiscordPage.tsx
Owners: none

refactor: Add a check for when the user is already linked
  src/pages/DiscordPage/DiscordPage.tsx
  src/pages/DiscordPage/queries.ts
Owners: none

add hide give option to circle settings
  src/lib/gql/queries.ts
  src/pages/CircleAdminPage/CircleAdminPage.tsx
  src/pages/CircleAdminPage/getCircleSettings.ts
  src/types/api.circle.d.ts
  src/utils/testing/recoil.ts
Owners: none

update updateCircle mutation for show_pending_gives
  api-lib/gql/__generated__/zeus/index.ts
  hasura/metadata/actions.graphql
  hasura/schema/admin/schema.graphql
  hasura/schema/user/schema.graphql
  src/lib/gql/__generated__/zeus/index.ts
  src/lib/zod/index.ts
Owners: @zashton, @topocount

hide gives if hide option is enabled
  src/components/MainLayout/CircleNav.tsx
  src/components/MainLayout/OverviewMenu.test.tsx
  src/components/MainLayout/getShowGiveInfo.tsx
  src/components/ReceiveInfo.tsx
  src/hooks/migration.ts
  src/lib/gql/mutations.ts
  src/routes/routes.tsx
Owners: none

.github/CODEOWNERS:

/cypress/   @topocount
/docker/    @topocount
/hardhat/   @levity @topocount
/hasura/    @zashton @topocount
/scripts/   @topocount
