Repository coordinape/coordinape, changes with the owners that .github/CODEOWNERS names for each.
All owners: @topocount, @teeolendo, @zashton, @levity

Link directly to Discord #support channel
  src/components/ErrorBoundary/ErrorBoundary.tsx
  src/pages/CreateCirclePage/CreateCirclePage.tsx
  src/routes/paths.ts
Owners: @levity

Restyle vault creation form (#614)
  hardhat/deploymentInfo.json
  hardhat/dist/deploymentInfo.json
  hardhat/dist/hardhat.config.js
  package.json
  src/components/FormAssetSelector/FormAssetSelector.tsx
  src/components/index.ts
  src/config/networks.ts
  src/forms/CreateVaultForm.tsx
  src/forms/formHelpers.ts
  src/hooks/index.ts
  src/hooks/useContracts.ts
  src/hooks/useVaultFactory.test.tsx
  src/hooks/useVaultFactory.ts
  src/hooks/useVaultWrapper.ts
  src/pages/DistributePage/AllocationsTable.tsx
  src/pages/DistributePage/DistributePage.tsx
  src/pages/VaultsPage/CreateForm.test.tsx
  src/pages/VaultsPage/CreateForm.tsx
  src/pages/VaultsPage/CreateVaultModal.tsx
  src/pages/VaultsPage/VaultRow.tsx
  src/pages/VaultsPage/VaultsPage.tsx
  src/recoilState/vaults.ts
  src/services/contracts.ts
  src/types/contracts.vault.d.ts
  src/ui/Button/Button.tsx
  src/ui/Form.tsx
  src/ui/Modal.tsx
  src/ui/Text/Text.tsx
  src/ui/index.ts
  src/ui/layouts.tsx
  src/utils/connectors.ts
  src/utils/contractHelpers.ts
  src/utils/logger.ts
  src/utils/testing.tsx
  yarn.lock
Owners: @teeolendo, @levity

upgrade some deps to unblock dependabot
  .storybook/main.js
  hardhat/package.json
  hardhat/yarn.lock
  package.json
  yarn.lock
Owners: @teeolendo

Update Hasura-preview with new ENV vars
  .github/workflows/hasura-preview.yml
Owners: none

Update src/pages/CreateCirclePage/CreateCirclePage.tsx
  src/pages/CreateCirclePage/CreateCirclePage.tsx
Owners: @levity

Make trivial Hasura change to test preview instances
  hasura/metadata/actions.graphql
Owners: @zashton

Create codeql-analysis.yml
  .github/workflows/codeql-analysis.yml
Owners: none

remove unnecessary comment
  src/components/ApeTextField/ApeTextField.tsx
Owners: @levity

Create fe_integration
  .github/ISSUE_TEMPLATE/fe_integration
Owners: none

Warning component when opting in or opting out (#616)
  src/forms/AdminUserForm.tsx
  src/pages/AdminPage/AdminPage.tsx
  src/pages/AdminPage/AdminUserModal.tsx
Owners: @levity

turn on Codecov in CI
  .github/workflows/CI.yml
Owners: none

Rename fe_integration to fe_integration.md
  .github/ISSUE_TEMPLATE/fe_integration.md
Owners: none

pull some reusable code into utils/testing
  src/components/ProfileCard/ProfileCard.test.tsx
  src/utils/testing.tsx
  src/utils/testing/recoil.ts
Owners: @levity

allow reducing allocation to 0
  src/components/ProfileCard/ProfileCard.tsx
Owners: @levity

Set request-query field to be optional
  src/lib/zod/index.ts
Owners: @levity

doing a yarn generate because the schema wasn't synced
  api/hasura/actions/upload_circle_logo.ts
  src/lib/gql/zeusHasuraAdmin/const.ts
  src/lib/gql/zeusHasuraAdmin/index.ts
  src/lib/gql/zeusUser/const.ts
  src/lib/gql/zeusUser/index.ts
Owners: @zashton, @levity

Update DB seeding scripts to disable Hasura Event Triggers
  package.json
  scripts/disable-triggers.sh
  scripts/enable-triggers.sh
  scripts/reseed_hasura.sh
Owners: @topocount

Fixes #440 by implementing action for circle logo upload - includes FE
  api-lib/images.ts
  api-lib/validate.ts
  api/hasura/actions/upload_circle_logo.ts
  hasura/metadata/actions.graphql
  hasura/metadata/actions.yaml
  src/hooks/useApiAdminCircle.ts
  src/lib/gql/index.ts
  src/lib/gql/zeusHasuraAdmin/const.ts
  src/lib/gql/zeusHasuraAdmin/index.ts
  src/lib/gql/zeusUser/const.ts
  src/lib/gql/zeusUser/index.ts
  src/lib/zod/index.ts
Owners: @zashton, @levity

add a test for today's ProfileCard bugfix
  src/components/ProfileCard/GiftInput.tsx
  src/components/ProfileCard/ProfileCard.test.tsx
  src/components/ProfileCard/ProfileCard.tsx
  src/recoilState/allocation.test.tsx
  src/recoilState/allocation.ts
  src/utils/testing.tsx
Owners: @levity

ADD Give Feedback button to the profile dropdown menu (#617)
  src/components/MyAvatarMenu/MyAvatarMenu.tsx
Owners: @levity

Implement AdminUpdateUser Hasura Endpoint (#538)
  api-lib/HttpError.ts
  api-lib/handleOptOutMsg.ts
  api-lib/handleRefundGiveMsg.ts
  api-lib/make-discord-event.ts
  api-lib/make-telegram-event.ts
  api-lib/types.d.ts
  api/hasura/actions/admin_update_user.ts
  api/hasura/actions/create_user.ts
  api/hasura/event-triggers/check-nominee-discord.ts
  api/hasura/event-triggers/check-nominee-telegram.ts
  api/hasura/event-triggers/create-profile.ts
  api/hasura/event-triggers/opt-out-discord.ts
  api/hasura/event-triggers/opt-out-telegram.ts
  api/hasura/event-triggers/refund-give-discord.ts
  api/hasura/event-triggers/refund-give-telegram.ts
  api/hasura/event-triggers/refund-pending-gift.ts
  api/hasura/event-triggers/utils/handleCheckNomineeMsg.ts
  api/hasura/types.d.ts
  hasura/metadata/actions.graphql
  hasura/metadata/actions.yaml
  hasura/metadata/databases/default/tables/public_pending_token_gifts.yaml
  hasura/metadata/databases/default/tables/public_users.yaml
  src/lib/gql/GqlHasuraAdmin.ts
  src/lib/gql/index.ts
  src/lib/gql/zeusHasuraAdmin/const.ts
  src/lib/gql/zeusHasuraAdmin/index.ts
  src/lib/gql/zeusUser/const.ts
  src/lib/gql/zeusUser/index.ts
  src/lib/zod/index.ts
  tsconfig.json
Owners: @zashton, @levity

Removing console log and added a bit of comments
  api-lib/images.ts
  api-lib/validate.ts
Owners: @zashton

Quickfix for Seeding the DB (#596)
  README.md
Owners: none

Delete Vercel Hasura preview env variable on PR Close
  .github/workflows/delete-hasura-preview.yml
Owners: none

Refactor graphql generated code and fix naming
  api-lib/Gql.ts
  api-lib/circleAdmin.ts
  api-lib/make-discord-event.ts
  api-lib/make-telegram-event.ts
  api-lib/types.d.ts
  api/hasura/event_triggers/createProfile.ts
  api/hasura/event_triggers/refundPendingGift.ts
  scripts/db-seed.ts
  scripts/generate-zeus.sh
  src/hooks/gql.ts
  src/hooks/useApiAdminCircle.ts
  src/hooks/useApiWithProfile.ts
  src/lib/gql/__generated__/zeusAdmin/const.ts
  src/lib/gql/__generated__/zeusAdmin/index.ts
  src/lib/gql/__generated__/zeusUser/const.ts
  src/lib/gql/__generated__/zeusUser/index.ts
  src/lib/gql/__generated__/zeusUser/reactQuery.ts
  src/lib/gql/adminClient.ts
  src/lib/gql/userClient.ts
  src/lib/gql/zeusUser/reactQuery.ts
  src/pages/DistributePage/useGetAllocations.ts
Owners: @zashton, @topocount, @levity

Standardize backend naming (#582)
  .eslintrc
  api-lib/circleAdmin.ts
  api-lib/profileImages.ts
  api/hasura/actions/adminUpdateUser.ts
  api/hasura/actions/createCircle.ts
  api/hasura/actions/createUser.ts
  api/hasura/actions/logoutUser.ts
  api/hasura/actions/uploadCircleLogo.ts
  api/hasura/actions/uploadProfileAvatar.ts
  api/hasura/actions/uploadProfileBackground.ts
  api/hasura/cron/checkNominee.ts
  api/hasura/event_triggers/checkNomineeDiscord.ts
  api/hasura/event_triggers/checkNomineeTelegram.ts
  api/hasura/event_triggers/createProfile.ts
  api/hasura/event_triggers/optOutDiscord.ts
  api/hasura/event_triggers/optOutTelegram.ts
  api/hasura/event_triggers/refundGiveDiscord.ts
  api/hasura/event_triggers/refundGiveTelegram.ts
  api/hasura/event_triggers/refundPendingGift.ts
  api/hasura/event_triggers/utils/handleCheckNomineeMsg.ts
  hasura/metadata/actions.graphql
  hasura/metadata/actions.yaml
  hasura/metadata/databases/default/tables/public_nominees.yaml
  hasura/metadata/databases/default/tables/public_pending_token_gifts.yaml
  hasura/metadata/databases/default/tables/public_users.yaml
  package.json
  src/lib/gql/index.ts
  src/lib/gql/zeusHasuraAdmin/const.ts
  src/lib/gql/zeusHasuraAdmin/index.ts
  src/lib/gql/zeusUser/const.ts
  src/lib/gql/zeusUser/index.ts
  src/lib/zod/index.ts
  yarn.lock
Owners: @zashton, @levity

User Logout hasura (#576)
  api/hasura/actions/logout_user.ts
  hasura/metadata/actions.graphql
  hasura/metadata/actions.yaml
  src/lib/gql/zeusHasuraAdmin/const.ts
  src/lib/gql/zeusHasuraAdmin/index.ts
  src/lib/gql/zeusUser/const.ts
  src/lib/gql/zeusUser/index.ts
Owners: @zashton, @levity

Adding HASURA_EVENT_SECRET/verification_key to 3 image upload actions and adding verification middleware
  api/hasura/actions/upload_circle_logo.ts
  api/hasura/actions/upload_profile_avatar.ts
  api/hasura/actions/upload_profile_background.ts
  hasura/metadata/actions.graphql
  hasura/metadata/actions.yaml
  src/lib/gql/index.ts
  src/lib/gql/zeusHasuraAdmin/const.ts
  src/lib/gql/zeusHasuraAdmin/index.ts
  src/lib/gql/zeusUser/const.ts
  src/lib/gql/zeusUser/index.ts
  src/lib/zod/index.ts
Owners: @zashton, @levity

Feature/create nominee Hasura migration (#552)
  api-lib/findUser.ts
  api-lib/handleNomineeCreatedMsg.ts
  api-lib/nominees.ts
  api/hasura/actions/createNominee.ts
  api/hasura/event_triggers/createNomineeDiscord.ts
  api/hasura/event_triggers/createNomineeTelegram.ts
  api/hasura/event_triggers/createVouchedUser.ts
  api/hasura/event_triggers/utils/handleCheckNomineeMsg.ts
  hasura/metadata/actions.graphql
  hasura/metadata/actions.yaml
  hasura/metadata/databases/default/tables/public_nominees.yaml
  src/lib/gql/GqlHasuraAdmin.ts
  src/lib/gql/zeusHasuraAdmin/const.ts
  src/lib/gql/zeusHasuraAdmin/index.ts
  src/lib/gql/zeusUser/const.ts
  src/lib/gql/zeusUser/index.ts
  src/lib/zod/index.ts
Owners: @zashton, @levity

Refactor refundPendingGift Event Trigger (#590)
  api/hasura/actions/adminUpdateUser.ts
  api/hasura/event_triggers/refundPendingGift.ts
  hasura/metadata/databases/default/tables/public_pending_token_gifts.yaml
  hasura/metadata/databases/default/tables/public_users.yaml
  src/lib/gql/GqlHasuraAdmin.ts
Owners: @zashton, @levity

Refactor backend Zeus setup
  api-lib/event_triggers/createProfile.ts
  api-lib/event_triggers/createVouchedUser.ts
  api-lib/event_triggers/refundPendingGift.ts
  api-lib/event_triggers/utils/handleCheckNomineeMsg.ts
  api-lib/findUser.ts
  api-lib/gql/adminClient.ts
  api-lib/gql/mutations.ts
  api-lib/gql/queries.ts
  api-lib/handleNomineeCreatedMsg.ts
  api-lib/handleOptOutMsg.ts
  api-lib/handleRefundGiveMsg.ts
  api-lib/nominees.ts
  api-lib/profileImages.ts
  api-lib/sendSocialMessage.ts
  api/hasura/actions/adminUpdateUser.ts
  api/hasura/actions/createCircle.ts
  api/hasura/actions/createUser.ts
  api/hasura/actions/logoutUser.ts
  api/hasura/actions/uploadCircleLogo.ts
  api/hasura/cron/checkNominee.ts
  scripts/db-add-me.ts
  scripts/db-seed.ts
  src/lib/gql/client.ts
Owners: @zashton, @topocount, @levity

Remove useTypedQuery and useTypedMutation
  src/components/OrganizationHeader/OrganizationHeader.tsx
  src/hooks/gql.ts
  src/hooks/gql/useCurrentOrg.ts
  src/pages/DistributePage/DistributePage.tsx
  src/pages/DistributePage/useGetAllocations.ts
  src/pages/VaultsPage/CreateVaultModal.tsx
  src/pages/VaultsPage/VaultsPage.tsx
Owners: @levity

Adding Sentry to hasura serverless functions
  api-lib/config.ts
  api-lib/validate.ts
  package.json
  yarn.lock
Owners: @zashton

Update own user (#592)
  api-lib/HttpError.ts
  api/hasura/actions/updateUser.ts
  hasura/metadata/actions.graphql
  hasura/metadata/actions.yaml
  src/lib/zod/index.ts
Owners: @zashton, @levity

Remove generated zeus React Query code
  scripts/generate-zeus.sh
  src/hooks/gql/useCurrentOrg.ts
  src/hooks/useApiAdminCircle.ts
  src/lib/gql/__generated__/zeusUser/reactQuery.ts
  src/pages/DistributePage/useGetAllocations.ts
Owners: @topocount, @levity

Small Simplication of the adminUpdateUser mutation (#591)
  api/hasura/actions/adminUpdateUser.ts
Owners: @zashton

Fixes #519 migrating vouching to Hasura
  api-lib/Gql.ts
  api-lib/HttpError.ts
  api-lib/event_triggers/refundPendingGift.ts
  api-lib/event_triggers/utils/handleVouchMsg.ts
  api-lib/event_triggers/vouchDiscord.ts
  api-lib/event_triggers/vouchTelegram.ts
  api-lib/findUser.ts
  api-lib/ts4.5shim.ts
  api/hasura/actions/adminUpdateUser.ts
  api/hasura/actions/createNominee.ts
  api/hasura/actions/updateUser.ts
  api/hasura/actions/uploadCircleLogo.ts
  api/hasura/actions/uploadProfileAvatar.ts
  api/hasura/actions/uploadProfileBackground.ts
  api/hasura/actions/vouch.ts
  api/hasura/event_triggers/eventManager.ts
  hasura/metadata/actions.graphql
  hasura/metadata/actions.yaml
  hasura/metadata/databases/default/tables/public_vouches.yaml
  src/lib/gql/__generated__/zeusAdmin/const.ts
  src/lib/gql/__generated__/zeusAdmin/index.ts
  src/lib/gql/__generated__/zeusUser/const.ts
  src/lib/gql/__generated__/zeusUser/index.ts
  src/lib/zod/index.ts
Owners: @zashton, @levity

unifying sentry handling in errorResponse and fixing it to await
  api-lib/HttpError.ts
  api-lib/validate.ts
Owners: @zashton

Consolidate Event Triggers into EventManager (#612)
  api-lib/config.ts
  api-lib/event_triggers/checkNomineeDiscord.ts
  api-lib/event_triggers/checkNomineeTelegram.ts
  api-lib/event_triggers/createNomineeDiscord.ts
  api-lib/event_triggers/createNomineeTelegram.ts
  api-lib/event_triggers/createProfile.ts
  api-lib/event_triggers/createVouchedUser.ts
  api-lib/event_triggers/optOutDiscord.ts
  api-lib/event_triggers/optOutTelegram.ts
  api-lib/event_triggers/refundGiveDiscord.ts
  api-lib/event_triggers/refundGiveTelegram.ts
  api-lib/event_triggers/refundPendingGift.ts
  api-lib/event_triggers/utils/handleCheckNomineeMsg.ts
  api/hasura/event_triggers/createNomineeDiscord.ts
  api/hasura/event_triggers/createNomineeTelegram.ts
  api/hasura/event_triggers/eventManager.ts
  api/hasura/event_triggers/optOutDiscord.ts
  api/hasura/event_triggers/optOutTelegram.ts
  api/hasura/event_triggers/refundGiveDiscord.ts
  api/hasura/event_triggers/refundGiveTelegram.ts
  hasura/metadata/databases/default/tables/public_nominees.yaml
  hasura/metadata/databases/default/tables/public_pending_token_gifts.yaml
  hasura/metadata/databases/default/tables/public_users.yaml
Owners: @zashton

Cleanup implementation of graphql queries/mutations
  api-lib/Gql.ts
  src/hooks/gql.ts
  src/hooks/useApiAdminCircle.ts
  src/hooks/useApiWithProfile.ts
  src/lib/gql/adminClient.ts
  src/lib/gql/client.ts
  src/lib/gql/mutations.ts
  src/lib/gql/queries.ts
  src/pages/DistributePage/DistributePage.tsx
  src/pages/DistributePage/useGetAllocations.ts
  src/recoilState/app.ts
Owners: @zashton, @levity

.github/CODEOWNERS:

/api/       @topocount
/api-lib/   @topocount
/docker/    @topocount
/hasura/    @topocount
/prisma/    @topocount
/scripts/   @topocount

/src/       @teeolendo
/hardhat/   @teeolendo

/api/       @zashton
/api-lib/   @zashton
/hasura/    @zashton

/src/       @levity
