Repository coordinape/coordinape, changes with the owners that .github/CODEOWNERS names for each.
All owners: @topocount, @levity, @zashton

.github/CODEOWNERS:

/cypress/   @topocount
/docker/    @topocount
/hardhat/   @levity @topocount
/hasura/    @zashton @topocount
/scripts/   @topocount

move some auth-related code into src/features/auth
  src/components/MainLayout/RequireAuth.tsx
  src/components/SentryScopeController.tsx
  src/components/WalletAuthModal.tsx
  src/features/README.md
  src/features/auth/connectors.ts
  src/features/auth/useFinishAuth.ts
  src/features/auth/useLogout.ts
  src/features/auth/useWalletAuth.ts
  src/hooks/login.tsx
  src/hooks/useApiBase.ts
  src/hooks/useRequireSupportedChain.ts
  src/lib/gql/mutations.ts
  src/pages/VaultsPage/DepositModal.tsx
  src/recoilState/app.ts
Owners: none

implement shim for useWeb3React
  package.json
  src/components/MainLayout/RequireAuth.tsx
  src/components/WalletAuthModal.test.tsx
  src/components/WalletAuthModal.tsx
  src/components/index.ts
  src/hooks/useWeb3React.tsx
  yarn.lock
Owners: none

add @web3auth/modal
  package.json
  yarn.lock
Owners: none

bugfix: stop querying contributions from time 0
  src/components/ProfileCard/ProfileCard.tsx
  src/hooks/useContributions.ts
Owners: none

Add test for useRequireSupportedChain
  src/hooks/useRequireSupportedChain.test.tsx
Owners: none

Support Multi Chain Login (#1544)
  api-test/login.test.ts
  api/login.ts
  cypress/util/index.ts
  src/common-lib/constants.ts
  src/components/MainLayout/MobileHeader.stories.tsx
  src/components/MyAvatarMenu/MyAvatarMenu.tsx
  src/components/WalletAuthModal.test.tsx
  src/components/WalletAuthModal.tsx
  src/config/env.ts
  src/config/features.ts
  src/hooks/login.tsx
  src/hooks/useConnectedChain.ts
  src/hooks/useRequireSupportedChain.test.tsx
  src/hooks/useRequireSupportedChain.ts
  src/pages/ClaimsPage/useClaimAllocation.ts
  src/pages/DistributionsPage/DistributionsPage.tsx
  src/pages/DistributionsPage/queries.ts
  src/pages/VaultsPage/VaultsPage.tsx
  src/services/api.ts
  src/ui/Button/Button.tsx
  src/ui/HR/HR.tsx
  src/ui/Select/Select.tsx
  src/utils/connectors.ts
  src/utils/provider.ts
Owners: @topocount

Cleanup auth flow
  src/components/WalletAuthModal.tsx
  src/utils/domain.ts
Owners: none

fix date range in give drawer not including contributions from before the epoch started
  src/pages/GivePage/index.tsx
Owners: none

Fix paths so they also work on Windows
  scripts/ci/manager.sh
  scripts/rebuild_hardhat.sh
  scripts/seed_hasura.sh
  scripts/serve.sh
Owners: @topocount

bugfix: stop querying contributions from time 0 (#1709)
  src/components/ProfileCard/ProfileCard.tsx
  src/hooks/useContributions.ts
Owners: none

Bug: Dework tasks not showing up on Allocations card view (#1698)
  src/pages/GivePage/EpochStatementDrawer.tsx
  src/pages/GivePage/GiveDrawer.tsx
  src/pages/GivePage/index.tsx
  src/pages/GivePage/queries.ts
Owners: none

update
  api-test/hasura/actions/_handlers/__mocks__/GraphQLError.ts
  api-test/hasura/actions/_handlers/deleteContribution.test.ts
Owners: none

Fix paths so they also work on Windows (#1715)
  scripts/ci/manager.sh
  scripts/rebuild_hardhat.sh
  scripts/seed_hasura.sh
  scripts/serve.sh
Owners: @topocount

Remove createUser handler
  api-lib/gql/__generated__/zeus/const.ts
  api-lib/gql/__generated__/zeus/index.ts
  api/hasura/actions/_handlers/createUser.ts
  api/hasura/actions/actionManager.ts
  hasura/metadata/actions.graphql
  hasura/metadata/actions.yaml
  hasura/schema/admin/schema.graphql
  hasura/schema/user/schema.graphql
  src/hooks/useApiAdminCircle.ts
  src/lib/gql/__generated__/zeus/const.ts
  src/lib/gql/__generated__/zeus/index.ts
  src/lib/gql/mutations.ts
  src/types/api.d.ts
Owners: @zashton, @topocount

Mute console info logs inside specific tests
  api-test/hasura/actions/_handlers/deleteContribution.test.ts
  api-test/hasura/actions/_handlers/updateContribution.test.ts
Owners: none

Mute console info logs inside specific tests (#1718)
  api-test/hasura/actions/_handlers/deleteContribution.test.ts
  api-test/hasura/actions/_handlers/updateContribution.test.ts
Owners: none

Remove createUser handler (#1717)
  api-lib/gql/__generated__/zeus/const.ts
  api-lib/gql/__generated__/zeus/index.ts
  api/hasura/actions/_handlers/createUser.ts
  api/hasura/actions/actionManager.ts
  hasura/metadata/actions.graphql
  hasura/metadata/actions.yaml
  hasura/schema/admin/schema.graphql
  hasura/schema/user/schema.graphql
  src/hooks/useApiAdminCircle.ts
  src/lib/gql/__generated__/zeus/const.ts
  src/lib/gql/__generated__/zeus/index.ts
  src/lib/gql/mutations.ts
  src/types/api.d.ts
Owners: @zashton, @topocount

WIP: Create a more configurable logger class
  api-lib/gql/__generated__/zeus/index.ts
  api-test/hasura/actions/_handlers/__mocks__/GraphQLError.ts
  api-test/hasura/actions/_handlers/deleteContribution.test.ts
  scripts/generate_zeus.sh
  src/common-lib/log.test.ts
  src/common-lib/log.ts
  src/lib/gql/__generated__/zeus/index.ts
Owners: @topocount

unify AuthContext and Web3React providers
  src/components/MainLayout/MainLayout.tsx
  src/hooks/useWeb3React.tsx
Owners: none

implement shim for useWeb3React
  package.json
  src/components/MainLayout/RequireAuth.tsx
  src/components/WalletAuthModal.test.tsx
  src/components/WalletAuthModal.tsx
  src/components/index.ts
  src/hooks/useWeb3React.tsx
  yarn.lock
Owners: none

update test
  src/hooks/useRequireSupportedChain.test.tsx
Owners: none

shim useWeb3React
  src/App.tsx
  src/components/MainLayout/getMainHeaderData.ts
  src/components/WalletAuthModal.tsx
  src/hooks/login.tsx
  src/hooks/useConnectedAddress.ts
  src/hooks/useConnectedChain.ts
  src/hooks/useContracts.ts
  src/hooks/useVaultRouter.ts
  src/hooks/useWeb3React.ts
  src/utils/testing/index.tsx
Owners: none

remove old unused code
  src/components/WalletAuthModal.tsx
  src/utils/domain.ts
Owners: none

move a lot more code into features/auth
  src/components/MainLayout/MainHeader.test.tsx
  src/components/MainLayout/MainHeader.tsx
  src/components/MainLayout/MainLayout.tsx
  src/components/MainLayout/MobileHeader.tsx
  src/components/MainLayout/getMainHeaderData.ts
  src/components/MyAvatarMenu/MyAvatarMenu.tsx
  src/features/README.md
  src/features/auth/RequireAuth.tsx
  src/features/auth/WalletAuthModal.test.tsx
  src/features/auth/WalletAuthModal.tsx
  src/features/auth/index.ts
  src/features/auth/login.ts
  src/features/auth/token.ts
  src/features/auth/useAuthStep.ts
  src/features/auth/useFinishAuth.ts
  src/features/auth/useWalletAuth.ts
  src/features/auth/useWalletStatus.tsx
  src/hooks/useAuthToken.tsx
  src/hooks/useWeb3React.tsx
  src/lib/gql/client.ts
  src/pages/DevPortalPage/DevPortalPage.tsx
  src/services/api.ts
  src/types/api.manifest.d.ts
Owners: none

hide no-op email login button
  src/components/WalletAuthModal.tsx
  src/config/features.ts
Owners: none

move some auth-related code into src/features/auth
  src/components/MainLayout/RequireAuth.tsx
  src/components/SentryScopeController.tsx
  src/components/WalletAuthModal.tsx
  src/features/README.md
  src/features/auth/connectors.ts
  src/features/auth/useFinishAuth.ts
  src/features/auth/useLogout.ts
  src/features/auth/useWalletAuth.ts
  src/hooks/login.tsx
  src/hooks/useApiBase.ts
  src/hooks/useRequireSupportedChain.ts
  src/lib/gql/mutations.ts
  src/pages/VaultsPage/DepositModal.tsx
  src/recoilState/app.ts
Owners: none

bugfix: don't perform React state updates on unmounted component
  src/features/auth/WalletAuthModal.tsx
Owners: none

clean up type importing
  src/features/auth/useFinishAuth.ts
  src/hooks/useContracts.ts
  src/services/api.ts
  src/utils/provider.ts
Owners: none

address review feedback
  src/features/auth/RequireAuth.tsx
  src/features/auth/WalletAuthModal.tsx
  src/hooks/useWeb3React.tsx
Owners: none

add a test for useWeb3React
  src/hooks/useWeb3React.test.tsx
Owners: none

Theme switching (#1702)
  src/components/MainLayout/MainHeader.test.tsx
  src/components/MainLayout/MainHeader.tsx
  src/components/MainLayout/MainLayout.tsx
  src/components/MyAvatarMenu/MyAvatarMenu.tsx
  src/config/features.ts
  src/icons/__generated/CloudDrizzle.tsx
  src/icons/__generated/Moon.tsx
  src/icons/__generated/Sun.tsx
  src/icons/__generated/index.ts
  src/icons/feather/cloud-drizzle.svg
  src/icons/feather/moon.svg
  src/icons/feather/sun.svg
  src/stitches.config.ts
Owners: none

don't call async function before await
  api-test/hasura/actions/_handlers/deleteContribution.test.ts
  package.json
Owners: none

update relationship name
  api-lib/gql/__generated__/zeus/const.ts
  api-lib/gql/__generated__/zeus/index.ts
  hasura/metadata/databases/default/tables/public_epoches.yaml
  hasura/schema/admin/schema.graphql
Owners: @zashton, @topocount

use contracts.createVault helper more
  api-test/hasura/cron/recoverTransactions.test.ts
  src/lib/vaults/contracts.test.ts
  src/lib/vaults/distributor.test.ts
Owners: none

fix DistributionsPage test
  src/lib/vaults/contracts.ts
  src/pages/DistributionsPage/DistributionForm.tsx
  src/pages/DistributionsPage/DistributionsPage.test.tsx
Owners: none

fix error on distributions page when there are no vaults
  src/pages/DistributionsPage/DistributionForm.tsx
Owners: none

fix bug in repeating epoch start date generation
  api/hasura/cron/_epochs.test.ts
  api/hasura/cron/epochs.ts
Owners: none

Rename from Logger to DebugLogger
  src/common-lib/log.test.ts
  src/common-lib/log.ts
Owners: none

Add DEBUG to .env.example
  .env.example
Owners: none

Implement a new Logger class
  src/common-lib/log.test.ts
  src/common-lib/log.ts
Owners: none
