Repository coordinape/coordinape, changes with the owners that .github/CODEOWNERS names for each.
All owners: @topocount, @levity, @zashton

save connector name to profile when logging in
  api-lib/signature.ts
  api-test/login.test.ts
  api/login.ts
  src/features/auth/login.ts
  src/features/auth/useFinishAuth.ts
  src/lib/zod/index.ts
Owners: none

improve login test
  api-test/login.test.ts
  api/login.ts
  src/features/auth/login.ts
Owners: none

add profiles.connector column
  api-lib/gql/__generated__/zeus/const.ts
  api-lib/gql/__generated__/zeus/index.ts
  hasura/migrations/default/1671140663534_profile_connector/down.sql
  hasura/migrations/default/1671140663534_profile_connector/up.sql
  hasura/schema/admin/schema.graphql
Owners: @zashton, @topocount

adjust test timing to reduce flakiness
  src/pages/DistributionsPage/DistributionsPage.test.tsx
Owners: none

Track wallet type of profile (#1770)
  api-lib/gql/__generated__/zeus/const.ts
  api-lib/gql/__generated__/zeus/index.ts
  api-lib/signature.ts
  api-test/login.test.ts
  api/login.ts
  hasura/migrations/default/1671140663534_profile_connector/down.sql
  hasura/migrations/default/1671140663534_profile_connector/up.sql
  hasura/schema/admin/schema.graphql
  src/features/auth/login.ts
  src/features/auth/useFinishAuth.ts
  src/lib/zod/index.ts
  src/pages/DistributionsPage/DistributionsPage.test.tsx
Owners: @zashton, @topocount

feat: Add hasura infra for discord bot (#1687)
  api-lib/event_triggers/discordUserLinked.ts
  api-lib/gql/__generated__/zeus/const.ts
  api-lib/gql/__generated__/zeus/index.ts
  api-lib/types.d.ts
  api/hasura/actions/_handlers/deleteDiscordUser.ts
  api/hasura/event_triggers/eventManager.ts
  hasura/metadata/actions.graphql
  hasura/metadata/actions.yaml
  hasura/metadata/databases/default/tables/discord_users.yaml
  hasura/schema/admin/schema.graphql
  src/lib/zod/index.ts
Owners: @zashton, @topocount

restore previous Map link behavior
  src/components/MainLayout/CircleNav.tsx
Owners: none

minor color updates
  src/components/MainLayout/MainHeader.tsx
  src/components/MainLayout/TopLevelLinks.tsx
  src/stitches.config.ts
  src/ui/Popover/Popover.tsx
Owners: none

Apply suggestions from code review
  api/hasura/actions/_handlers/createNominee.ts
Owners: none

fix merge error
  src/components/MainLayout/CreateUserNameForm.tsx
Owners: none

remove unnecessary linebreaks
  api-lib/findProfile.ts
  api/hasura/actions/_handlers/createUserMutation.ts
  api/hasura/actions/_handlers/createUsers.ts
  api/hasura/actions/_handlers/updateProfileName.ts
  src/components/MainLayout/getMainHeaderData.ts
  src/components/MainLayout/mutations.ts
  src/pages/JoinCirclePage/queries.ts
  src/pages/MembersPage/getActiveNominees.tsx
Owners: none

deduplicate username form modal
  src/components/MainLayout/CreateUserNameForm.tsx
  src/components/MainLayout/MainHeader.tsx
  src/components/MainLayout/MobileHeader.tsx
Owners: none

fix name on profile page when there's no circle context
  src/pages/ProfilePage/ProfilePage.tsx
Owners: none

deleting the old give page, updating test, deleting recoil stuff
  cypress/e2e/allocate.cy.ts
  cypress/e2e/give.cy.ts
  src/components/MainLayout/CircleNav.tsx
  src/pages/AllocationPage/AllocationEpoch.tsx
  src/pages/AllocationPage/AllocationGive.tsx
  src/pages/AllocationPage/AllocationPage.tsx
  src/pages/AllocationPage/AllocationStepper.tsx
  src/pages/AllocationPage/AllocationTeam.tsx
  src/pages/AllocationPage/BalanceContainer.tsx
  src/pages/AllocationPage/BalanceDescription.tsx
  src/pages/AllocationPage/SaveButtonContainer.tsx
  src/pages/AllocationPage/calculations.ts
  src/pages/AllocationPage/index.ts
  src/pages/AllocationPage/queries.ts
  src/pages/CirclesPage/CirclesPage.tsx
  src/pages/GivePage/GiveDrawer.tsx
  src/pages/GivePage/GiveRow.tsx
  src/pages/GivePage/index.tsx
  src/pages/GivePage/queries.ts
  src/pages/HistoryPage/CurrentEpochPanel.tsx
  src/recoilState/allocation.test.tsx
  src/recoilState/allocation.ts
  src/recoilState/app.ts
  src/recoilState/index.ts
  src/recoilState/ui.ts
  src/routes/allocation.ts
  src/routes/paths.ts
  src/routes/routes.tsx
  src/types/allocation.d.ts
  src/types/api.epoch.d.ts
Owners: @topocount

fix createUserMutation and add test
  api-test/hasura/actions/_handlers/createUserMutation.test.ts
  api/hasura/actions/_handlers/createUserMutation.ts
Owners: none

add test case to createUserMutation.test
  api-test/hasura/actions/_handlers/createUserMutation.test.ts
  api-test/helpers/profiles.ts
Owners: none

Delete circles before vaults
  scripts/db_clean.ts
Owners: @topocount

active tag colors
  src/components/MainLayout/OverviewMenu.tsx
  src/components/MainLayout/SampleOrgIndicator.tsx
  src/pages/HistoryPage/CurrentEpochPanel.tsx
  src/pages/HistoryPage/EpochPanel.tsx
  src/stitches.config.ts
  src/ui/Button/Button.tsx
  src/ui/Text/Text.tsx
Owners: none

fix members page caching
  src/pages/MembersPage/MembersTable.tsx
  src/pages/MembersPage/NomineeTable.tsx
  src/pages/MembersPage/getCircleUsers.ts
  src/pages/MembersPage/index.tsx
Owners: none

refetch map data on mount
  src/pages/AssetMapPage/AMDrawer.tsx
Owners: none

refetch after updating users
  src/pages/MembersPage/MembersTable.tsx
Owners: none

fix rebasing error
  src/pages/MembersPage/MembersTable.tsx
Owners: none

convert useMapGraphData to usequery
  src/hooks/useMapGraphData.tsx
  src/pages/AssetMapPage/AMForceGraph.tsx
Owners: none

convert useMapGraphData to usequery
  src/hooks/useMapGraphData.tsx
  src/pages/AssetMapPage/AMForceGraph.tsx
Owners: none

allocations page dark mode. more alert colors. more semantic color names
  src/components/MainLayout/OverviewMenu.tsx
  src/components/MainLayout/SampleOrgIndicator.tsx
  src/pages/GivePage/GiveRowGrid.tsx
  src/pages/GivePage/index.tsx
  src/stitches.config.ts
  src/ui/Button/Button.tsx
  src/ui/Text/Text.tsx
  src/ui/ToggleButton.tsx
Owners: none

More schema changes for Hedgey
  api-lib/gql/__generated__/zeus/const.ts
  api-lib/gql/__generated__/zeus/index.ts
  hardhat/deploymentInfo.json
  hardhat/dist/deploymentInfo.json
  hasura/metadata/databases/default/tables/public_locked_token_distribution_gifts.yaml
  hasura/metadata/databases/default/tables/public_locked_token_distributions.yaml
  hasura/metadata/databases/default/tables/tables.yaml
  hasura/migrations/default/1671022164553_create_table_public_locked_token_distribution_gifts/down.sql
  hasura/migrations/default/1671022164553_create_table_public_locked_token_distribution_gifts/up.sql
  hasura/schema/admin/schema.graphql
  hasura/schema/user/schema.graphql
  scripts/db_clean.ts
  src/lib/gql/__generated__/zeus/const.ts
  src/lib/gql/__generated__/zeus/index.ts
Owners: @levity, @topocount, @zashton

fix initial enabling of hedgey integration
  src/pages/CircleAdminPage/HedgeyIntegrationSettings.tsx
Owners: none

feat: hedgey-frontend-integration admin and distribution form changes
  src/lib/gql/mutations.ts
  src/lib/hedgey/index.ts
  src/pages/CircleAdminPage/AdminIntegrations.tsx
  src/pages/CircleAdminPage/HedgeyIntegrationSettings.tsx
  src/pages/DistributionsPage/DistributionForm.tsx
  src/pages/DistributionsPage/mutations.ts
  src/pages/DistributionsPage/useLockedTokenDistributions.tsx
Owners: none

feat: adding etherscan button
  src/pages/DistributionsPage/DistributionForm.tsx
  src/pages/DistributionsPage/useLockedTokenDistributions.tsx
Owners: none

simplify rendering of settings
  src/pages/CircleAdminPage/HedgeyIntegrationSettings.tsx
Owners: none

fix: updating to use new hedgey contract
  src/lib/hedgey/BatchNFTMinter.json
  src/lib/hedgey/index.ts
Owners: none

feat: locked token distribution
  src/lib/hedgey/BatchNFTMinter.json
  src/lib/hedgey/index.ts
  src/pages/DistributionsPage/DistributionForm.tsx
  src/pages/DistributionsPage/queries.ts
  src/pages/DistributionsPage/useLockedTokenDistributions.tsx
Owners: none

fix DistributionsPage test
  src/pages/DistributionsPage/DistributionsPage.test.tsx
Owners: none

feat: adding hedgey table to the claims page
  src/pages/ClaimsPage/ClaimsPage.tsx
  src/pages/ClaimsPage/LockedTokenGiftsTable.tsx
  src/pages/ClaimsPage/queries.ts
  src/pages/DistributionsPage/DistributionForm.tsx
  src/pages/DistributionsPage/mutations.ts
  src/pages/DistributionsPage/queries.ts
  src/pages/DistributionsPage/useLockedTokenDistributions.tsx
Owners: none

add contributor test and remove unused code
  cypress/e2e/give.cy.ts
  src/pages/GivePage/ContributorButton.tsx
  src/pages/GivePage/queries.ts
Owners: @topocount

Theme colors ...continued (#1779)
  src/components/MainLayout/MainHeader.tsx
  src/components/MainLayout/OverviewMenu.tsx
  src/components/MainLayout/SampleOrgIndicator.tsx
  src/components/MainLayout/TopLevelLinks.tsx
  src/pages/GivePage/GiveRowGrid.tsx
  src/pages/GivePage/index.tsx
  src/pages/HistoryPage/CurrentEpochPanel.tsx
  src/pages/HistoryPage/EpochPanel.tsx
  src/stitches.config.ts
  src/ui/Button/Button.tsx
  src/ui/Popover/Popover.tsx
  src/ui/Text/Text.tsx
  src/ui/ToggleButton.tsx
Owners: none

return error promise
  api/hasura/actions/_handlers/deleteUser.ts
Owners: none

Fix to deleteUser unit test
  api-test/hasura/actions/_handlers/deleteUser.test.ts
Owners: none

fix typo
  api-test/hasura/actions/_handlers/deleteUser.test.ts
Owners: none

add user non existent test flow
  api-test/hasura/actions/_handlers/deleteUser.test.ts
  api/hasura/actions/_handlers/deleteUser.ts
Owners: none

.github/CODEOWNERS:

/cypress/   @topocount
/docker/    @topocount
/hardhat/   @levity @topocount
/hasura/    @zashton @topocount
/scripts/   @topocount
