Repository coordinape/coordinape, changes with the owners that .github/CODEOWNERS names for each.
All owners: @topocount, @levity, @zashton

set up logged-out routes
  src/components/MainLayout/MainLayout.tsx
  src/routes/routes.tsx
Owners: none

allow loading app routes into TestWrapper
  src/utils/testing/index.tsx
Owners: none

this stuff doesn't work yet
  src/features/nav/NavProfile.tsx
Owners: none

fix: adding hedgey link for goerli
  src/pages/ClaimsPage/LockedTokenGiftsTable.tsx
Owners: none

fix: reset for on locked token distribution
  src/pages/DistributionsPage/DistributionForm.tsx
Owners: none

Implement New CreateEpoch API
  api-lib/gql/__generated__/zeus/const.ts
  api-lib/gql/__generated__/zeus/index.ts
  api-lib/gql/queries.ts
  api-test/hasura/actions/_handlers/createEpoch.test.ts
  api/hasura/actions/_handlers/createEpoch.ts
  hasura/metadata/actions.graphql
  hasura/metadata/actions.yaml
  hasura/metadata/databases/default/tables/public_epoches.yaml
  hasura/migrations/default/1670612024840_alter_table_public_epoches_add_column_repeat_data/down.sql
  hasura/migrations/default/1670612024840_alter_table_public_epoches_add_column_repeat_data/up.sql
  hasura/schema/admin/schema.graphql
  hasura/schema/user/schema.graphql
  src/lib/gql/__generated__/zeus/const.ts
  src/lib/gql/__generated__/zeus/index.ts
  src/lib/zod/formHelpers.ts
  src/pages/HistoryPage/EpochForm.tsx
Owners: @zashton, @topocount

Reimplement Epoch Form with New design
  cypress/e2e/createEpoch.cy.ts
  package.json
  src/components/FormDatePicker.tsx
  src/components/FormInputField.tsx
  src/components/FormTimePicker.tsx
  src/hooks/useApiAdminCircle.ts
  src/lib/gql/mutations.ts
  src/lib/zod/index.ts
  src/pages/HistoryPage/EpochForm.tsx
  src/pages/HistoryPage/HistoryPage.tsx
  src/pages/HistoryPage/getHistoryData.ts
  yarn.lock
Owners: @topocount

Close Bottom nav on click
  src/features/nav/NavProfile.tsx
Owners: none

Simplify isCurrentCircle logic
  src/features/nav/NavCircles.tsx
Owners: none

Exclude circles user is not member of from nav list
  src/features/nav/getNavData.ts
Owners: none

improving the org routing
  src/pages/OrganizationPage/OrganizationPage.tsx
  src/pages/VaultsPage/VaultsPage.tsx
  src/routes/paths.ts
  src/routes/routes.tsx
Owners: none

some lil tweaks
  src/components/MainLayout/MainLayout.tsx
  src/features/nav/SideNav.tsx
  src/features/nav/getNavData.ts
Owners: none

fixing icons
  src/features/nav/SideNav.tsx
  src/icons/__generated/Circle2.tsx
  src/icons/__generated/CoOrg.tsx
  src/icons/__generated/Epoch.tsx
  src/icons/__generated/index.ts
  src/icons/custom/circle-2.svg
  src/icons/custom/co-org.svg
  src/icons/custom/epoch.svg
Owners: none

removing comment about icons
  src/features/nav/SideNav.tsx
Owners: none

removing Epoch2
  src/icons/__generated/index.ts
Owners: none

bugfix: only auth circle admins to linkDiscordCircle
  api/hasura/actions/_handlers/linkDiscordCircle.ts
Owners: none

Add discord_channel_id and rename role column to discord_role_id
  api-lib/gql/__generated__/zeus/const.ts
  api-lib/gql/__generated__/zeus/index.ts
  hasura/metadata/databases/default/tables/discord_roles_circles.yaml
  hasura/migrations/default/1674189914494_add_dicord_channel_id_rename_server_role/down.sql
  hasura/migrations/default/1674189914494_add_dicord_channel_id_rename_server_role/up.sql
  hasura/schema/admin/schema.graphql
  hasura/schema/user/schema.graphql
  src/lib/gql/__generated__/zeus/const.ts
  src/lib/gql/__generated__/zeus/index.ts
Owners: @zashton, @topocount

feat: hedgey-frontend-integration admin and distribution form changes
  src/lib/gql/mutations.ts
  src/lib/hedgey/index.ts
  src/pages/CircleAdminPage/AdminIntegrations.tsx
  src/pages/CircleAdminPage/HedgeyIntegrationSettings.tsx
  src/pages/DistributionsPage/DistributionForm.tsx
  src/pages/DistributionsPage/mutations.ts
  src/pages/DistributionsPage/useLockedTokenDistributions.tsx
Owners: none

fix initial enabling of hedgey integration
  src/pages/CircleAdminPage/HedgeyIntegrationSettings.tsx
Owners: none

feat: locked token distribution
  src/lib/hedgey/BatchNFTMinter.json
  src/lib/hedgey/index.ts
  src/pages/DistributionsPage/DistributionForm.tsx
  src/pages/DistributionsPage/queries.ts
  src/pages/DistributionsPage/useLockedTokenDistributions.tsx
Owners: none

fix: updating to use new hedgey contract
  src/lib/hedgey/BatchNFTMinter.json
  src/lib/hedgey/index.ts
Owners: none

feat: adding hedgey table to the claims page
  src/pages/ClaimsPage/ClaimsPage.tsx
  src/pages/ClaimsPage/LockedTokenGiftsTable.tsx
  src/pages/ClaimsPage/queries.ts
  src/pages/DistributionsPage/DistributionForm.tsx
  src/pages/DistributionsPage/mutations.ts
  src/pages/DistributionsPage/queries.ts
  src/pages/DistributionsPage/useLockedTokenDistributions.tsx
Owners: none

feat: adding etherscan button
  src/pages/DistributionsPage/DistributionForm.tsx
  src/pages/DistributionsPage/useLockedTokenDistributions.tsx
Owners: none

fix: updating to use latest hedgey portfolio
  src/pages/ClaimsPage/LockedTokenGiftsTable.tsx
Owners: none

fix DistributionsPage test
  src/pages/DistributionsPage/DistributionsPage.test.tsx
Owners: none

fix: select contents should show above other elements
  src/ui/Select/Select.tsx
Owners: none

simplify rendering of settings
  src/pages/CircleAdminPage/HedgeyIntegrationSettings.tsx
Owners: none

fix: transaction don't complete as vault value is not updated on change
  src/pages/DistributionsPage/DistributionForm.tsx
Owners: none

fix: Hedgey option when enabled was mixed up
  src/pages/DistributionsPage/DistributionForm.tsx
Owners: none

fix: save not indicating and failing
  src/pages/CircleAdminPage/HedgeyIntegrationSettings.tsx
Owners: none

make integration type a constant
  src/lib/hedgey/index.ts
  src/pages/CircleAdminPage/AdminIntegrations.tsx
  src/pages/CircleAdminPage/HedgeyIntegrationSettings.tsx
  src/pages/DistributionsPage/DistributionForm.tsx
Owners: none

don't show "Connected Wallet" when hedgey's disabled
  src/pages/DistributionsPage/DistributionForm.tsx
Owners: none

fix: claims page number conversion
  src/pages/ClaimsPage/LockedTokenGiftsTable.tsx
Owners: none

don't show duplicate blank options
  src/pages/DistributionsPage/DistributionForm.tsx
Owners: none

add some debug logging
  src/lib/hedgey/index.ts
  src/pages/DistributionsPage/DistributionForm.tsx
  src/pages/DistributionsPage/useLockedTokenDistributions.tsx
Owners: none

fix: issue with claims page and update rewards value on distributions table
  api-lib/gql/__generated__/zeus/const.ts
  api-lib/gql/__generated__/zeus/index.ts
  hasura/schema/admin/schema.graphql
  hasura/schema/user/schema.graphql
  src/lib/gql/__generated__/zeus/const.ts
  src/lib/gql/__generated__/zeus/index.ts
  src/pages/DistributionsPage/AllocationsTable.tsx
  src/pages/DistributionsPage/DistributionForm.tsx
  src/pages/DistributionsPage/DistributionsPage.tsx
  src/pages/DistributionsPage/queries.ts
Owners: @zashton, @topocount

fix: support for locked token distribution from yearn vaults
  api-lib/gql/__generated__/zeus/const.ts
  api-lib/gql/__generated__/zeus/index.ts
  hasura/schema/admin/schema.graphql
  hasura/schema/user/schema.graphql
  src/lib/gql/__generated__/zeus/const.ts
  src/lib/gql/__generated__/zeus/index.ts
  src/pages/DistributionsPage/useLockedTokenDistributions.tsx
Owners: @zashton, @topocount

fix: symbol not updating and display error in distribution form
  src/pages/DistributionsPage/AllocationsTable.tsx
  src/pages/DistributionsPage/DistributionForm.tsx
  src/pages/DistributionsPage/DistributionsPage.tsx
  src/types/custom.token.d.ts
  src/types/locked.token.distribution.d.ts
Owners: none

fix: correcting token address issues
  src/lib/hedgey/index.ts
  src/pages/DistributionsPage/DistributionForm.tsx
  src/pages/DistributionsPage/useLockedTokenDistributions.tsx
Owners: none

fix: adding types and removing any
  src/lib/hedgey/index.ts
  src/pages/DistributionsPage/DistributionForm.tsx
  src/pages/DistributionsPage/useLockedTokenDistributions.tsx
Owners: none

.github/CODEOWNERS:

/cypress/   @topocount
/docker/    @topocount
/hardhat/   @levity @topocount
/hasura/    @zashton @topocount
/scripts/   @topocount
