Repository coordinape/coordinape, changes with the owners that .github/CODEOWNERS names for each.
All owners: @topocount, @levity, @zashton

.github/CODEOWNERS:

/cypress/   @topocount
/docker/    @topocount
/hardhat/   @levity @topocount
/hasura/    @zashton @topocount
/scripts/   @topocount

add MarkdownPreview styling and storybook
  src/pages/GivePage/EpochStatementDrawer.tsx
  src/pages/GivePage/GiveDrawer.tsx
  src/ui/MarkdownPreview/MarkdownPreview.stories.tsx
  src/ui/MarkdownPreview/MarkdownPreview.tsx
  src/ui/index.ts
Owners: none

Implement bimonthy frequency
  src/lib/zod/index.ts
  src/pages/HistoryPage/EpochForm.tsx
  src/pages/HistoryPage/getHistoryData.ts
Owners: none

Implement a single handler for active recurring epochs
  src/hooks/useApiAdminCircle.ts
  src/lib/gql/mutations.ts
Owners: none

feat: Add `Avatar` story (#1634)
  src/ui/Avatar/Avatar.stories.tsx
  src/ui/Avatar/Avatar.tsx
  src/utils/domain.ts
Owners: none

don't use separate provider in VaultTransactions
  src/pages/VaultsPage/VaultTransactions.tsx
  src/utils/provider.ts
Owners: none

don't auto-instantiate provider in tests
  api-test/hasura/actions/_handlers/markClaimed.test.ts
  api-test/hasura/cron/recoverTransactions.test.ts
  cypress/support/commands.ts
  src/lib/vaults/contracts.test.ts
  src/lib/vaults/contracts.ts
  src/lib/vaults/distributor.test.ts
  src/pages/ClaimsPage/useClaimAllocation.test.tsx
  src/pages/DistributionsPage/useSubmitDistribution.test.tsx
  src/utils/testing/index.tsx
  src/utils/testing/mint.ts
  src/utils/testing/provider.ts
  src/utils/testing/unlockSigner.ts
Owners: @topocount

always use same port in injectWeb3
  cypress/e2e/allocate.cy.ts
  cypress/e2e/createEpoch.cy.ts
  cypress/e2e/createNominee.cy.ts
  cypress/e2e/createUser.cy.ts
  cypress/e2e/createVault.cy.ts
  cypress/e2e/updateCircle.cy.ts
  cypress/e2e/updateUser.cy.ts
  cypress/util/index.ts
Owners: @topocount

refactor test provider code to work in Cypress (#1643)
  api-test/hasura/actions/_handlers/markClaimed.test.ts
  api-test/hasura/cron/recoverTransactions.test.ts
  cypress/e2e/allocate.cy.ts
  cypress/e2e/createEpoch.cy.ts
  cypress/e2e/createNominee.cy.ts
  cypress/e2e/createUser.cy.ts
  cypress/e2e/createVault.cy.ts
  cypress/e2e/updateCircle.cy.ts
  cypress/e2e/updateUser.cy.ts
  cypress/support/commands.ts
  cypress/util/index.ts
  src/lib/vaults/contracts.test.ts
  src/lib/vaults/contracts.ts
  src/lib/vaults/distributor.test.ts
  src/pages/ClaimsPage/useClaimAllocation.test.tsx
  src/pages/DistributionsPage/useSubmitDistribution.test.tsx
  src/pages/VaultsPage/VaultTransactions.tsx
  src/utils/provider.ts
  src/utils/testing/index.tsx
  src/utils/testing/mint.ts
  src/utils/testing/provider.ts
  src/utils/testing/unlockSigner.ts
Owners: @topocount

move mockUserClient into api-test/helpers
  api-lib/gql/adminClient.ts
  api-lib/gql/index.ts
  api-lib/gql/makeThunder.ts
  api-lib/gql/mockUserClient.ts
  api-test/__tests__/deleteContribution.test.ts
  api-test/helpers/common/types.ts
  api-test/helpers/getUniqueAddress.ts
  api-test/helpers/index.ts
  api-test/helpers/mockUserClient.ts
  api/hasura/auth.ts
  cypress/util/index.ts
Owners: @topocount

remove old ci.sh
  .env.example
  scripts/ci.sh
Owners: @topocount

no need for extra __tests__ folder inside api-test
  api-test/hasura/actions/_handlers/deleteContribution.test.ts
  nodemon.json
Owners: none

feat: POC Jest + Hasura testing infra
  api-lib/config.ts
  api-lib/gql/adminClient.ts
  api-lib/gql/index.ts
  api-lib/gql/makeThunder.ts
  api-lib/gql/mockUserClient.ts
  api-test/__tests__/deleteContribution.test.ts
  api-test/helpers/circles.ts
  api-test/helpers/common/index.ts
  api-test/helpers/common/types.ts
  api-test/helpers/contributions.ts
  api-test/helpers/getUniqueAddress.ts
  api-test/helpers/index.ts
  api-test/helpers/organizations.ts
  api-test/helpers/profiles.ts
  api-test/helpers/users.ts
  api/hasura/auth.ts
  cypress/util/index.ts
  nodemon.json
  src/lib/zod/index.ts
Owners: @topocount

unified CI manager script
  .ci.env
  .env.example
  .github/workflows/CI.yml
  api-lib/config.ts
  craco.config.js
  cypress.config.ts
  cypress/plugins/index.ts
  docker-compose.yml
  hardhat/package.json
  hardhat/scripts/start-ganache.sh
  package.json
  scripts/ci/manager.sh
  scripts/db_seed_test.ts
  scripts/disable_cron.sh
  scripts/disable_triggers.sh
  scripts/enable_triggers.sh
  scripts/env.sh
  scripts/seed_hasura.sh
  scripts/serve.sh
  src/config/env.ts
Owners: @topocount, @levity

add notes about testing to README
  README.md
  package.json
  scripts/ci/manager.sh
Owners: @topocount

set PATH to ts-node
  scripts/ci/manager.sh
Owners: @topocount

Single command to start up all dependencies (#1540)
  .ci.env
  .env.example
  .github/workflows/CI.yml
  README.md
  api-lib/config.ts
  craco.config.js
  cypress.config.ts
  cypress/plugins/index.ts
  docker-compose.yml
  hardhat/package.json
  hardhat/scripts/start-ganache.sh
  package.json
  scripts/ci.sh
  scripts/ci/manager.sh
  scripts/db_seed_test.ts
  scripts/disable_cron.sh
  scripts/disable_triggers.sh
  scripts/enable_triggers.sh
  scripts/env.sh
  scripts/seed_hasura.sh
  scripts/serve.sh
  src/config/env.ts
Owners: @topocount, @levity

feat: POC Jest + Hasura testing infra
  api-lib/config.ts
  api-lib/gql/adminClient.ts
  api-lib/gql/index.ts
  api-lib/gql/makeThunder.ts
  api-lib/gql/mockUserClient.ts
  api-test/__tests__/deleteContribution.test.ts
  api-test/helpers/circles.ts
  api-test/helpers/common/index.ts
  api-test/helpers/common/types.ts
  api-test/helpers/contributions.ts
  api-test/helpers/getUniqueAddress.ts
  api-test/helpers/index.ts
  api-test/helpers/organizations.ts
  api-test/helpers/profiles.ts
  api-test/helpers/users.ts
  api/hasura/auth.ts
  cypress/util/index.ts
  nodemon.json
  src/lib/zod/index.ts
Owners: @topocount

move mockUserClient into api-test/helpers
  api-lib/gql/adminClient.ts
  api-lib/gql/index.ts
  api-lib/gql/makeThunder.ts
  api-lib/gql/mockUserClient.ts
  api-test/__tests__/deleteContribution.test.ts
  api-test/helpers/common/types.ts
  api-test/helpers/getUniqueAddress.ts
  api-test/helpers/index.ts
  api-test/helpers/mockUserClient.ts
  api/hasura/auth.ts
  cypress/util/index.ts
Owners: @topocount

no need for extra __tests__ folder inside api-test
  api-test/hasura/actions/_handlers/deleteContribution.test.ts
  nodemon.json
Owners: none

feat: Jest + Hasura testing infra (#1646, #1486)
  api-lib/config.ts
  api-lib/gql/adminClient.ts
  api-lib/gql/makeThunder.ts
  api-test/hasura/actions/_handlers/deleteContribution.test.ts
  api-test/helpers/circles.ts
  api-test/helpers/common/index.ts
  api-test/helpers/common/types.ts
  api-test/helpers/contributions.ts
  api-test/helpers/getUniqueAddress.ts
  api-test/helpers/index.ts
  api-test/helpers/mockUserClient.ts
  api-test/helpers/organizations.ts
  api-test/helpers/profiles.ts
  api-test/helpers/users.ts
  api/hasura/auth.ts
  cypress/util/index.ts
  nodemon.json
  src/lib/zod/index.ts
Owners: @topocount

cache docker images in CI
  .github/workflows/CI.yml
Owners: none

upgrade github actions
  .github/workflows/CI.yml
Owners: none

cache docker images in CI (#1647)
  .github/workflows/CI.yml
Owners: none

upgrade github actions (#1648)
  .github/workflows/CI.yml
Owners: none

add migrations
  api-lib/gql/__generated__/zeus/const.ts
  api-lib/gql/__generated__/zeus/index.ts
  api/hasura/cron/calcPgives.ts
  hasura/metadata/cron_triggers.yaml
  hasura/metadata/databases/default/tables/public_circle_pgives.yaml
  hasura/metadata/databases/default/tables/public_circles.yaml
  hasura/metadata/databases/default/tables/public_epoches.yaml
  hasura/metadata/databases/default/tables/public_member_epoch_pgives.yaml
  hasura/metadata/databases/default/tables/tables.yaml
  hasura/migrations/default/1667903293146_create_table_public_circle_pgives/down.sql
  hasura/migrations/default/1667903293146_create_table_public_circle_pgives/up.sql
  hasura/migrations/default/1667903493808_alter_table_public_epoches_add_column_pgive/down.sql
  hasura/migrations/default/1667903493808_alter_table_public_epoches_add_column_pgive/up.sql
  hasura/migrations/default/1667903519998_alter_table_public_epoches_add_column_gives_receiver_base/down.sql
  hasura/migrations/default/1667903519998_alter_table_public_epoches_add_column_gives_receiver_base/up.sql
  hasura/migrations/default/1667903553298_alter_table_public_epoches_add_column_active_months_bonus/down.sql
  hasura/migrations/default/1667903553298_alter_table_public_epoches_add_column_active_months_bonus/up.sql
  hasura/migrations/default/1667903576331_alter_table_public_epoches_add_column_notes_bonus/down.sql
  hasura/migrations/default/1667903576331_alter_table_public_epoches_add_column_notes_bonus/up.sql
  hasura/migrations/default/1667903620122_alter_table_public_epoches_add_column_circle_pgives_id/down.sql
  hasura/migrations/default/1667903620122_alter_table_public_epoches_add_column_circle_pgives_id/up.sql
  hasura/migrations/default/1667903634190_set_fk_public_epoches_circle_pgives_id/down.sql
  hasura/migrations/default/1667903634190_set_fk_public_epoches_circle_pgives_id/up.sql
  hasura/migrations/default/1667904292656_create_table_public_member_epoch_pgives/down.sql
  hasura/migrations/default/1667904292656_create_table_public_member_epoch_pgives/up.sql
  hasura/schema/admin/schema.graphql
  scripts/serve_dev.ts
Owners: @zashton, @topocount

offset
  api/hasura/cron/calcPgives.ts
Owners: none

offset
  api/pgive.ts
Owners: none

fix gql
  api/pgive.ts
Owners: none

fix active bonus issue
  api/pgive.ts
Owners: none

feat: Add `HR` story (#1635)
  src/ui/HR/HR.stories.tsx
Owners: none

fix opt-out user snackbar
  src/pages/MembersPage/MembersTable.tsx
Owners: none

remove extra loading and idle checks
  src/pages/MembersPage/index.tsx
Owners: none

enhance re-rendering and re-fetching
  src/hooks/gql/useCircleOrg.ts
  src/hooks/gql/useVaults.ts
  src/pages/MembersPage/MembersTable.tsx
  src/pages/MembersPage/index.tsx
Owners: none

re-render on data change only
  src/hooks/gql/useCircleOrg.ts
  src/hooks/gql/useVaults.ts
  src/pages/DistributionsPage/DistributionsPage.tsx
Owners: none

feat: Add `Collapsible` story (#1632)
  .storybook/main.js
  .storybook/preview.js
  src/ui/Collapsible/Collapsible.stories.tsx
Owners: none

markdown styling update
  src/ui/MarkdownPreview/MarkdownPreview.tsx
Owners: none

Add sanitized markdown support for epoch statement (#1631)
  api/hasura/actions/_handlers/updateUser.ts
  package.json
  src/pages/GivePage/EpochStatementDrawer.tsx
  src/pages/GivePage/GiveDrawer.tsx
  src/ui/MarkdownPreview/MarkdownPreview.stories.tsx
  src/ui/MarkdownPreview/MarkdownPreview.tsx
  src/ui/index.ts
  yarn.lock
Owners: none

Update schema to add permissions for circle API users to read/create contributions (#1609)
  hasura/metadata/databases/default/tables/public_circle_api_keys.yaml
  hasura/metadata/databases/default/tables/public_contributions.yaml
  hasura/migrations/default/1667278140823_contributions_api/down.sql
  hasura/migrations/default/1667278140823_contributions_api/up.sql
Owners: @zashton, @topocount

feat: Add `CircleWithLogo` story (#1637)
  src/ui/CircleWithLogo.stories.tsx
Owners: none

move circleWithLogo story to fix path bug
  .storybook/main.js
  src/ui/CircleWithLogo.stories.tsx
Owners: none
