Repository coordinape/coordinape, changes with the owners that .github/CODEOWNERS names for each.
All owners: @topocount, @levity, @zashton

Implement a Debug Logger (#1720)
  .env.example
  src/common-lib/log.test.ts
  src/common-lib/log.ts
Owners: none

Add Logger to the gql codegen
  api-lib/gql/__generated__/zeus/index.ts
  api-test/hasura/actions/_handlers/deleteContribution.test.ts
  api-test/hasura/actions/_handlers/updateContribution.test.ts
  hasura/schema/admin/schema.graphql
  hasura/schema/user/schema.graphql
  scripts/generate_zeus.sh
  src/common-lib/__mocks__/log.ts
  src/common-lib/log.test.ts
  src/lib/gql/__generated__/zeus/index.ts
  src/utils/test-setup.ts
Owners: @zashton, @topocount

add updated schema files
  hasura/schema/admin/schema.graphql
  hasura/schema/user/schema.graphql
Owners: @zashton, @topocount

Add Logger to the gql codegen (#1721)
  api-lib/gql/__generated__/zeus/index.ts
  api-test/hasura/actions/_handlers/deleteContribution.test.ts
  api-test/hasura/actions/_handlers/updateContribution.test.ts
  scripts/generate_zeus.sh
  src/common-lib/__mocks__/log.ts
  src/common-lib/log.test.ts
  src/lib/gql/__generated__/zeus/index.ts
  src/utils/test-setup.ts
Owners: @topocount

add magic connect libs
  package.json
  yarn.lock
Owners: none

add magic connect libs (#1723)
  package.json
  yarn.lock
Owners: none

admin page requires vault chains
  src/pages/CircleAdminPage/CircleAdminPage.tsx
Owners: none

add ability to disable distribute evenly for particular circles using our feature flagging mechanism
  src/config/features.ts
  src/pages/GivePage/index.tsx
Owners: none

basic support for denim font
  .storybook/preview-head.html
  public/fonts/Denim-Bold.woff2
  public/fonts/Denim-BoldItalic.woff2
  public/fonts/Denim-Heavy.woff2
  public/fonts/Denim-HeavyItalic.woff2
  public/fonts/Denim-Light.woff2
  public/fonts/Denim-LightItalic.woff2
  public/fonts/Denim-Medium.woff2
  public/fonts/Denim-MediumItalic.woff2
  public/fonts/Denim-Regular.woff2
  public/fonts/Denim-RegularItalic.woff2
  public/fonts/Denim-SemiBold.woff2
  public/fonts/Denim-SemiBoldItalic.woff2
  src/App.css
  src/components/Paginator.tsx
  src/pages/CircleAdminPage/CircleAdminPage.tsx
  src/pages/HistoryPage/EpochForm.tsx
  src/pages/HistoryPage/EpochPanel.tsx
  src/pages/HistoryPage/NextEpoch.tsx
  src/pages/MembersPage/Paginator.tsx
  src/stitches.config.ts
  src/theme/typography.ts
  src/ui/MarkdownPreview/MarkdownPreview.tsx
  src/ui/Text/Text.tsx
Owners: none

Set custom headers for fonts
  vercel.json
Owners: none

add ability to disable distribute evenly for particular circles using our feature flagging mechanism (#1727)
  src/config/features.ts
  src/pages/GivePage/index.tsx
Owners: none

admin page requires vault chains (#1726)
  src/pages/CircleAdminPage/CircleAdminPage.tsx
Owners: none

link to create a real circle in the sample org alert bar
  src/components/MainLayout/SampleOrgIndicator.tsx
Owners: none

link to create a real circle in the sample org alert bar (#1713)
  src/components/MainLayout/SampleOrgIndicator.tsx
Owners: none

Log chainId along with login request to Mixpanel
  api/login.ts
Owners: none

add types
  api/login.ts
Owners: none

basic support for denim font (#1722)
  .storybook/preview-head.html
  public/fonts/Denim-Bold.woff2
  public/fonts/Denim-BoldItalic.woff2
  public/fonts/Denim-Heavy.woff2
  public/fonts/Denim-HeavyItalic.woff2
  public/fonts/Denim-Light.woff2
  public/fonts/Denim-LightItalic.woff2
  public/fonts/Denim-Medium.woff2
  public/fonts/Denim-MediumItalic.woff2
  public/fonts/Denim-Regular.woff2
  public/fonts/Denim-RegularItalic.woff2
  public/fonts/Denim-SemiBold.woff2
  public/fonts/Denim-SemiBoldItalic.woff2
  src/App.css
  src/components/Paginator.tsx
  src/pages/CircleAdminPage/CircleAdminPage.tsx
  src/pages/HistoryPage/EpochForm.tsx
  src/pages/HistoryPage/EpochPanel.tsx
  src/pages/HistoryPage/NextEpoch.tsx
  src/pages/MembersPage/Paginator.tsx
  src/stitches.config.ts
  src/theme/typography.ts
  src/ui/MarkdownPreview/MarkdownPreview.tsx
  src/ui/Text/Text.tsx
  vercel.json
Owners: none

cleanup vaults page code
  src/pages/VaultsPage/CreateForm.tsx
  src/pages/VaultsPage/VaultsPage.tsx
Owners: none

fix typo in DepositModal
  src/pages/VaultsPage/DepositModal.tsx
Owners: none

Update api/login.ts
  api/login.ts
Owners: none

IntContribution link on ContributionsPage
  src/pages/ContributionsPage/ContributionsPage.tsx
Owners: none

Revert "hoverOn"
  src/components/MainLayout/MobileHeader.tsx
Owners: none

Add Pgives schema (#1658)
  api-lib/gql/__generated__/zeus/const.ts
  api-lib/gql/__generated__/zeus/index.ts
  hasura/metadata/databases/default/tables/public_epoch_pgive_data.yaml
  hasura/metadata/databases/default/tables/public_epoches.yaml
  hasura/metadata/databases/default/tables/public_member_epoch_pgives.yaml
  hasura/metadata/databases/default/tables/tables.yaml
  hasura/migrations/default/1667904292656_create_table_public_member_epoch_pgives/down.sql
  hasura/migrations/default/1667904292656_create_table_public_member_epoch_pgives/up.sql
  hasura/migrations/default/1668439783560_create_table_public_epoch_pgive_data/down.sql
  hasura/migrations/default/1668439783560_create_table_public_epoch_pgive_data/up.sql
  hasura/schema/admin/schema.graphql
  scripts/db_clean.ts
Owners: @zashton, @topocount

feat: Hedgey Integration, adding locked_token_distributions table and adding the ability to update a circle_integration data
  api-lib/gql/__generated__/zeus/const.ts
  api-lib/gql/__generated__/zeus/index.ts
  hasura/metadata/cron_triggers.yaml
  hasura/metadata/databases/default/tables/public_circle_integrations.yaml
  hasura/metadata/databases/default/tables/public_locked_token_distributions.yaml
  hasura/metadata/databases/default/tables/tables.yaml
  hasura/migrations/default/1670234780227_create_table_public_locked_token_distributions/down.sql
  hasura/migrations/default/1670234780227_create_table_public_locked_token_distributions/up.sql
  hasura/schema/admin/schema.graphql
  hasura/schema/user/schema.graphql
  src/lib/gql/__generated__/zeus/const.ts
  src/lib/gql/__generated__/zeus/index.ts
Owners: @zashton, @topocount

fix: restoring yaml file
  hasura/metadata/cron_triggers.yaml
Owners: @zashton, @topocount

feat: Adds Hedgey contracts to deploymentInfo
  hardhat/deploymentInfo.json
  hardhat/dist/deploymentInfo.json
Owners: @levity, @topocount

include name profiles in users queries
  api-lib/event_triggers/createCircleCRM.ts
  api-lib/event_triggers/utils/handleVouchMsg.ts
  api-lib/findUser.ts
  api-lib/gql/queries.ts
  api-lib/handleNomineeCreatedMsg.ts
  api-lib/handleRefundGiveMsg.ts
  api/circle/landing/[token].ts
  api/hasura/actions/_handlers/allocationCsv.ts
  api/hasura/cron/dailyUpdate.ts
  api/hasura/cron/epochs.ts
  src/components/ProfileCard/ProfileCard.test.tsx
  src/components/ReceiveInfo.tsx
  src/hooks/gql/useVaults.ts
  src/lib/gql/mutations/vaults.ts
  src/lib/gql/queries.ts
  src/pages/AllocationPage/AllocationTeam.tsx
  src/pages/AllocationPage/queries.ts
  src/pages/CircleAdminPage/CircleApi/ApiKeyRow.tsx
  src/pages/CircleAdminPage/CircleApi/useCircleApiKeys.ts
  src/pages/DistributionsPage/queries.ts
  src/pages/GivePage/EpochStatementDrawer.tsx
  src/pages/GivePage/GiveDrawer.tsx
  src/pages/GivePage/GiveRow.tsx
  src/pages/GivePage/index.tsx
  src/pages/GivePage/queries.ts
  src/pages/HistoryPage/EpochPanel.tsx
  src/pages/HistoryPage/HistoryPage.test.tsx
  src/pages/HistoryPage/getHistoryData.ts
  src/pages/JoinCirclePage/JoinWithMagicLink.tsx
  src/pages/MembersPage/NomineeTable.tsx
  src/pages/MembersPage/getActiveNominees.tsx
  src/pages/ProfilePage/ProfilePage.tsx
  src/pages/VaultsPage/VaultTransactions.tsx
  src/pages/VaultsPage/queries.ts
  src/recoilState/map.ts
  src/types/api.user.profile.d.ts
  src/utils/testing/recoil.ts
Owners: none

add profile.name to rest of users queries
  src/components/ProfileCard/ProfileCard.tsx
  src/lib/gql/queries.ts
  src/pages/AllocationPage/AllocationGive.tsx
  src/pages/AssetMapPage/AMDrawer.tsx
  src/pages/AssetMapPage/AMProfileCard.tsx
  src/pages/CreateCirclePage/CreateCirclePage.tsx
  src/pages/DistributionsPage/DistributionsPage.tsx
  src/pages/GivePage/MyGiveRow.tsx
  src/pages/MembersPage/MembersTable.tsx
  src/pages/MembersPage/index.tsx
Owners: none

fixing missing id and address
  src/lib/gql/queries.ts
Owners: none

prettier fix
  src/pages/GivePage/GiveRow.tsx
  src/pages/GivePage/MyGiveRow.tsx
  src/recoilState/map.ts
Owners: none

leaveCircleDialog fix
  src/pages/MembersPage/MembersTable.tsx
Owners: none

markdown support for edit profile form and page
  src/components/EditProfileModal.tsx
  src/pages/GivePage/GiveDrawer.tsx
  src/pages/ProfilePage/ProfilePage.tsx
Owners: none

remove unused files
  src/components/DeprecatedFormTextField.tsx
  src/components/index.ts
  src/forms/EditProfileForm.tsx
Owners: none

update TextArea for external react ref
  src/ui/TextArea/TextArea.tsx
Owners: none

Profile bio markdown (#1686)
  src/components/DeprecatedFormTextField.tsx
  src/components/EditProfileModal.tsx
  src/components/index.ts
  src/forms/EditProfileForm.tsx
  src/pages/GivePage/GiveDrawer.tsx
  src/pages/ProfilePage/ProfilePage.tsx
  src/ui/TextArea/TextArea.tsx
Owners: none

tweak localstack config
  docker-compose.yml
Owners: none

generate addresses for sample users deterministically
  api/hasura/actions/_handlers/createSampleCircle.ts
Owners: none

fix bug
  src/components/MainLayout/MobileHeader.tsx
Owners: none

fix unit test issues
  api/hasura/cron/_epochs.test.ts
  src/pages/HistoryPage/EpochPanel.tsx
Owners: none

_epochs.test.ts fix
  api/hasura/cron/_epochs.test.ts
Owners: none

.github/CODEOWNERS:

/cypress/   @topocount
/docker/    @topocount
/hardhat/   @levity @topocount
/hasura/    @zashton @topocount
/scripts/   @topocount
