Repository coordinape/coordinape, changes with the owners that .github/CODEOWNERS names for each.
All owners: @topocount, @levity, @zashton

Update createNominee.cy.ts
  cypress/e2e/createNominee.cy.ts
Owners: @topocount

Update createNominee.cy.ts
  cypress/e2e/createNominee.cy.ts
Owners: @topocount

Update createVault.cy.ts
  cypress/e2e/createVault.cy.ts
Owners: @topocount

Create Hasura Role for the discord bot (#1740)
  api-lib/config.ts
  api/hasura/auth.ts
  hasura/metadata/databases/default/tables/discord_roles_circles.yaml
  hasura/metadata/databases/default/tables/discord_users.yaml
  hasura/metadata/databases/default/tables/public_circles.yaml
  hasura/metadata/databases/default/tables/public_profiles.yaml
  hasura/metadata/databases/default/tables/public_users.yaml
Owners: @zashton, @topocount

Update createVault.cy.ts
  cypress/e2e/createVault.cy.ts
Owners: @topocount

Make HASURA_DISCORD_SECRET have a default value
  api-lib/config.ts
Owners: none

Verify deleteCircle unit tests
  api/hasura/actions/_handlers/deleteCircle.ts
Owners: none

Hasura action + Zeus gen; Zod input type.
  api-lib/gql/__generated__/zeus/const.ts
  api-lib/gql/__generated__/zeus/index.ts
  hasura/metadata/actions.graphql
  hasura/metadata/actions.yaml
  src/lib/zod/index.ts
Owners: @zashton, @topocount

Hasura action for user bulk deletion from specified circle
  api-lib/gql/__generated__/zeus/const.ts
  api-lib/gql/__generated__/zeus/index.ts
  api-lib/userDeleterBulk.ts
  api/hasura/actions/_handlers/deleteUserBulk.ts
  api/hasura/actions/actionManager.ts
  hasura/schema/admin/schema.graphql
  src/lib/zod/index.ts
Owners: @zashton, @topocount

Single query for existing users
  api/hasura/actions/_handlers/deleteUserBulk.ts
Owners: none

Admin can delete users even when there is no ongoing epoch
  api/hasura/actions/_handlers/deleteUserBulk.ts
Owners: none

Delete users in a single transaction
  api/hasura/actions/_handlers/deleteUserBulk.ts
Owners: none

Rename action `deleteUsers` for consistency
  api/hasura/actions/_handlers/deleteUsers.ts
  api/hasura/actions/actionManager.ts
  hasura/metadata/actions.graphql
  hasura/metadata/actions.yaml
Owners: @zashton, @topocount

Users can be deleted anytime, not just during active epoch
  api/hasura/actions/_handlers/deleteUsers.ts
Owners: none

prettify schema files after generating
  scripts/generate_zeus.sh
Owners: @topocount

fix broken promise chain in HttpError
  api-lib/HttpError.ts
  api-lib/event_triggers/refundPendingGift.ts
  api-lib/event_triggers/removeTeammate.ts
  api-lib/validate.ts
  api/circle/landing/[token].ts
  api/login.ts
Owners: none

Unit tests for restoreCoordinape handler
  api-test/hasura/actions/_handlers/restoreCoordinape.test.ts
  api-test/helpers/users.ts
Owners: none

remove unnecessary return val
  api-test/helpers/users.ts
Owners: none

logoutUser Unit Tests
  api-test/hasura/actions/_handlers/logoutUser.test.ts
Owners: none

Delete Epoch Unit tests
  api-test/hasura/actions/_handlers/deleteEpoch.test.ts
  api-test/helpers/epochs.ts
Owners: none

add non admin test
  api-test/hasura/actions/_handlers/deleteEpoch.test.ts
Owners: none

add coverage
  api-test/hasura/actions/_handlers/restoreCoordinape.test.ts
Owners: none

Update restoreCoordinape.ts
  api/hasura/actions/_handlers/restoreCoordinape.ts
Owners: none

remove unneeded try catch
  api/hasura/actions/_handlers/logoutUser.ts
Owners: none

Unit tests for restoreCoordinape handler (#1752)
  api-test/hasura/actions/_handlers/restoreCoordinape.test.ts
  api-test/helpers/users.ts
  api/hasura/actions/_handlers/restoreCoordinape.ts
Owners: none

Unit Tests for logoutUser handler (#1751)
  api-test/hasura/actions/_handlers/logoutUser.test.ts
  api/hasura/actions/_handlers/logoutUser.ts
Owners: none

Unit tests for deleteEpoch handler (#1750)
  api-test/hasura/actions/_handlers/deleteEpoch.test.ts
  api-test/helpers/epochs.ts
Owners: none

Optimize TestManager for backend test development
  scripts/ci/manager.sh
Owners: @topocount

Update jest typedefs to match jest version and zod
  package.json
  yarn.lock
Owners: none

updating dark theme colors (#1748)
  src/pages/CirclesPage/CirclesPage.tsx
  src/stitches.config.ts
  src/ui/Button/Button.tsx
  src/ui/Panel/Panel.tsx
Owners: none

move hasura-cleaning into a function
  scripts/ci/manager.sh
Owners: @topocount

Optimize TestManager for backend test development (#1771)
  scripts/ci/manager.sh
Owners: @topocount

Update jest typedefs to match jest version and zod (#1772)
  package.json
  scripts/ci/manager.sh
  yarn.lock
Owners: @topocount

fix permissions on manager.sh
  scripts/ci/manager.sh
Owners: @topocount

provider proxy
  src/hooks/useConnectedAddress.ts
  src/hooks/useWeb3React.tsx
Owners: none

small fixes to VaultRow
  src/pages/VaultsPage/VaultRow.tsx
Owners: none

factor out RecentTransactions
  src/pages/VaultsPage/VaultRow.tsx
Owners: none

add troubleshooting page
  src/components/MainLayout/MainLayout.tsx
  src/components/Troubleshooting.tsx
Owners: none

even simpler test cases
  src/components/Troubleshooting.tsx
Owners: none

small fixes to VaultRow
  src/pages/VaultsPage/VaultRow.tsx
Owners: none

.github/CODEOWNERS:

/cypress/   @topocount
/docker/    @topocount
/hardhat/   @levity @topocount
/hasura/    @zashton @topocount
/scripts/   @topocount
