Repository coordinape/coordinape, changes with the owners that .github/CODEOWNERS names for each.
All owners: @topocount, @levity, @zashton

.github/CODEOWNERS:

/cypress/   @topocount
/docker/    @topocount
/hardhat/   @levity @topocount
/hasura/    @zashton @topocount
/scripts/   @topocount

remove tab focus spike color
  src/stitches.config.ts
Owners: none

track generated graphql schemas
  scripts/generate_zeus.sh
Owners: @topocount

track graphql schemas - baseline with no changes
  gql/admin/schema.graphql
  gql/user/schema.graphql
  scripts/generate_zeus.sh
Owners: @topocount

update docker local to 2.4.0
  api-lib/gql/__generated__/zeus/index.ts
  docker-compose.yml
  gql/admin/schema.graphql
  gql/user/schema.graphql
  src/lib/gql/__generated__/zeus/index.ts
Owners: none

store grapqhl schemas in hasura/schema/
  .eslintignore
  hasura/schema/admin/schema.graphql
  hasura/schema/user/schema.graphql
  scripts/generate_zeus.sh
Owners: @zashton, @topocount

update hasura to 2.5.0 and types
  api-lib/gql/__generated__/zeus/const.ts
  api-lib/gql/__generated__/zeus/index.ts
  docker-compose.yml
  hasura/schema/admin/schema.graphql
  hasura/schema/user/schema.graphql
  src/lib/gql/__generated__/zeus/const.ts
  src/lib/gql/__generated__/zeus/index.ts
Owners: @zashton, @topocount

fix types in Org Settings Page
  src/pages/OrganizationSettingsPage/OrganizationSettingsPage.tsx
Owners: none

fix give page
  src/pages/GivePage/index.tsx
Owners: none

contrib page
  src/pages/ContributionsPage/ContributionsPage.tsx
Owners: none

circle logo
  src/pages/CircleAdminPage/CircleLogoUpload.tsx
Owners: none

fix admincircleapipage
  src/pages/AdminCircleApiPage/ApiKeyForm.tsx
Owners: none

createCircle mutation
  src/lib/gql/mutations.ts
Owners: none

org logo
  src/components/OrgLogoUpload.tsx
Owners: none

fix avatar upload
  src/components/AvatarUpload.tsx
Owners: none

Update hasura to 2.13.0 and regen types
  api-lib/gql/__generated__/zeus/const.ts
  api-lib/gql/__generated__/zeus/index.ts
  docker-compose.yml
  hasura/schema/admin/schema.graphql
  hasura/schema/user/schema.graphql
  src/lib/gql/__generated__/zeus/const.ts
  src/lib/gql/__generated__/zeus/index.ts
Owners: @zashton, @topocount

wip
  src/pages/ContributionsPage/ContributionsPage.tsx
  src/pages/GivePage/SavingIndicator.tsx
Owners: none

fix for error seen by user where the tokenGift.sender is null
  src/components/ReceiveInfo.tsx
Owners: none

fix for error seen by user where the tokenGift.sender is null (#1581)
  src/components/ReceiveInfo.tsx
Owners: none

fixing null bigint in interaction events
  api-lib/event_triggers/sendInteractionEventToMixpanel.ts
Owners: none

fixing null bigint in interaction events (#1582)
  api-lib/event_triggers/sendInteractionEventToMixpanel.ts
Owners: none

review fixes
  api/hasura/actions/_handlers/allocationCsv.test.ts
  api/hasura/actions/_handlers/allocationCsv.ts
  src/common-lib/distributions.ts
Owners: none

update hasura 2.13.0 (#1578)
  .eslintignore
  api-lib/gql/__generated__/zeus/const.ts
  api-lib/gql/__generated__/zeus/index.ts
  docker-compose.yml
  hasura/schema/admin/schema.graphql
  hasura/schema/user/schema.graphql
  scripts/generate_zeus.sh
  src/components/AvatarUpload.tsx
  src/components/OrgLogoUpload.tsx
  src/lib/gql/__generated__/zeus/const.ts
  src/lib/gql/__generated__/zeus/index.ts
  src/lib/gql/mutations.ts
  src/pages/AdminCircleApiPage/ApiKeyForm.tsx
  src/pages/CircleAdminPage/CircleLogoUpload.tsx
  src/pages/ContributionsPage/ContributionsPage.tsx
  src/pages/GivePage/index.tsx
  src/pages/OrganizationSettingsPage/OrganizationSettingsPage.tsx
Owners: @zashton, @topocount

more double nested link/button fixes. fix modal close button
  src/components/MainLayout/OverviewMenu.tsx
  src/components/MyAvatarMenu/MyAvatarMenu.tsx
  src/pages/CirclesPage/CirclesPage.tsx
  src/pages/GivePage/index.tsx
  src/pages/MembersPage/index.tsx
  src/stitches.config.ts
  src/ui/Link/Link.tsx
  src/ui/Modal.tsx
Owners: none

epoch statement styling
  src/pages/GivePage/Contribution.tsx
  src/pages/GivePage/EpochStatementDrawer.tsx
  src/pages/GivePage/GiveDrawer.tsx
Owners: none

move SavingIndicator into shared src/ui
  src/pages/GivePage/EpochStatementDrawer.tsx
  src/pages/GivePage/GiveDrawer.tsx
  src/pages/GivePage/index.tsx
  src/ui/SavingIndicator.tsx
Owners: none

Support Retry button on error
  src/ui/SavingIndicator.tsx
Owners: none

Refactor errors and retries for Contribution Page
  src/pages/ContributionsPage/ContributionsPage.tsx
Owners: none

Add retry and failure handling to saveStates
  src/pages/GivePage/EpochStatementDrawer.tsx
  src/pages/GivePage/GiveDrawer.tsx
  src/pages/GivePage/index.tsx
Owners: none

keep tab focus with currently opened allocation drawer member. ty graffe
  src/pages/GivePage/EpochStatementDrawer.tsx
  src/pages/GivePage/GiveDrawer.tsx
  src/pages/GivePage/GiveRow.tsx
  src/pages/GivePage/index.tsx
Owners: none

error helpers
  api/hasura/actions/_handlers/updateAllocations.ts
  api/hasura/actions/_handlers/updateContribution.ts
  src/lib/gql/mutations.ts
  src/pages/GivePage/index.tsx
Owners: none

wip
  src/pages/ContributionsPage/ContributionsPage.tsx
  src/pages/GivePage/SavingIndicator.tsx
Owners: none

move SavingIndicator into shared src/ui
  src/pages/GivePage/EpochStatementDrawer.tsx
  src/pages/GivePage/GiveDrawer.tsx
  src/pages/GivePage/index.tsx
  src/ui/SavingIndicator.tsx
Owners: none

Support Retry button on error
  src/ui/SavingIndicator.tsx
Owners: none

Refactor errors and retries for Contribution Page
  src/pages/ContributionsPage/ContributionsPage.tsx
Owners: none

Add retry and failure handling to saveStates
  src/pages/GivePage/EpochStatementDrawer.tsx
  src/pages/GivePage/GiveDrawer.tsx
  src/pages/GivePage/index.tsx
Owners: none

receive popover keyboardable
  src/components/MainLayout/MainHeader.tsx
  src/components/ReceiveInfo.tsx
  src/pages/ContributionsPage/ContributionsPage.tsx
  src/pages/GivePage/GiveAllocator.tsx
  src/pages/GivePage/GiveRowGrid.tsx
  src/pages/GivePage/MyGiveRow.tsx
  src/pages/GivePage/index.tsx
Owners: none

remove slash icons in feedback
  src/pages/GivePage/GiveRow.tsx
  src/pages/GivePage/MyGiveRow.tsx
Owners: none

add a11y comment to stitches
  src/stitches.config.ts
Owners: none

remove some testing code
  src/pages/GivePage/GiveRowGrid.tsx
  src/ui/Link/Link.tsx
Owners: none

global disabled css values for buttons and links
  src/pages/MembersPage/index.tsx
  src/stitches.config.ts
  src/ui/Button/Button.tsx
Owners: none
