Repository coordinape/coordinape, changes with the owners that .github/CODEOWNERS names for each.
All owners: @topocount, @teeolendo, @zashton, @levity

.github/CODEOWNERS:

/docker/    @topocount
/scripts/   @topocount

/src/       @teeolendo
/hardhat/   @teeolendo

/api/       @zashton @topocount
/api-lib/   @zashton @topocount
/hasura/    @zashton @topocount

/src/       @levity

Yearn epoch statement reminder (#682)
  api-lib/constants.ts
  api/hasura/cron/dailyUpdate.ts
Owners: @zashton, @topocount

handle wrong network more gracefully
  src/components/WalletAuthModal/WalletAuthModal.tsx
Owners: @levity

remove ignoreErrors line for unsupported chain id
  src/index.tsx
Owners: @levity

Refactored useVaults to pull symbol from contract for simple tokens
  src/hooks/useVaultFactory.test.tsx
  src/hooks/useVaultFactory.ts
  src/lib/gql/queries.ts
Owners: @levity

do not delete preview app on failure
  .github/workflows/hasura-preview.yml
Owners: none

fake commit for triggering workflow
  hasura/metadata/actions.graphql
Owners: @zashton, @topocount

create epoch
  api-lib/constants.ts
  api-lib/gql/__generated__/zeus/const.ts
  api-lib/gql/__generated__/zeus/index.ts
  api/hasura/actions/createEpoch.ts
  hasura/metadata/actions.graphql
  hasura/metadata/actions.yaml
  src/lib/gql/__generated__/zeus/const.ts
  src/lib/gql/__generated__/zeus/index.ts
  src/lib/zod/index.ts
Owners: @zashton, @topocount, @levity

add epoch datetime details in error message
  api-lib/dateTimeHelpers.ts
  api/hasura/actions/createEpoch.ts
Owners: @zashton, @topocount

add formatting
  api-lib/constants.ts
  api/hasura/cron/dailyUpdate.ts
Owners: @zashton, @topocount

remove zod error response
  api/hasura/actions/createEpoch.ts
Owners: @zashton, @topocount

Skip hasura previews on forks
  .github/workflows/hasura-preview.yml
Owners: none

change to match syntax
  .github/workflows/hasura-preview.yml
Owners: none

Revert "fake commit for triggering workflow"
  hasura/metadata/actions.graphql
Owners: @zashton, @topocount

Skip hasura previews on forks (#681)
  .github/workflows/hasura-preview.yml
  hasura/metadata/actions.graphql
Owners: @zashton, @topocount

Refactored Distributions to save to Hasura before on-chain
  src/hooks/useVaultFactory.test.tsx
  src/pages/DistributePage/DistributePage.tsx
  src/pages/DistributePage/mutations.ts
  src/pages/VaultsPage/DepositModal.tsx
Owners: @levity

add message on history page when there are no epochs
  src/pages/HistoryPage/HistoryPage.tsx
  src/ui/layouts.tsx
Owners: @levity

Added summary to epoch modal and improved styling to match figma more
  src/pages/AdminPage/AdminEpochModal.tsx
  src/pages/AdminPage/AdminPage.tsx
Owners: @levity

rough out new layout for circles page
  src/components/CirclesHeaderSection/CirclesHeaderSection.tsx
  src/components/index.ts
  src/pages/CirclesPage/CirclesPage.tsx
  src/pages/VaultsPage/VaultsPage.tsx
  src/ui/Text/Text.tsx
Owners: @levity

padding to summary
  src/pages/AdminPage/AdminEpochModal.tsx
Owners: @levity

corrected link
  src/pages/AdminPage/AdminEpochModal.tsx
Owners: @levity

decouple current org tracking from legacy recoil code
  src/hooks/gql/useCurrentOrg.ts
  src/pages/CirclesPage/CirclesPage.tsx
  src/pages/VaultsPage/CreateForm.tsx
Owners: @levity

fix test
  src/pages/VaultsPage/CreateForm.test.tsx
Owners: @levity

updated user update permissions for update of distribution and claim table
  api-lib/gql/__generated__/zeus/const.ts
  api-lib/gql/__generated__/zeus/index.ts
  hasura/metadata/actions.graphql
  hasura/metadata/actions.yaml
  hasura/metadata/databases/default/tables/public_claims.yaml
  hasura/metadata/databases/default/tables/public_distributions.yaml
  hasura/metadata/databases/default/tables/tables.yaml
  hasura/migrations/default/1648069097889_add_save_onchain/down.sql
  hasura/migrations/default/1648069097889_add_save_onchain/up.sql
  src/hooks/useVaultFactory.test.tsx
  src/lib/gql/__generated__/zeus/const.ts
  src/lib/gql/__generated__/zeus/index.ts
  src/lib/users.ts
  src/pages/DistributePage/DistributePage.tsx
  src/pages/DistributePage/mutations.ts
Owners: @zashton, @topocount, @levity

make remaining tokens uneditable during createUser (#676)
  api-lib/gql/__generated__/zeus/const.ts
  api-lib/gql/__generated__/zeus/index.ts
  api/hasura/actions/createUser.ts
  hasura/metadata/actions.graphql
  src/lib/gql/__generated__/zeus/const.ts
  src/lib/gql/__generated__/zeus/index.ts
  src/lib/gql/mutations.ts
  src/lib/zod/index.ts
Owners: @zashton, @topocount, @levity

rename epoch vars
  api/hasura/actions/createEpoch.ts
Owners: @zashton, @topocount

fixes webpack stream polyfill issue
  package.json
  yarn.lock
Owners: none

Added refetch to Create Vaults in order to update page accordingly
  src/pages/VaultsPage/CreateForm.tsx
  src/pages/VaultsPage/VaultsPage.tsx
Owners: @levity

fixes webpack stream polyfill issue
  package.json
  yarn.lock
Owners: none

set up epoch start notifications
  api/hasura/cron/epochs.ts
  hasura/metadata/cron_triggers.yaml
Owners: @zashton, @topocount

Add End Notifications
  api/hasura/cron/epochs.ts
Owners: @zashton, @topocount

Add unit tests
  api/hasura/cron/_epochs.test.ts
  api/hasura/cron/epochs.ts
  craco.config.js
Owners: @zashton, @topocount
