Repository coordinape/coordinape, changes with the owners that .github/CODEOWNERS names for each.
All owners: @topocount, @levity, @zashton

reduce the number of constants in routes/paths
  src/pages/AssetMapPage/AssetMapPage.tsx
  src/pages/CreateCirclePage/CreateCirclePage.tsx
  src/pages/DefaultPage/DefaultPage.tsx
  src/pages/MembersPage/index.tsx
  src/pages/VaultsPage/VaultsPage.tsx
  src/routes/paths.ts
Owners: none

clean up GlobalUi
  src/components/EditProfileModal.tsx
  src/components/GlobalUi.tsx
  src/components/index.ts
  src/hooks/useLoadAndTryMutation.ts
  src/hooks/useRecoilLoadCatch.ts
  src/pages/AssetMapPage/AMDrawer.tsx
  src/pages/AssetMapPage/AssetMapPage.tsx
  src/pages/ProfilePage/ProfilePage.tsx
  src/recoilState/index.ts
  src/recoilState/ui.ts
Owners: none

fix typo
  src/routes/routes.tsx
Owners: none

un-hardcode join/welcome paths
  src/pages/AddMembersPage/AddMembersPage.tsx
Owners: none

Unit tests for Create Nomination (#1736)
  api-test/hasura/actions/_handlers/createNominee.test.ts
  api-test/helpers/profiles.ts
Owners: none

form variant styles
  src/stitches.config.ts
  src/ui/Panel/Panel.tsx
  src/ui/TextField/TextField.tsx
Owners: none

Require vault chains for Distributino page (#1825)
  src/pages/DistributionsPage/DistributionsPage.tsx
Owners: none

input border color
  src/ui/Panel/Panel.tsx
Owners: none

modal x color
  src/ui/Modal.tsx
Owners: none

Explicitly set pointerEvents for Toasts
  src/components/ToastContainer.tsx
Owners: none

allocations page colors, again
  src/components/DragFileUpload.tsx
  src/components/HelpButton.tsx
  src/components/MainLayout/SampleOrgIndicator.tsx
  src/components/Paginator.tsx
  src/components/ToastContainer.tsx
  src/pages/AddMembersPage/AddMembersPage.tsx
  src/pages/AddMembersPage/MagicLink.tsx
  src/pages/GivePage/ContributorButton.tsx
  src/pages/GivePage/GiveAllocator.tsx
  src/pages/GivePage/GiveDrawer.tsx
  src/pages/GivePage/GiveRow.tsx
  src/pages/GivePage/GiveRowGrid.tsx
  src/pages/GivePage/MyGiveRow.tsx
  src/pages/GivePage/index.tsx
  src/pages/MembersPage/MembersTable.tsx
  src/stitches.config.ts
  src/ui/Link/Link.tsx
  src/ui/MarkdownPreview/MarkdownPreview.tsx
  src/ui/Panel/Panel.tsx
  src/ui/Text/Text.tsx
  src/ui/Tooltip/Tooltip.tsx
Owners: none

backend validation for ENS names
  api-lib/gql/__generated__/zeus/const.ts
  api-lib/gql/__generated__/zeus/index.ts
  api/hasura/actions/_handlers/updateProfile.ts
  api/hasura/actions/actionManager.ts
  hasura/metadata/actions.graphql
  hasura/metadata/actions.yaml
  hasura/metadata/databases/default/tables/public_profiles.yaml
  hasura/schema/admin/schema.graphql
  hasura/schema/user/schema.graphql
  src/components/EditProfileModal.tsx
  src/components/MainLayout/CreateUserNameForm.tsx
  src/components/MainLayout/mutations.ts
  src/lib/gql/__generated__/zeus/const.ts
  src/lib/gql/__generated__/zeus/index.ts
  src/lib/gql/mutations.ts
Owners: @zashton, @topocount

validate ENS names with addresses
  src/components/EditProfileModal.tsx
  src/components/MainLayout/CreateUserNameForm.tsx
  src/lib/zod/formHelpers.ts
Owners: none

undo testing changes
  src/lib/zod/formHelpers.ts
Owners: none

reject invalid ENS
  src/components/EditProfileModal.tsx
  src/components/MainLayout/CreateUserNameForm.tsx
Owners: none

Use backend provider for lookup
  api/hasura/actions/_handlers/updateProfile.ts
Owners: none

Add Loading Spinner on save, fix bug in error saving logic
  src/components/EditProfileModal.tsx
Owners: none

Bust cache before loading
  src/components/EditProfileModal.tsx
Owners: none

fix IS_TEST_ENV check
  api-lib/config.ts
Owners: none

Theme colors, volume 2 (#1823)
  src/components/ApeAutocomplete.tsx
  src/components/DragFileUpload.tsx
  src/components/EditProfileModal.tsx
  src/components/HelpButton.tsx
  src/components/MainLayout/MobileHeader.tsx
  src/components/MainLayout/SampleOrgIndicator.tsx
  src/components/Paginator.tsx
  src/components/ToastContainer.tsx
  src/pages/AddMembersPage/AddMembersPage.tsx
  src/pages/AddMembersPage/MagicLink.tsx
  src/pages/AssetMapPage/AMDrawer.tsx
  src/pages/CircleAdminPage/CircleAdminPage.tsx
  src/pages/CirclesPage/CirclesPage.tsx
  src/pages/ContributionsPage/ContributionsPage.tsx
  src/pages/GivePage/ContributorButton.tsx
  src/pages/GivePage/GiveAllocator.tsx
  src/pages/GivePage/GiveDrawer.tsx
  src/pages/GivePage/GiveRow.tsx
  src/pages/GivePage/GiveRowGrid.tsx
  src/pages/GivePage/MyGiveRow.tsx
  src/pages/GivePage/index.tsx
  src/pages/MembersPage/MembersTable.tsx
  src/pages/ProfilePage/ProfilePage.tsx
  src/pages/VaultsPage/VaultsPage.tsx
  src/stitches.config.ts
  src/ui/Button/Button.tsx
  src/ui/IconButton/IconButton.tsx
  src/ui/Link/Link.tsx
  src/ui/MarkdownPreview/MarkdownPreview.tsx
  src/ui/Modal.tsx
  src/ui/Panel/Panel.tsx
  src/ui/Text/Text.tsx
  src/ui/TextArea/TextArea.tsx
  src/ui/TextField/TextField.tsx
  src/ui/Tooltip/Tooltip.tsx
Owners: none

fix type error
  api-lib/config.ts
Owners: none

validate ENS with addresses (#1827)
  api-lib/gql/__generated__/zeus/const.ts
  api-lib/gql/__generated__/zeus/index.ts
  api/hasura/actions/_handlers/updateProfile.ts
  api/hasura/actions/actionManager.ts
  hasura/metadata/actions.graphql
  hasura/metadata/actions.yaml
  hasura/metadata/databases/default/tables/public_profiles.yaml
  hasura/schema/admin/schema.graphql
  hasura/schema/user/schema.graphql
  src/components/EditProfileModal.tsx
  src/components/MainLayout/CreateUserNameForm.tsx
  src/components/MainLayout/mutations.ts
  src/lib/gql/__generated__/zeus/const.ts
  src/lib/gql/__generated__/zeus/index.ts
  src/lib/gql/mutations.ts
  src/lib/zod/formHelpers.ts
Owners: @zashton, @topocount

Explicitly set pointerEvents for Toasts (#1831)
  src/components/ToastContainer.tsx
Owners: none

fix CI
  scripts/env.sh
Owners: @topocount

Refactor Time and Date Pickers to raw elements
  src/components/FormDatePicker.tsx
  src/components/FormInputField.tsx
  src/components/FormTimePicker.tsx
  src/pages/HistoryPage/EpochForm.tsx
Owners: none

date-time picker. TODO: fix editing existing epoch
  src/components/FormDateTimePicker.tsx
  src/components/FormInputField.tsx
  src/components/index.ts
  src/pages/HistoryPage/EpochForm.tsx
Owners: none

remove unnecessary linebreaks
  api/circle/landing/[token].ts
Owners: none

set base url for jsdom correctly
  craco.config.js
Owners: none

add data-testid to LoadingModal
  src/components/LoadingModal.tsx
  src/pages/JoinCirclePage/JoinCirclePage.tsx
Owners: none

create GraphQLError with a non-blank message
  api-lib/gql/__generated__/zeus/index.ts
  scripts/generate_zeus.sh
  src/lib/gql/__generated__/zeus/index.ts
Owners: @topocount

allow use of TEST_SKIP_AUTH from user client
  api-test/helpers/mockUserClient.ts
  api/hasura/auth.ts
  src/lib/gql/client.ts
  src/utils/testing/api.ts
Owners: none

add missing assert import
  src/pages/JoinCirclePage/JoinCirclePage.tsx
Owners: none

fix auth in gql client
  src/lib/gql/client.ts
Owners: none

fix test
  src/pages/CircleAdminPage/AdminIntegrations.test.tsx
Owners: none

add tests for gql client header-setting
  src/lib/gql/client.test.ts
Owners: none

remove some uses of useMyProfile
  src/components/MainLayout/MainHeader.tsx
  src/components/MainLayout/getMainHeaderData.ts
  src/components/MyAvatarMenu/MyAvatarMenu.tsx
  src/pages/JoinCirclePage/AddressIsNotMember.tsx
  src/pages/JoinCirclePage/JoinCirclePage.tsx
  src/pages/JoinCirclePage/JoinWithMagicLink.tsx
  src/pages/JoinCirclePage/queries.ts
Owners: none

remove some uses of useMyProfile (#1833)
  src/components/MainLayout/MainHeader.tsx
  src/components/MainLayout/getMainHeaderData.ts
  src/components/MyAvatarMenu/MyAvatarMenu.tsx
  src/pages/JoinCirclePage/AddressIsNotMember.tsx
  src/pages/JoinCirclePage/JoinCirclePage.tsx
  src/pages/JoinCirclePage/JoinWithMagicLink.tsx
  src/pages/JoinCirclePage/queries.ts
Owners: none

clean up logout code
  src/features/auth/useFinishAuth.ts
  src/features/auth/useLogout.ts
  src/features/auth/useSavedAuth.ts
  src/features/auth/useWalletStatus.tsx
Owners: none

factor out useAuthStateMachine from RequireAuth
  src/features/auth/RequireAuth.tsx
  src/features/auth/useFinishAuth.ts
  src/features/auth/useSavedAuth.ts
  src/hooks/useApiBase.ts
Owners: none

move as much as possible out of RequireAuth
  src/components/MainLayout/MainLayout.tsx
  src/components/SentryScopeController.tsx
  src/components/index.ts
  src/features/auth/RequireAuth.tsx
Owners: none

.github/CODEOWNERS:

/cypress/   @topocount
/docker/    @topocount
/hardhat/   @levity @topocount
/hasura/    @zashton @topocount
/scripts/   @topocount
