Repository coordinape/coordinape, changes with the owners that .github/CODEOWNERS names for each.
All owners: @topocount, @levity, @zashton

map drawer refactor
  src/pages/AssetMapPage/AMDrawer.tsx
Owners: none

map drawer gbye mui
  src/pages/AssetMapPage/AMDrawer.tsx
  src/pages/AssetMapPage/AMProfileCard.tsx
  src/pages/GivePage/GiveAllocator.tsx
Owners: none

simplify lookup of fixed payment vault balance (#1792)
  src/pages/CircleAdminPage/CircleAdminPage.tsx
  src/pages/CircleAdminPage/getFixedPayment.ts
  src/pages/MembersPage/MembersTable.tsx
  src/pages/MembersPage/index.tsx
Owners: none

mui removal cards
  src/pages/AssetMapPage/AMProfileCard.tsx
Owners: none

zIndex for AMDrawer popup
  src/components/ReceiveInfo.tsx
Owners: none

show ignored names to nominators
  src/lib/gql/mutations.ts
  src/pages/NewNominationPage/NewNominationPage.tsx
Owners: none

fix the message spelling
  src/pages/NewNominationPage/NewNominationPage.tsx
Owners: none

make ReceiveInfo maxHeight percentage of viewport
  src/components/ReceiveInfo.tsx
Owners: none

change the parent width
  src/components/ReceiveInfo.tsx
Owners: none

comment classes for apeautocomplete
  src/components/ApeAutocomplete.tsx
  src/components/Drawer.tsx
  src/pages/AssetMapPage/AMDrawer.tsx
  src/pages/AssetMapPage/AMProfileCard.tsx
Owners: none

fix members page caching (#1764)
  src/pages/AssetMapPage/AMDrawer.tsx
  src/pages/MembersPage/MembersTable.tsx
  src/pages/MembersPage/NomineeTable.tsx
  src/pages/MembersPage/getCircleUsers.ts
  src/pages/MembersPage/index.tsx
Owners: none

simplify lookup of fixed payment vault balance (#1792)
  src/pages/CircleAdminPage/CircleAdminPage.tsx
  src/pages/CircleAdminPage/getFixedPayment.ts
  src/pages/MembersPage/MembersTable.tsx
  src/pages/MembersPage/index.tsx
Owners: none

os color pref (#1766)
  src/App.tsx
  src/components/MainLayout/MainHeader.test.tsx
  src/components/MainLayout/MainHeader.tsx
  src/components/MainLayout/MainLayout.tsx
  src/components/MyAvatarMenu/MyAvatarMenu.tsx
  src/features/theming/ThemeProvider.tsx
  src/features/theming/ThemeSwitcher.tsx
  src/features/theming/osPreference.ts
  src/features/theming/storage.ts
  src/utils/testing/index.tsx
Owners: none

fix: correcting token address issues
  src/lib/hedgey/index.ts
  src/pages/DistributionsPage/DistributionForm.tsx
  src/pages/DistributionsPage/useLockedTokenDistributions.tsx
Owners: none

Fix epoch timing preview rendering
  src/pages/HistoryPage/EpochForm.tsx
Owners: none

fix: support for locked token distribution from yearn vaults
  api-lib/gql/__generated__/zeus/const.ts
  api-lib/gql/__generated__/zeus/index.ts
  hasura/schema/admin/schema.graphql
  hasura/schema/user/schema.graphql
  src/lib/gql/__generated__/zeus/const.ts
  src/lib/gql/__generated__/zeus/index.ts
  src/pages/DistributionsPage/useLockedTokenDistributions.tsx
Owners: @zashton, @topocount

theme provider changes with Graffe
  src/components/ApeAutocomplete.tsx
  src/components/DeprecatedApeTextField.tsx
  src/features/theming/ThemeProvider.tsx
  src/pages/AssetMapPage/AMForceGraph.tsx
  src/pages/AssetMapPage/AssetMapPage.tsx
  src/stitches.config.ts
  src/ui/Modal.tsx
  src/ui/Select/Select.tsx
Owners: none

dark mode modal border. graph colors themeable
  src/pages/AssetMapPage/AMForceGraph.tsx
  src/stitches.config.ts
  src/ui/Modal.tsx
Owners: none

map drawer class cleanup and active style
  src/pages/AssetMapPage/AMProfileCard.tsx
Owners: none

mobile header color and map card text colo
  src/components/MainLayout/MobileHeader.tsx
  src/pages/AssetMapPage/AMProfileCard.tsx
  src/ui/Text/Text.tsx
Owners: none

wide text for ReceiveInfo (#1794)
  src/components/ReceiveInfo.tsx
Owners: none

make ReceiveInfo maxHeight percentage of viewport (#1796)
  src/components/ReceiveInfo.tsx
Owners: none

Update src/pages/NewNominationPage/NewNominationPage.tsx
  src/pages/NewNominationPage/NewNominationPage.tsx
Owners: none

inform nominators about ignored names (#1795)
  src/lib/gql/mutations.ts
  src/pages/NewNominationPage/NewNominationPage.tsx
Owners: none

circle illustration image. help text bgs
  public/imgs/background/circles-illustration.png
  src/pages/CirclesPage/CirclesPage.tsx
  src/pages/ContributionsPage/ContributionsPage.tsx
  src/ui/Button/Button.tsx
  src/ui/Panel/Panel.tsx
Owners: none

test fixin
  cypress/e2e/createNominee.cy.ts
  src/stitches.config.ts
Owners: @topocount

Theme colors, map edition (#1799)
  cypress/e2e/createNominee.cy.ts
  public/imgs/background/circles-illustration.png
  src/components/ApeAutocomplete.tsx
  src/components/DeprecatedApeTextField.tsx
  src/components/Drawer.tsx
  src/components/MainLayout/MobileHeader.tsx
  src/components/ReceiveInfo.tsx
  src/components/Table.tsx
  src/features/theming/ThemeProvider.tsx
  src/pages/AssetMapPage/AMDrawer.tsx
  src/pages/AssetMapPage/AMForceGraph.tsx
  src/pages/AssetMapPage/AMProfileCard.tsx
  src/pages/AssetMapPage/AssetMapPage.tsx
  src/pages/CirclesPage/CirclesPage.tsx
  src/pages/ContributionsPage/ContributionRow.tsx
  src/pages/ContributionsPage/ContributionsPage.tsx
  src/pages/GivePage/GiveAllocator.tsx
  src/pages/GivePage/GiveDrawer.tsx
  src/pages/GivePage/GiveRow.tsx
  src/pages/GivePage/index.tsx
  src/pages/MembersPage/MembersTable.tsx
  src/stitches.config.ts
  src/ui/Avatar/Avatar.tsx
  src/ui/Button/Button.tsx
  src/ui/MarkdownPreview/MarkdownPreview.tsx
  src/ui/Modal.tsx
  src/ui/Panel/Panel.tsx
  src/ui/Select/Select.tsx
  src/ui/Table/Table.tsx
  src/ui/Text/Text.tsx
Owners: @topocount

support admin page loading on all chains
  src/pages/CircleAdminPage/CircleAdminPage.tsx
Owners: none

support admin page loading on all chains (#1802)
  src/pages/CircleAdminPage/CircleAdminPage.tsx
Owners: none

fix: issue with claims page and update rewards value on distributions table
  api-lib/gql/__generated__/zeus/const.ts
  api-lib/gql/__generated__/zeus/index.ts
  hasura/schema/admin/schema.graphql
  hasura/schema/user/schema.graphql
  src/lib/gql/__generated__/zeus/const.ts
  src/lib/gql/__generated__/zeus/index.ts
  src/pages/DistributionsPage/AllocationsTable.tsx
  src/pages/DistributionsPage/DistributionForm.tsx
  src/pages/DistributionsPage/DistributionsPage.tsx
  src/pages/DistributionsPage/queries.ts
Owners: @zashton, @topocount

fix: adding types and removing any
  src/lib/hedgey/index.ts
  src/pages/DistributionsPage/DistributionForm.tsx
  src/pages/DistributionsPage/useLockedTokenDistributions.tsx
Owners: none

Fix epoch timing preview rendering (#1798)
  src/pages/HistoryPage/EpochForm.tsx
Owners: none

fix epoch null displayed in circles page
  src/pages/CirclesPage/CirclesPage.tsx
  src/pages/HistoryPage/EpochForm.tsx
Owners: none

create a helper function for epoch info
  src/pages/CirclesPage/CirclesPage.tsx
Owners: none

replace ternaries for readability
  src/pages/CirclesPage/CirclesPage.tsx
Owners: none

fix epoch null displayed at circles page (#1808)
  src/pages/CirclesPage/CirclesPage.tsx
  src/pages/HistoryPage/EpochForm.tsx
Owners: none

side navigation!
  public/imgs/logo/coordinape-logo-black.png
  public/imgs/logo/coordinape-logo-white.png
  public/imgs/logo/coordinape-mark-black.png
  public/imgs/logo/coordinape-mark-white.png
  src/components/MainLayout/MainLayout.tsx
  src/features/nav/NavCircles.tsx
  src/features/nav/NavCurrentCircle.tsx
  src/features/nav/NavCurrentOrg.tsx
  src/features/nav/NavItem.tsx
  src/features/nav/NavLabel.tsx
  src/features/nav/NavLogo.tsx
  src/features/nav/NavOrgs.tsx
  src/features/nav/SideNav.tsx
  src/features/nav/getNavData.ts
  src/features/nav/permissions.ts
  src/features/theming/ThemeProvider.tsx
  src/features/theming/ThemeSwitcher.tsx
Owners: none

fix: symbol not updating and display error in distribution form
  src/pages/DistributionsPage/AllocationsTable.tsx
  src/pages/DistributionsPage/DistributionForm.tsx
  src/pages/DistributionsPage/DistributionsPage.tsx
  src/types/custom.token.d.ts
  src/types/locked.token.distribution.d.ts
Owners: none

Create table to store api tokens for the discord bot
  hasura/metadata/databases/default/tables/discord_circle_api_tokens.yaml
  hasura/migrations/default/1670355959284_create_table_discord_circle_api_tokens/down.sql
  hasura/migrations/default/1670355959284_create_table_discord_circle_api_tokens/up.sql
Owners: @zashton, @topocount

feat: LinkDiscordCircle handler
  api-lib/gql/__generated__/zeus/const.ts
  api-lib/gql/__generated__/zeus/index.ts
  api/hasura/actions/_handlers/linkDiscordCircle.ts
  api/hasura/actions/actionManager.ts
  hasura/metadata/actions.graphql
  hasura/metadata/actions.yaml
  hasura/schema/admin/schema.graphql
  hasura/schema/user/schema.graphql
  src/lib/gql/__generated__/zeus/const.ts
  src/lib/gql/__generated__/zeus/index.ts
  src/pages/DiscordPage/DiscordPage.tsx
Owners: @zashton, @topocount

.github/CODEOWNERS:

/cypress/   @topocount
/docker/    @topocount
/hardhat/   @levity @topocount
/hasura/    @zashton @topocount
/scripts/   @topocount
