Repository coordinape/coordinape, changes with the owners that .github/CODEOWNERS names for each.
All owners: @topocount, @levity, @zashton

refactor: Move discord env vars to the config file will fallbacks
  api-lib/config.ts
  api/discord.ts
Owners: none

Add env vars to .env.config
  .env.example
Owners: none

show add helper text for admins only
  src/pages/ContributionsPage/ContributionsPage.tsx
Owners: none

Allow admin to populate contribution text fields
  src/pages/ContributionsPage/ContributionsPage.tsx
  src/pages/ContributionsPage/queries.ts
Owners: none

Use snackbar to show errors and review findings
  src/pages/ContributionsPage/ContributionsPage.tsx
Owners: none

styling for responsive design
  src/pages/ContributionsPage/ContributionsPage.tsx
Owners: none

update tooltip copy
  src/pages/ContributionsPage/ContributionsPage.tsx
Owners: none

fix updatedTeamSelText initial value
  src/pages/ContributionsPage/ContributionsPage.tsx
Owners: none

fix rebasing issues
  src/pages/ContributionsPage/ContributionsPage.tsx
Owners: none

storing the changed value of the text using usestate
  src/pages/ContributionsPage/ContributionsPage.tsx
Owners: none

feat: Discord authentication (#1625)
  .env.example
  api-lib/config.ts
  api-lib/gql/__generated__/zeus/const.ts
  api-lib/gql/__generated__/zeus/index.ts
  api/discord.ts
  api/hasura/actions/_handlers/linkDiscordUser.ts
  api/hasura/actions/actionManager.ts
  hasura/metadata/actions.graphql
  hasura/metadata/actions.yaml
  hasura/metadata/databases/default/tables/discord_roles_circles.yaml
  hasura/metadata/databases/default/tables/discord_users.yaml
  hasura/metadata/databases/default/tables/tables.yaml
  hasura/migrations/default/1654145945592_create_table_discord_roles_circles/down.sql
  hasura/migrations/default/1654145945592_create_table_discord_roles_circles/up.sql
  hasura/migrations/default/1654146590714_create_table_discord_users/down.sql
  hasura/migrations/default/1654146590714_create_table_discord_users/up.sql
  hasura/migrations/default/1654202757203_alter_table_public_circle_api_keys_add_column_read_discord/down.sql
  hasura/migrations/default/1654202757203_alter_table_public_circle_api_keys_add_column_read_discord/up.sql
  hasura/schema/admin/schema.graphql
  hasura/schema/user/schema.graphql
  scripts/serve_dev.ts
  src/config/features.ts
  src/lib/gql/__generated__/zeus/const.ts
  src/lib/gql/__generated__/zeus/index.ts
  src/lib/zod/index.ts
  src/pages/DiscordPage/DiscordPage.tsx
  src/pages/DiscordPage/index.ts
  src/pages/DiscordPage/queries.ts
  src/routes/paths.ts
  src/routes/routes.tsx
Owners: @zashton, @topocount

Fixing unnecessary spaces and using myUser directly
  src/pages/GivePage/index.tsx
Owners: none

remove migrations
  api-lib/gql/__generated__/zeus/const.ts
  api-lib/gql/__generated__/zeus/index.ts
  api/hasura/cron/calcPgives.ts
  api/pgive.ts
  hasura/metadata/cron_triggers.yaml
  hasura/metadata/databases/default/tables/public_epoches.yaml
  hasura/metadata/databases/default/tables/tables.yaml
  hasura/migrations/default/1667903493808_alter_table_public_epoches_add_column_pgive/down.sql
  hasura/migrations/default/1667903493808_alter_table_public_epoches_add_column_pgive/up.sql
  hasura/migrations/default/1667904292656_create_table_public_member_epoch_pgives/down.sql
  hasura/migrations/default/1667904292656_create_table_public_member_epoch_pgives/up.sql
  hasura/schema/admin/schema.graphql
Owners: @zashton, @topocount

add disconnect() to ResizeObserver mock
  src/utils/test-setup.ts
Owners: none

always seed db when running tests
  scripts/ci/manager.sh
Owners: @topocount

small improvements to hasura scripts
  scripts/disable_cron.sh
  scripts/disable_triggers.sh
  scripts/enable_triggers.sh
  scripts/seed_hasura.sh
Owners: @topocount

improve script lifecycle reliability
  hardhat/scripts/start-ganache.sh
  scripts/ci/manager.sh
  scripts/serve.sh
Owners: @levity, @topocount

generate combined coverage report
  .gitignore
  craco.config.js
  cypress/plugins/index.ts
  cypress/support/commands.ts
  package.json
  scripts/ci/manager.sh
  yarn.lock
Owners: @topocount

use Codecov github action
  .github/workflows/CI.yml
Owners: none

make tsconfigs more similar
  package.json
  tsconfig-backend.json
  tsconfig.json
  yarn.lock
Owners: none

instrument backend code for coverage reporting
  .gitignore
  craco.config.js
  cypress.config.ts
  package.json
  scripts/ci/manager.sh
  scripts/serve.sh
  scripts/serve_dev.ts
  tsconfig-backend.json
  tsconfig.json
  yarn.lock
Owners: @topocount

remove anchor
  src/components/MainLayout/OverviewMenu.tsx
  src/components/MyAvatarMenu/MyAvatarMenu.tsx
  src/components/ReceiveInfo.tsx
  src/ui/Popover/Popover.stories.tsx
Owners: none

fix double button nesting console warning
  src/pages/GivePage/GiveRow.tsx
  src/pages/GivePage/MyGiveRow.tsx
Owners: none

add markdown support for allocation notes
  src/components/ReceiveInfo.tsx
  src/pages/GivePage/GiveDrawer.tsx
  src/pages/HistoryPage/EpochPanel.tsx
Owners: none

remove popover anchor
  src/components/MainLayout/OverviewMenu.tsx
Owners: none

border position fix
  src/components/MainLayout/OverviewMenu.tsx
Owners: none

update UI for editing help text.
  src/components/FormInputField.tsx
  src/pages/ContributionsPage/ContributionsPage.tsx
Owners: none

fixing logic that was erroneously showing contribution help aggressively
  src/pages/ContributionsPage/ContributionsPage.tsx
Owners: none

fixing logic that was erroneously showing contribution help aggressively (#1681)
  src/pages/ContributionsPage/ContributionsPage.tsx
Owners: none

keyboard focus popover fix
  src/components/MainLayout/OverviewMenu.tsx
  src/components/ReceiveInfo.tsx
  src/ui/Popover/Popover.tsx
Owners: none

schema cleanup
  api-lib/gql/__generated__/zeus/const.ts
  api-lib/gql/__generated__/zeus/index.ts
  hasura/metadata/actions.yaml
  hasura/schema/admin/schema.graphql
  hasura/schema/user/schema.graphql
  src/lib/gql/__generated__/zeus/const.ts
  src/lib/gql/__generated__/zeus/index.ts
Owners: @zashton, @topocount

fixing circlespage test
  src/pages/CirclesPage/CirclesPage.test.tsx
Owners: none

little test for CreateCirclePage
  src/pages/CreateCirclePage/CreateCirclePage.test.tsx
Owners: none

pop->shift
  src/pages/CreateCirclePage/CreateCirclePage.test.tsx
Owners: none

adding reese's sample data
  api/hasura/actions/_handlers/createSampleCircle.ts
  api/hasura/actions/_handlers/createSampleCircle_data.ts
Owners: none

restoring cron triggers
  hasura/metadata/cron_triggers.yaml
Owners: @zashton, @topocount

removing usage of IApiCircle from headers
  src/components/MainLayout/MainHeader.tsx
  src/components/MainLayout/MobileHeader.tsx
Owners: none

little cleanups
  api/hasura/actions/_handlers/createSampleCircle.ts
  src/lib/zod/index.ts
  src/stitches.config.ts
Owners: none

zindex for mainheader
  src/components/MainLayout/MainHeader.tsx
Owners: none

Bugfix console warnings nested `button` and `anchor` (#1680)
  src/components/MainLayout/OverviewMenu.tsx
  src/components/MyAvatarMenu/MyAvatarMenu.tsx
  src/components/ReceiveInfo.tsx
  src/pages/GivePage/GiveRow.tsx
  src/pages/GivePage/MyGiveRow.tsx
  src/ui/Popover/Popover.stories.tsx
  src/ui/Popover/Popover.tsx
Owners: none

.github/CODEOWNERS:

/cypress/   @topocount
/docker/    @topocount
/hardhat/   @levity @topocount
/hasura/    @zashton @topocount
/scripts/   @topocount
