Repository coordinape/coordinape, changes with the owners that .github/CODEOWNERS names for each.
All owners: @topocount, @levity, @zashton

.github/CODEOWNERS:

/cypress/   @topocount
/docker/    @topocount
/hardhat/   @levity @topocount
/hasura/    @zashton @topocount
/scripts/   @topocount

integrate magic into login flow (#1704)
  src/features/auth/RequireAuth.tsx
  src/features/auth/WalletAuthModal.tsx
  src/features/auth/connectors.ts
  src/features/auth/index.ts
  src/features/auth/store.ts
  src/features/auth/useAuthStep.ts
  src/features/auth/useFinishAuth.ts
  src/features/auth/useWalletAuth.ts
  src/hooks/useApiBase.ts
  src/hooks/useWeb3React.test.tsx
  src/hooks/useWeb3React.tsx
  src/types/global.d.ts
  src/utils/storage.ts
Owners: none

Add svg chain icons
  scripts/update_icons.sh
  src/icons/__generated/AuroraLogo.tsx
  src/icons/__generated/CeloLogo.tsx
  src/icons/__generated/EthColorLogo.tsx
  src/icons/__generated/EthLogo.tsx
  src/icons/__generated/FantomLogo.tsx
  src/icons/__generated/GanacheLogo.tsx
  src/icons/__generated/OptimismLogo.tsx
  src/icons/__generated/PolygonMaticLogo.tsx
  src/icons/__generated/index.ts
  src/icons/networks/aurora_logo.svg
  src/icons/networks/celo_logo.svg
  src/icons/networks/eth_color_logo.svg
  src/icons/networks/eth_logo.svg
  src/icons/networks/fantom_logo.svg
  src/icons/networks/ganache-logo.svg
  src/icons/networks/optimism_logo.svg
  src/icons/networks/polygon-matic-logo.svg
Owners: @topocount

checkpoint
  src/common-lib/constants.ts
  src/config/features.ts
  src/features/auth/NetworkSelector.tsx
  src/features/auth/WalletAuthModal.tsx
Owners: none

Create Network component for displaying a network with icon
  src/ui/Network/Network.stories.tsx
  src/ui/Network/Network.tsx
  src/ui/index.ts
Owners: none

Add sm margin variant to HR
  src/ui/HR/HR.tsx
Owners: none

Upate Avatar menu
  src/components/MainLayout/MobileHeader.stories.tsx
  src/components/MainLayout/MobileHeader.tsx
  src/components/MyAvatarMenu/MyAvatarMenu.tsx
  src/features/auth/WalletAuthModal.tsx
  src/features/auth/useWalletStatus.tsx
Owners: none

remove unused box
  src/components/MyAvatarMenu/MyAvatarMenu.tsx
Owners: none

Remove multichain_login feature flag
  src/config/features.ts
Owners: none

Create NetworkSelector
  src/features/auth/NetworkSelector.test.tsx
  src/features/auth/NetworkSelector.tsx
Owners: none

Limit initial chains for launch
  src/common-lib/constants.ts
Owners: none

Remove unneeded div and feature flag
  src/features/auth/WalletAuthModal.tsx
Owners: none

wip
  src/features/auth/NetworkSelector.tsx
  src/ui/SvgIcon/SvgIcon.tsx
Owners: none

Use green circle rather than check for selected chain
  src/features/auth/NetworkSelector.tsx
Owners: none

Move Network to /components
  src/components/MainLayout/MobileHeader.tsx
  src/components/MyAvatarMenu/MyAvatarMenu.tsx
  src/components/Network/Network.stories.tsx
  src/components/Network/Network.tsx
  src/components/index.ts
  src/features/auth/NetworkSelector.tsx
  src/ui/index.ts
Owners: none

Move chevron icons to float right
  src/features/auth/NetworkSelector.tsx
  src/ui/Network/Network.tsx
Owners: none

Delete Epoch Unit tests
  api-test/hasura/actions/_handlers/deleteEpoch.test.ts
  api-test/helpers/epochs.ts
Owners: none

Unit tests for restoreCoordinape handler
  api-test/hasura/actions/_handlers/restoreCoordinape.test.ts
  api-test/helpers/users.ts
Owners: none

add non admin test
  api-test/hasura/actions/_handlers/deleteEpoch.test.ts
Owners: none

Materials are no longer in use
  src/components/ApeTabs.tsx
  src/components/ApeToggle.tsx
  src/components/CoordinapeLogo.tsx
  src/components/FormModal.tsx
  src/components/FormRadioSelect.tsx
  src/components/IconButton.tsx
  src/components/Spacer.tsx
  src/components/index.ts
Owners: none

space
  src/components/index.ts
Owners: none

remove unnecessary return val
  api-test/helpers/users.ts
Owners: none

Unit test for deleteCircle
  api-test/hasura/actions/_handlers/deleteCircle.test.ts
Owners: none

check deleted_at to be truthy
  api-test/hasura/actions/_handlers/deleteCircle.test.ts
Owners: none

fix e2e tests
  api-lib/gql/__generated__/zeus/const.ts
  api-lib/gql/__generated__/zeus/index.ts
  cypress/e2e/updateUser.cy.ts
  docker-compose.yml
  hasura/metadata/databases/default/tables/public_profiles.yaml
  hasura/schema/admin/schema.graphql
  hasura/schema/user/schema.graphql
  scripts/db_seed_test.ts
  scripts/util/seed.ts
  src/lib/gql/__generated__/zeus/const.ts
  src/lib/gql/__generated__/zeus/index.ts
  src/pages/MembersPage/MembersTable.tsx
Owners: @topocount, @zashton

styling and formatting
  docker-compose.yml
  src/pages/ContributionsPage/ContributionsPage.tsx
  src/pages/DistributionsPage/DistributionsPage.tsx
  src/pages/GivePage/index.tsx
  src/utils/modelExtenders.ts
Owners: none

contribution drawer epoch description
  src/pages/ContributionsPage/ContributionsPage.tsx
Owners: none

Remove unused components (#1753)
  src/components/ApeTabs.tsx
  src/components/ApeToggle.tsx
  src/components/CoordinapeLogo.tsx
  src/components/FormModal.tsx
  src/components/FormRadioSelect.tsx
  src/components/IconButton.tsx
  src/components/Spacer.tsx
  src/components/index.ts
Owners: none

Hedgey Integration backend changes (#1733)
  api-lib/gql/__generated__/zeus/const.ts
  api-lib/gql/__generated__/zeus/index.ts
  hasura/metadata/databases/default/tables/public_circle_integrations.yaml
  hasura/metadata/databases/default/tables/public_locked_token_distributions.yaml
  hasura/metadata/databases/default/tables/tables.yaml
  hasura/migrations/default/1670234780227_create_table_public_locked_token_distributions/down.sql
  hasura/migrations/default/1670234780227_create_table_public_locked_token_distributions/up.sql
  hasura/schema/admin/schema.graphql
  hasura/schema/user/schema.graphql
  src/lib/gql/__generated__/zeus/const.ts
  src/lib/gql/__generated__/zeus/index.ts
Owners: @zashton, @topocount

Feature/multichain UI (#1743)
  scripts/update_icons.sh
  src/common-lib/constants.ts
  src/components/MainLayout/MobileHeader.stories.tsx
  src/components/MainLayout/MobileHeader.tsx
  src/components/MyAvatarMenu/MyAvatarMenu.tsx
  src/components/Network/Network.stories.tsx
  src/components/Network/Network.tsx
  src/components/index.ts
  src/config/features.ts
  src/features/auth/NetworkSelector.test.tsx
  src/features/auth/NetworkSelector.tsx
  src/features/auth/WalletAuthModal.tsx
  src/features/auth/useWalletStatus.tsx
  src/icons/__generated/AuroraLogo.tsx
  src/icons/__generated/CeloLogo.tsx
  src/icons/__generated/EthColorLogo.tsx
  src/icons/__generated/EthLogo.tsx
  src/icons/__generated/FantomLogo.tsx
  src/icons/__generated/GanacheLogo.tsx
  src/icons/__generated/OptimismLogo.tsx
  src/icons/__generated/PolygonMaticLogo.tsx
  src/icons/__generated/index.ts
  src/icons/networks/aurora_logo.svg
  src/icons/networks/celo_logo.svg
  src/icons/networks/eth_color_logo.svg
  src/icons/networks/eth_logo.svg
  src/icons/networks/fantom_logo.svg
  src/icons/networks/ganache-logo.svg
  src/icons/networks/optimism_logo.svg
  src/icons/networks/polygon-matic-logo.svg
  src/ui/HR/HR.tsx
  src/ui/SvgIcon/SvgIcon.tsx
Owners: @topocount

fix key react warning
  src/features/auth/NetworkSelector.tsx
Owners: none

reduce re-fetching of vault transactions
  src/pages/VaultsPage/DepositModal.tsx
  src/pages/VaultsPage/VaultRow.tsx
  src/pages/VaultsPage/VaultTransactions.tsx
Owners: none

fix error logging in DebugLogger
  src/common-lib/log.ts
Owners: none

fix key react warning (#1756)
  src/features/auth/NetworkSelector.tsx
Owners: none

fix bad merge
  src/features/auth/store.ts
Owners: none

Fix styling issue
  src/features/auth/NetworkSelector.tsx
Owners: none

Create Hasura Role for the discord bot
  api-lib/config.ts
  api/hasura/auth.ts
  hasura/metadata/databases/default/tables/discord_roles_circles.yaml
  hasura/metadata/databases/default/tables/discord_users.yaml
  hasura/metadata/databases/default/tables/public_circles.yaml
  hasura/metadata/databases/default/tables/public_profiles.yaml
  hasura/metadata/databases/default/tables/public_users.yaml
Owners: @zashton, @topocount

Create table to store api tokens for the discord bot
  hasura/metadata/databases/default/tables/discord_circle_api_tokens.yaml
  hasura/migrations/default/1670355959284_create_table_discord_circle_api_tokens/down.sql
  hasura/migrations/default/1670355959284_create_table_discord_circle_api_tokens/up.sql
Owners: @zashton, @topocount

Rename roles to server_roles in discord schema
  hasura/metadata/databases/default/tables/discord_roles_circles.yaml
  hasura/metadata/databases/default/tables/tables.yaml
  hasura/migrations/default/1670795162160_alter_table_discord_roles_circles_alter_column_role/down.sql
  hasura/migrations/default/1670795162160_alter_table_discord_roles_circles_alter_column_role/up.sql
Owners: @zashton, @topocount

Regenerate ts bindings and gql schema
  api-lib/gql/__generated__/zeus/const.ts
  api-lib/gql/__generated__/zeus/index.ts
  hasura/schema/admin/schema.graphql
  hasura/schema/user/schema.graphql
  src/lib/gql/__generated__/zeus/const.ts
  src/lib/gql/__generated__/zeus/index.ts
Owners: @zashton, @topocount

fix spacing
  src/pages/CirclesPage/CirclesPage.tsx
  src/pages/ContributionsPage/ContributionsPage.tsx
  src/pages/HistoryPage/CurrentEpochPanel.tsx
Owners: none
