Repository coordinape/coordinape, changes with the owners that .github/CODEOWNERS names for each.
All owners: @topocount, @levity, @zashton

.github/CODEOWNERS:

/cypress/   @topocount
/docker/    @topocount
/hardhat/   @levity @topocount
/hasura/    @zashton @topocount
/scripts/   @topocount

Use border on default toast
  src/components/ToastContainer.tsx
  src/stitches.config.ts
Owners: none

remove other sub components as well
  src/components/ProfileCard/CardInfoText.tsx
  src/components/ProfileCard/ContributionSummary.tsx
  src/components/ProfileCard/GiftInput.tsx
Owners: none

Remove old unused ProfileCard
  src/components/ProfileCard/ProfileCard.test.tsx
  src/components/ProfileCard/ProfileCard.tsx
  src/components/index.ts
Owners: none

switch map to no longer use make styles
  src/pages/AssetMapPage/AMForceGraph.tsx
Owners: none

remove mui from profile page components
  src/components/FormFileUpload.tsx
  src/components/ProfileSkills.tsx
  src/components/SkillToggles.tsx
  src/pages/ProfilePage/ProfilePage.tsx
Owners: none

Update hasura/migrations/default/1639359763109_init/up.sql
  hasura/migrations/default/1639359763109_init/up.sql
Owners: @zashton, @topocount

changing team_sel_text to cont_help_text in all files
  api-lib/gql/mutations.ts
  api-lib/gql/queries.ts
  hasura/migrations/default/1639359763109_init/up.sql
  hasura/schema/user/schema.graphql
  src/lib/gql/__generated__/zeus/const.ts
  src/lib/gql/__generated__/zeus/index.ts
  src/lib/gql/mutations.ts
  src/lib/gql/queries.ts
  src/lib/zod/index.ts
  src/pages/CircleAdminPage/CircleAdminPage.tsx
  src/pages/CircleAdminPage/getCircleSettings.ts
  src/pages/ContributionsPage/ContributionsPage.tsx
  src/pages/ContributionsPage/queries.ts
  src/types/api.circle.d.ts
  src/utils/modelExtenders.ts
Owners: @zashton, @topocount

removing customization section
  src/pages/CircleAdminPage/CircleAdminPage.tsx
  src/pages/CircleAdminPage/getCircleSettings.ts
  src/types/api.circle.d.ts
  src/utils/modelExtenders.ts
Owners: none

Change Default Contribution Text and team sel text
  api-lib/gql/__generated__/zeus/const.ts
  api-lib/gql/__generated__/zeus/index.ts
  hasura/metadata/actions.graphql
  hasura/metadata/databases/default/tables/public_circles.yaml
  hasura/migrations/default/1671643774954_alter_table_public_circles_alter_column_team_sel_text/down.sql
  hasura/migrations/default/1671643774954_alter_table_public_circles_alter_column_team_sel_text/up.sql
  hasura/schema/admin/schema.graphql
  src/pages/ContributionsPage/ContributionsPage.tsx
Owners: @zashton, @topocount

dim buttons
  src/components/MainLayout/MobileHeader.tsx
  src/pages/ContributionsPage/ContributionsPage.tsx
  src/pages/GivePage/GiveDrawer.tsx
  src/pages/GivePage/index.tsx
  src/stitches.config.ts
  src/ui/Button/Button.tsx
  src/ui/IconButton/IconButton.tsx
Owners: none

make names editable at all times
  src/components/EditProfileModal.tsx
  src/pages/ProfilePage/queries.ts
Owners: none

allow editing names if no active epochs
  src/components/EditProfileModal.tsx
  src/hooks/useApiWithProfile.ts
Owners: none

fetch user active epochs in all circles
  src/pages/ProfilePage/queries.ts
Owners: none

swap profile name and profile mage location
  src/components/EditProfileModal.tsx
Owners: none

markdown preview background
  src/ui/MarkdownPreview/MarkdownPreview.tsx
Owners: none

show circles link
  src/pages/CirclesPage/CirclesPage.tsx
Owners: none

Squashed commit of the following:
  api-lib/gql/__generated__/zeus/const.ts
  api-lib/gql/__generated__/zeus/index.ts
  api-lib/gql/queries.ts
  api-test/hasura/actions/_handlers/createEpoch.test.ts
  api/hasura/actions/_handlers/createEpoch.ts
  cypress/e2e/createEpoch.cy.ts
  hasura/metadata/actions.graphql
  hasura/metadata/actions.yaml
  hasura/metadata/databases/default/tables/public_epoches.yaml
  hasura/migrations/default/1670612024840_alter_table_public_epoches_add_column_repeat_data/down.sql
  hasura/migrations/default/1670612024840_alter_table_public_epoches_add_column_repeat_data/up.sql
  hasura/schema/admin/schema.graphql
  hasura/schema/user/schema.graphql
  package.json
  src/components/FormDatePicker.tsx
  src/components/FormInputField.tsx
  src/components/FormTimePicker.tsx
  src/hooks/useApiAdminCircle.ts
  src/lib/gql/__generated__/zeus/const.ts
  src/lib/gql/__generated__/zeus/index.ts
  src/lib/gql/mutations.ts
  src/lib/zod/formHelpers.ts
  src/lib/zod/index.ts
  src/pages/HistoryPage/EpochForm.tsx
  src/pages/HistoryPage/HistoryPage.tsx
  src/pages/HistoryPage/getHistoryData.ts
  yarn.lock
Owners: @topocount, @zashton

Allow editing profile names (#1793)
  src/components/EditProfileModal.tsx
  src/hooks/useApiWithProfile.ts
Owners: none

markdown and textarea colors
  src/pages/GivePage/GiveDrawer.tsx
  src/stitches.config.ts
  src/ui/MarkdownPreview/MarkdownPreview.tsx
  src/ui/TextArea/TextArea.tsx
Owners: none

Use normal buttons for Close X in toasts
  src/hooks/useToast.tsx
Owners: none

remove mui from profile page components (#1817)
  src/components/FormFileUpload.tsx
  src/components/ProfileSkills.tsx
  src/components/SkillToggles.tsx
  src/pages/ProfilePage/ProfilePage.tsx
Owners: none

Remove old unused ProfileCard (#1814)
  src/components/ProfileCard/CardInfoText.tsx
  src/components/ProfileCard/ContributionSummary.tsx
  src/components/ProfileCard/GiftInput.tsx
  src/components/ProfileCard/ProfileCard.test.tsx
  src/components/ProfileCard/ProfileCard.tsx
  src/components/index.ts
  src/pages/AssetMapPage/AMForceGraph.tsx
Owners: none

remove unneeded return values
  api-test/hasura/actions/_handlers/createNominee.test.ts
Owners: none

Unit tests for Create Nomination
  api-test/hasura/actions/_handlers/createNominee.test.ts
Owners: none

merge profile
  src/pages/ProfilePage/ProfilePage.tsx
Owners: none

link underline no
  src/pages/CirclesPage/CirclesPage.tsx
  src/pages/VaultsPage/VaultsPage.tsx
  src/ui/Link/Link.tsx
Owners: none

show warning on vaults page for email-based wallets (#1822)
  src/components/HintBanner.tsx
  src/features/auth/RequireAuth.tsx
  src/features/auth/index.ts
  src/features/auth/magic.tsx
  src/features/auth/store.ts
  src/pages/VaultsPage/VaultsPage.tsx
Owners: none

insane mui autocomplete theming in various environments
  src/components/ApeAutocomplete.tsx
  src/pages/AssetMapPage/AMDrawer.tsx
  src/ui/Panel/Panel.tsx
Owners: none

form input focus within within panel
  src/ui/Panel/Panel.tsx
Owners: none

Update default contribution text and team sel text (#1786)
  api-lib/gql/__generated__/zeus/const.ts
  api-lib/gql/__generated__/zeus/index.ts
  api-lib/gql/mutations.ts
  api-lib/gql/queries.ts
  hasura/metadata/actions.graphql
  hasura/metadata/databases/default/tables/public_circles.yaml
  hasura/migrations/default/1671643774954_alter_table_public_circles_alter_column_team_sel_text/down.sql
  hasura/migrations/default/1671643774954_alter_table_public_circles_alter_column_team_sel_text/up.sql
  hasura/schema/admin/schema.graphql
  hasura/schema/user/schema.graphql
  src/lib/gql/__generated__/zeus/const.ts
  src/lib/gql/__generated__/zeus/index.ts
  src/lib/gql/mutations.ts
  src/lib/gql/queries.ts
  src/lib/zod/index.ts
  src/pages/CircleAdminPage/CircleAdminPage.tsx
  src/pages/CircleAdminPage/getCircleSettings.ts
  src/pages/ContributionsPage/ContributionsPage.tsx
  src/pages/ContributionsPage/queries.ts
  src/types/api.circle.d.ts
  src/utils/modelExtenders.ts
Owners: @zashton, @topocount

Revert "Update default contribution text and team sel text (#1786)"
  api-lib/gql/__generated__/zeus/const.ts
  api-lib/gql/__generated__/zeus/index.ts
  api-lib/gql/mutations.ts
  api-lib/gql/queries.ts
  hasura/metadata/actions.graphql
  hasura/metadata/databases/default/tables/public_circles.yaml
  hasura/migrations/default/1671643774954_alter_table_public_circles_alter_column_team_sel_text/down.sql
  hasura/migrations/default/1671643774954_alter_table_public_circles_alter_column_team_sel_text/up.sql
  hasura/schema/admin/schema.graphql
  hasura/schema/user/schema.graphql
  src/lib/gql/__generated__/zeus/const.ts
  src/lib/gql/__generated__/zeus/index.ts
  src/lib/gql/mutations.ts
  src/lib/gql/queries.ts
  src/lib/zod/index.ts
  src/pages/CircleAdminPage/CircleAdminPage.tsx
  src/pages/CircleAdminPage/getCircleSettings.ts
  src/pages/ContributionsPage/ContributionsPage.tsx
  src/pages/ContributionsPage/queries.ts
  src/types/api.circle.d.ts
  src/utils/modelExtenders.ts
Owners: @zashton, @topocount

add markdown support for allocation help text
  src/pages/GivePage/index.tsx
Owners: none

add markdown support for contribution help text
  src/pages/ContributionsPage/ContributionsPage.tsx
Owners: none

fix rebase issues
  src/pages/ContributionsPage/ContributionsPage.tsx
Owners: none

don't timeout signature prompt with Magic
  src/features/auth/login.ts
  src/utils/provider.ts
Owners: none

add test for used name
  api-test/hasura/actions/_handlers/createNominee.test.ts
  api-test/helpers/profiles.ts
Owners: none

fix: updating snackbar
  src/pages/CircleAdminPage/HedgeyIntegrationSettings.tsx
  src/pages/HistoryPage/EpochForm.tsx
Owners: none

Require vault chains for Distributino page
  src/pages/DistributionsPage/DistributionsPage.tsx
Owners: none

simplify ternary statements
  src/pages/ContributionsPage/ContributionsPage.tsx
  src/pages/GivePage/index.tsx
Owners: none

profile page themin
  src/components/EditProfileModal.tsx
  src/pages/ProfilePage/ProfilePage.tsx
  src/ui/MarkdownPreview/MarkdownPreview.tsx
Owners: none
