Repository coordinape/coordinape, changes with the owners that .github/CODEOWNERS names for each.
All owners: @topocount, @levity, @zashton

fix popovers zIndex
  src/components/MainLayout/OverviewMenu.tsx
  src/components/ReceiveInfo.tsx
Owners: none

Allow admin to populate contribution text fields (#1630)
  src/components/FormInputField.tsx
  src/pages/ContributionsPage/ContributionsPage.tsx
  src/pages/ContributionsPage/queries.ts
Owners: none

zindex for mainheader (#1683)
  src/components/MainLayout/MainHeader.tsx
Owners: none

fix spelling
  src/components/WalletAuthModal.tsx
Owners: none

Wrap eth_chainId request in ephemeral library
  src/components/WalletAuthModal.tsx
Owners: none

Get E2E Tests Working again.
  cypress/util/index.ts
  src/components/WalletAuthModal.tsx
Owners: @topocount

allocation help text ui fixes
  src/pages/ContributionsPage/ContributionsPage.tsx
  src/pages/GivePage/index.tsx
Owners: none

require only 1 character
  src/pages/ContributionsPage/ContributionsPage.tsx
  src/pages/GivePage/index.tsx
Owners: none

fix blur bug in next note button
  src/pages/GivePage/GiveDrawer.tsx
Owners: none

minor ui change to markdown display in epoch history
  src/pages/HistoryPage/EpochPanel.tsx
Owners: none

Add ability to edit Allocation Helper text (#1666)
  src/pages/ContributionsPage/ContributionsPage.tsx
  src/pages/GivePage/index.tsx
  src/pages/GivePage/queries.ts
Owners: none

add markdown support for allocation notes (#1678)
  src/components/MainLayout/OverviewMenu.tsx
  src/components/ReceiveInfo.tsx
  src/pages/GivePage/GiveDrawer.tsx
  src/pages/HistoryPage/EpochPanel.tsx
Owners: none

minor tweaks
  src/pages/CirclesPage/OrgCircles.tsx
  src/pages/MembersPage/index.tsx
Owners: none

rename var and remove outdated comment
  src/pages/CreateCirclePage/CreateSampleCircle.tsx
Owners: none

fixing down migration
  hasura/migrations/default/1667884678372_alter_table_public_organizations_add_column_created_by/down.sql
Owners: @zashton, @topocount

tweaking copy
  src/pages/MembersPage/index.tsx
Owners: none

theme switching spike
  src/components/MainLayout/MainLayout.tsx
  src/stitches.config.ts
Owners: none

Allow hiding pending gives during active epoch (#1674)
  api-lib/gql/__generated__/zeus/index.ts
  hasura/metadata/actions.graphql
  hasura/schema/admin/schema.graphql
  hasura/schema/user/schema.graphql
  src/components/MainLayout/CircleNav.tsx
  src/components/MainLayout/OverviewMenu.test.tsx
  src/components/MainLayout/getShowGiveInfo.tsx
  src/components/ReceiveInfo.tsx
  src/hooks/migration.ts
  src/lib/gql/__generated__/zeus/index.ts
  src/lib/gql/mutations.ts
  src/lib/gql/queries.ts
  src/lib/zod/index.ts
  src/pages/CircleAdminPage/CircleAdminPage.tsx
  src/pages/CircleAdminPage/getCircleSettings.ts
  src/routes/routes.tsx
  src/types/api.circle.d.ts
  src/utils/testing/recoil.ts
Owners: @zashton, @topocount

add icon link support. inline edit text ui update
  src/components/MainLayout/OverviewMenu.tsx
  src/pages/ContributionsPage/ContributionsPage.tsx
  src/pages/GivePage/index.tsx
  src/ui/Link/Link.tsx
Owners: none

combined code coverage reporting (#1644)
  .gitignore
  craco.config.js
  cypress.config.ts
  cypress/plugins/index.ts
  cypress/support/commands.ts
  hardhat/scripts/start-ganache.sh
  package.json
  scripts/ci/manager.sh
  scripts/serve.sh
  scripts/serve_dev.ts
  tsconfig-backend.json
  tsconfig.json
  yarn.lock
Owners: @topocount, @levity

add icon link support. inline edit text ui update (#1684)
  src/components/MainLayout/OverviewMenu.tsx
  src/pages/ContributionsPage/ContributionsPage.tsx
  src/pages/GivePage/index.tsx
  src/ui/Link/Link.tsx
Owners: none

move RequireAuth to its own file
  src/components/MainLayout/MainLayout.tsx
  src/components/MainLayout/RequireAuth.tsx
Owners: none

move RequireAuth to its own file (#1685)
  src/components/MainLayout/MainLayout.tsx
  src/components/MainLayout/RequireAuth.tsx
Owners: none

remove delete_member_epoch_pgives
  api/pgive.ts
  scripts/db_clean.ts
Owners: @topocount

add opt out bonus col
  api-lib/gql/__generated__/zeus/const.ts
  api-lib/gql/__generated__/zeus/index.ts
  hasura/migrations/default/1667904292656_create_table_public_member_epoch_pgives/up.sql
  hasura/schema/admin/schema.graphql
Owners: @zashton, @topocount

remove unused exports
  src/common-lib/distributions.ts
Owners: none

grid view css toggling for give page
  src/components/MainLayout/OverviewMenu.tsx
  src/components/MyAvatarMenu/MyAvatarMenu.tsx
  src/icons/__generated/Grid.tsx
  src/icons/__generated/index.ts
  src/icons/feather/grid.svg
  src/pages/GivePage/AvatarAndName.tsx
  src/pages/GivePage/ContributorButton.tsx
  src/pages/GivePage/GiveAllocator.tsx
  src/pages/GivePage/GiveRow.tsx
  src/pages/GivePage/GiveRowGrid.tsx
  src/pages/GivePage/MyGiveRow.tsx
  src/pages/GivePage/index.tsx
  src/stitches.config.ts
  src/ui/Button/Button.tsx
  src/ui/MarkdownPreview/MarkdownPreview.tsx
  src/ui/Text/Text.tsx
Owners: none

card height fix
  src/pages/GivePage/GiveRow.tsx
  src/ui/MarkdownPreview/MarkdownPreview.tsx
Owners: none

Add chainName to walletStatus type
  src/common-lib/constants.ts
  src/common-lib/distributions.ts
  src/components/MainLayout/MainLayout.tsx
  src/components/MainLayout/MobileHeader.stories.tsx
  src/components/MainLayout/RequireAuth.tsx
  src/components/WalletAuthModal.tsx
  src/hooks/login.tsx
  src/hooks/useContractNetworksOnly.ts
  src/lib/web3-helpers.ts
  src/services/api.ts
  src/ui/Button/Button.tsx
  src/utils/provider.ts
Owners: none

convert pixel tag widths to rem
  src/pages/GivePage/ContributorButton.tsx
  src/pages/GivePage/GiveRow.tsx
Owners: none

undo export removal
  src/common-lib/distributions.ts
Owners: none

Undo css change
  src/ui/Button/Button.tsx
Owners: none

Update DeleteUser handler tests
  api-test/hasura/actions/_handlers/deleteUser.test.ts
  api/hasura/actions/_handlers/deleteUser.test.ts
Owners: none

Grid View for Allocation page (#1689)
  src/components/MainLayout/OverviewMenu.tsx
  src/components/MyAvatarMenu/MyAvatarMenu.tsx
  src/icons/__generated/Grid.tsx
  src/icons/__generated/index.ts
  src/icons/feather/grid.svg
  src/pages/GivePage/AvatarAndName.tsx
  src/pages/GivePage/ContributorButton.tsx
  src/pages/GivePage/GiveAllocator.tsx
  src/pages/GivePage/GiveRow.tsx
  src/pages/GivePage/GiveRowGrid.tsx
  src/pages/GivePage/MyGiveRow.tsx
  src/pages/GivePage/index.tsx
  src/stitches.config.ts
  src/ui/Button/Button.tsx
  src/ui/MarkdownPreview/MarkdownPreview.tsx
  src/ui/Text/Text.tsx
Owners: none

overview menu minWidth. comment cleanup
  src/components/MainLayout/OverviewMenu.tsx
  src/pages/GivePage/Contribution.tsx
  src/pages/GivePage/ContributorButton.tsx
  src/pages/MembersPage/MembersTable.tsx
Owners: none

overview menu minWidth. comment cleanup (#1693)
  src/components/MainLayout/OverviewMenu.tsx
  src/pages/GivePage/Contribution.tsx
  src/pages/GivePage/ContributorButton.tsx
  src/pages/MembersPage/MembersTable.tsx
Owners: none

Update DeleteUser handler tests (#1692)
  api-test/hasura/actions/_handlers/deleteUser.test.ts
  api/hasura/actions/_handlers/deleteUser.test.ts
Owners: none

fixing missing id and address
  src/lib/gql/queries.ts
Owners: none

include name profiles in users queries
  api-lib/event_triggers/createCircleCRM.ts
  api-lib/event_triggers/utils/handleVouchMsg.ts
  api-lib/findUser.ts
  api-lib/gql/queries.ts
  api-lib/handleNomineeCreatedMsg.ts
  api-lib/handleRefundGiveMsg.ts
  api/circle/landing/[token].ts
  api/hasura/actions/_handlers/allocationCsv.ts
  api/hasura/cron/dailyUpdate.ts
  api/hasura/cron/epochs.ts
  src/components/ProfileCard/ProfileCard.test.tsx
  src/components/ReceiveInfo.tsx
  src/hooks/gql/useVaults.ts
  src/lib/gql/mutations/vaults.ts
  src/lib/gql/queries.ts
  src/pages/AllocationPage/AllocationTeam.tsx
  src/pages/AllocationPage/queries.ts
  src/pages/CircleAdminPage/CircleApi/ApiKeyRow.tsx
  src/pages/CircleAdminPage/CircleApi/useCircleApiKeys.ts
  src/pages/DistributionsPage/queries.ts
  src/pages/GivePage/EpochStatementDrawer.tsx
  src/pages/GivePage/GiveDrawer.tsx
  src/pages/GivePage/GiveRow.tsx
  src/pages/GivePage/index.tsx
  src/pages/GivePage/queries.ts
  src/pages/HistoryPage/EpochPanel.tsx
  src/pages/HistoryPage/HistoryPage.test.tsx
  src/pages/HistoryPage/getHistoryData.ts
  src/pages/JoinCirclePage/JoinWithMagicLink.tsx
  src/pages/MembersPage/NomineeTable.tsx
  src/pages/MembersPage/getActiveNominees.tsx
  src/pages/ProfilePage/ProfilePage.tsx
  src/pages/VaultsPage/VaultTransactions.tsx
  src/pages/VaultsPage/queries.ts
  src/recoilState/map.ts
  src/types/api.user.profile.d.ts
  src/utils/testing/recoil.ts
Owners: none

add profile.name to rest of users queries
  src/components/ProfileCard/ProfileCard.tsx
  src/lib/gql/queries.ts
  src/pages/AllocationPage/AllocationGive.tsx
  src/pages/AssetMapPage/AMDrawer.tsx
  src/pages/AssetMapPage/AMProfileCard.tsx
  src/pages/CreateCirclePage/CreateCirclePage.tsx
  src/pages/DistributionsPage/DistributionsPage.tsx
  src/pages/GivePage/MyGiveRow.tsx
  src/pages/MembersPage/MembersTable.tsx
  src/pages/MembersPage/index.tsx
Owners: none

.github/CODEOWNERS:

/cypress/   @topocount
/docker/    @topocount
/hardhat/   @levity @topocount
/hasura/    @zashton @topocount
/scripts/   @topocount
