Repository coordinape/coordinape, changes with the owners that .github/CODEOWNERS names for each.
All owners: @topocount, @levity, @zashton

.github/CODEOWNERS:

/cypress/   @topocount
/docker/    @topocount
/hardhat/   @levity @topocount
/hasura/    @zashton @topocount
/scripts/   @topocount

inform admin of existing profile names
  src/pages/AddMembersPage/NewMemberList.tsx
Owners: none

fix bug: Allocation countdown
  src/lib/time.ts
  src/pages/HistoryPage/NextEpoch.tsx
Owners: none

test epoch Time Upcoming
  src/lib/time.test.ts
  src/lib/time.ts
Owners: none

Add chainId to `login` interaction event
  api/login.ts
Owners: none

fix generate_zeus.sh on macos
  scripts/generate_zeus.sh
Owners: @topocount

remove ann_power, restore price_per_share
  api-lib/gql/__generated__/zeus/const.ts
  api-lib/gql/__generated__/zeus/index.ts
  hasura/migrations/default/1670896758659_remove_ann_power/down.sql
  hasura/migrations/default/1670896758659_remove_ann_power/up.sql
  hasura/schema/admin/schema.graphql
  hasura/schema/user/schema.graphql
  src/lib/gql/__generated__/zeus/const.ts
  src/lib/gql/__generated__/zeus/index.ts
Owners: @zashton, @topocount

Epoch description field (#1656)
  api-lib/gql/__generated__/zeus/index.ts
  api-lib/gql/queries.ts
  api/hasura/actions/_handlers/allocationCsv.ts
  api/hasura/actions/_handlers/updateEpoch.ts
  docker-compose.yml
  hasura/metadata/actions.graphql
  hasura/schema/admin/schema.graphql
  hasura/schema/user/schema.graphql
  package.json
  src/lib/gql/__generated__/zeus/index.ts
  src/lib/gql/queries.ts
  src/lib/zod/index.ts
  src/pages/CirclesPage/CirclesPage.tsx
  src/pages/CirclesPage/getOrgData.ts
  src/pages/ContributionsPage/ContributionsPage.tsx
  src/pages/ContributionsPage/queries.ts
  src/pages/DistributionsPage/DistributionForm.tsx
  src/pages/DistributionsPage/DistributionsPage.tsx
  src/pages/DistributionsPage/queries.ts
  src/pages/GivePage/index.tsx
  src/pages/HistoryPage/CurrentEpochPanel.tsx
  src/pages/HistoryPage/EpochForm.tsx
  src/pages/HistoryPage/EpochPanel.tsx
  src/pages/HistoryPage/getHistoryData.ts
  src/types/api.d.ts
  src/types/api.epoch.d.ts
  src/utils/modelExtenders.ts
  yarn.lock
Owners: @zashton, @topocount

make tests more compact
  src/lib/time.test.ts
Owners: none

fix bug: Allocation countdown (#1739)
  src/lib/time.test.ts
  src/lib/time.ts
  src/pages/HistoryPage/NextEpoch.tsx
Owners: none

Schema cleanup (#1760)
  api-lib/gql/__generated__/zeus/const.ts
  api-lib/gql/__generated__/zeus/index.ts
  hasura/migrations/default/1670896758659_remove_ann_power/down.sql
  hasura/migrations/default/1670896758659_remove_ann_power/up.sql
  hasura/schema/admin/schema.graphql
  hasura/schema/user/schema.graphql
  scripts/generate_zeus.sh
  src/lib/gql/__generated__/zeus/const.ts
  src/lib/gql/__generated__/zeus/index.ts
Owners: @zashton, @topocount

Add chainId to `login` interaction event (#1759)
  api/login.ts
Owners: none

fix figma colors script to handle our new color doc and generate new colors file
  scripts/update_figma_colors.ts
  src/stitches.config.ts
  src/ui/new-colors.ts
Owners: @topocount

new colors
  src/stitches.config.ts
  src/ui/Panel/Panel.tsx
Owners: none

fix figma colors script to handle our new color doc and generate new colors file (#1747)
  scripts/update_figma_colors.ts
  src/stitches.config.ts
  src/ui/Panel/Panel.tsx
  src/ui/new-colors.ts
Owners: @topocount

Unit test for deleteCircle handler (#1754)
  api-test/hasura/actions/_handlers/deleteCircle.test.ts
Owners: none

chore: Generated files
  api-lib/gql/__generated__/zeus/const.ts
  api-lib/gql/__generated__/zeus/index.ts
  hasura/schema/admin/schema.graphql
  hasura/schema/user/schema.graphql
  src/lib/gql/__generated__/zeus/const.ts
  src/lib/gql/__generated__/zeus/index.ts
Owners: @zashton, @topocount

refactor: Error handler
  api-lib/event_triggers/discordUserLinked.ts
Owners: none

feat: Add hasura infra for discord bot
  api-lib/event_triggers/discordUserLinked.ts
  api-lib/types.d.ts
  api/hasura/actions/_handlers/deleteDiscordUser.ts
  api/hasura/event_triggers/eventManager.ts
  hasura/metadata/actions.graphql
  hasura/metadata/actions.yaml
  hasura/metadata/databases/default/tables/discord_users.yaml
  hasura/metadata/databases/default/tables/public_vaults.yaml
  hasura/metadata/remote_schemas.yaml
  src/lib/zod/index.ts
Owners: @zashton, @topocount

fix: Generated files
  api-lib/gql/__generated__/zeus/const.ts
  api-lib/gql/__generated__/zeus/index.ts
  hasura/metadata/actions.graphql
  hasura/metadata/databases/default/tables/public_vaults.yaml
  hasura/metadata/remote_schemas.yaml
  hasura/schema/admin/schema.graphql
  hasura/schema/user/schema.graphql
  src/lib/gql/__generated__/zeus/const.ts
  src/lib/gql/__generated__/zeus/index.ts
Owners: @zashton, @topocount

fix: Add logger back
  api-lib/gql/__generated__/zeus/index.ts
  src/lib/gql/__generated__/zeus/index.ts
Owners: none

zIndex for AMDrawer popup
  src/pages/AssetMapPage/AMDrawer.tsx
Owners: none

run codecov without integrated tests
  scripts/ci/manager.sh
Owners: @topocount

fix missing file
  scripts/ci/manager.sh
Owners: @topocount

enable createEpoch test
  cypress/e2e/createEpoch.cy.ts
  cypress/e2e/createNominee.cy.ts
  cypress/e2e/createUser.cy.ts
  cypress/e2e/createVault.cy.ts
  cypress/e2e/updateCircle.cy.ts
  cypress/e2e/updateUser.cy.ts
  scripts/ci/manager.sh
Owners: @topocount

enable createEpoch & allocate tests
  cypress/e2e/createEpoch.cy.ts
Owners: @topocount

enable createnominee tests
  cypress/e2e/createNominee.cy.ts
  cypress/e2e/createUser.cy.ts
  cypress/e2e/createVault.cy.ts
  cypress/e2e/updateCircle.cy.ts
  cypress/e2e/updateUser.cy.ts
Owners: @topocount

remove createnominee tests
  cypress/e2e/createNominee.cy.ts
Owners: @topocount

enable create user
  cypress/e2e/createUser.cy.ts
Owners: @topocount

zIndex for AMDrawer popup (#1762)
  src/pages/AssetMapPage/AMDrawer.tsx
Owners: none

add updateUser test
  cypress/e2e/updateUser.cy.ts
Owners: @topocount

Move web3 event handlers into global
  src/features/auth/WalletAuthModal.tsx
  src/hooks/useWeb3React.tsx
Owners: none

create non cypress TestProvider and use in test
  src/features/auth/NetworkSelector.test.tsx
  src/utils/testing/ethereum.ts
Owners: none

use TestProvider
  src/features/auth/WalletAuthModal.test.tsx
Owners: none

Add comment to ethereum.ts
  src/utils/testing/ethereum.ts
Owners: none

Move web3 event handlers into global (#1758)
  src/features/auth/NetworkSelector.test.tsx
  src/features/auth/WalletAuthModal.test.tsx
  src/features/auth/WalletAuthModal.tsx
  src/hooks/useWeb3React.tsx
  src/utils/testing/ethereum.ts
Owners: none

remove legacy form code
  api/hasura/actions/_handlers/createVault.ts
  src/forms/createForm.tsx
  src/lib/zod/formHelpers.test.ts
  src/lib/zod/formHelpers.ts
  src/lib/zod/index.ts
  src/pages/AddMembersPage/NewMemberList.tsx
  src/pages/JoinCirclePage/JoinWithMagicLink.tsx
  src/pages/MembersPage/MembersTable.tsx
  src/pages/NewNominationPage/NewNominationPage.tsx
Owners: none

remove legacy form code (#1765)
  api/hasura/actions/_handlers/createVault.ts
  src/forms/createForm.tsx
  src/lib/zod/formHelpers.test.ts
  src/lib/zod/formHelpers.ts
  src/lib/zod/index.ts
  src/pages/AddMembersPage/NewMemberList.tsx
  src/pages/JoinCirclePage/JoinWithMagicLink.tsx
  src/pages/MembersPage/MembersTable.tsx
  src/pages/NewNominationPage/NewNominationPage.tsx
Owners: none

updating dark theme colors
  src/pages/CirclesPage/CirclesPage.tsx
  src/stitches.config.ts
  src/ui/Button/Button.tsx
  src/ui/Panel/Panel.tsx
Owners: none

enable createvault tests
  cypress/e2e/createVault.cy.ts
Owners: @topocount

enable update circle tests
  cypress/e2e/createVault.cy.ts
  cypress/e2e/updateCircle.cy.ts
Owners: @topocount
