Repository coordinape/coordinape, changes with the owners that .github/CODEOWNERS names for each.
All owners: @topocount, @levity, @zashton

Show Deleted user in CSV
  api-lib/gql/queries.ts
  api/hasura/actions/_handlers/allocationCsv.ts
Owners: none

Show users in csv if deleted after epoch ends (#1785)
  api-lib/gql/queries.ts
  api/hasura/actions/_handlers/allocationCsv.ts
Owners: none

shush logging in createCircleCRM
  api-lib/event_triggers/createCircleCRM.ts
Owners: none

fix race condition in CI for remote schema
  scripts/ci/manager.sh
Owners: @topocount

don't show "Connected Wallet" when hedgey's disabled
  src/pages/DistributionsPage/DistributionForm.tsx
Owners: none

make integration type a constant
  src/lib/hedgey/index.ts
  src/pages/CircleAdminPage/AdminIntegrations.tsx
  src/pages/CircleAdminPage/HedgeyIntegrationSettings.tsx
  src/pages/DistributionsPage/DistributionForm.tsx
Owners: none

use price_per_share from remote schema (#1725)
  api-test/hasura/remote/vaults.test.ts
  api-test/helpers/organizations.ts
  api-test/helpers/profiles.ts
  api/hasura/actions/_handlers/allocationCsv.test.ts
  api/hasura/actions/_handlers/allocationCsv.ts
  api/hasura/remote/vaults.ts
  scripts/ci/manager.sh
  src/common-lib/distributions.test.ts
  src/common-lib/distributions.ts
  src/pages/ClaimsPage/queries.ts
  src/pages/ClaimsPage/useClaimAllocation.test.tsx
  src/pages/DistributionsPage/DistributionsPage.test.tsx
  src/pages/DistributionsPage/DistributionsPage.tsx
  src/pages/DistributionsPage/queries.ts
Owners: @topocount

filter vaults on distribution page by chain
  src/pages/DistributionsPage/DistributionsPage.tsx
  src/pages/DistributionsPage/queries.ts
Owners: none

improving test to use names instead of offsets, adding `scripts/ci/manager.sh seed`
  cypress/e2e/give.cy.ts
  scripts/ci/manager.sh
Owners: @topocount

improving test to use names instead of offsets, adding `scripts/ci/manager.sh seed` (#1787)
  cypress/e2e/give.cy.ts
  scripts/ci/manager.sh
Owners: @topocount

don't show duplicate blank options
  src/pages/DistributionsPage/DistributionForm.tsx
Owners: none

add some debug logging
  src/lib/hedgey/index.ts
  src/pages/DistributionsPage/DistributionForm.tsx
  src/pages/DistributionsPage/useLockedTokenDistributions.tsx
Owners: none

fix rebasing error
  src/pages/MembersPage/MembersTable.tsx
Owners: none

refetch after updating users
  src/pages/MembersPage/MembersTable.tsx
Owners: none

fix members page caching
  src/pages/MembersPage/MembersTable.tsx
  src/pages/MembersPage/NomineeTable.tsx
  src/pages/MembersPage/getCircleUsers.ts
  src/pages/MembersPage/index.tsx
Owners: none

refetch map data on mount
  src/pages/AssetMapPage/AMDrawer.tsx
Owners: none

convert useMapGraphData to usequery
  src/hooks/useMapGraphData.tsx
  src/pages/AssetMapPage/AMForceGraph.tsx
Owners: none

fix rebasing error
  src/pages/MembersPage/MembersTable.tsx
Owners: none

fix members page caching
  src/pages/MembersPage/MembersTable.tsx
  src/pages/MembersPage/NomineeTable.tsx
  src/pages/MembersPage/getCircleUsers.ts
  src/pages/MembersPage/index.tsx
Owners: none

refetch map data on mount
  src/pages/AssetMapPage/AMDrawer.tsx
Owners: none

refetch after updating users
  src/pages/MembersPage/MembersTable.tsx
Owners: none

conditionally render the give allocator and improve the give test
  cypress/e2e/give.cy.ts
  src/pages/GivePage/GiveAllocator.tsx
Owners: @topocount

conditionally render the give allocator and improve the give test (#1790)
  cypress/e2e/give.cy.ts
  src/pages/GivePage/GiveAllocator.tsx
Owners: @topocount

mention REACT_APP_INFURA_PROJECT_ID in readme
  README.md
Owners: none

clean eth rpc env vars
  .env.example
  api-lib/config.ts
  api-lib/provider.ts
  hardhat/constants.ts
  src/features/auth/connectors.ts
Owners: @levity, @topocount

rename ETHEREUM_RPC_URL
  .env.example
  .github/workflows/CI.yml
  README.md
  hardhat/constants.ts
  hardhat/hardhat.config.ts
  hardhat/scripts/start-ganache.sh
  scripts/env.sh
Owners: @levity, @topocount

os color pref
  src/App.tsx
  src/components/MainLayout/MainHeader.test.tsx
  src/components/MainLayout/MainHeader.tsx
  src/components/MainLayout/MainLayout.tsx
  src/components/MyAvatarMenu/MyAvatarMenu.tsx
  src/features/theming/ThemeProvider.tsx
  src/features/theming/ThemeSwitcher.tsx
  src/features/theming/osPreference.ts
  src/features/theming/storage.ts
  src/utils/testing/index.tsx
Owners: none

remove nominees name column and fix ui
  api-lib/event_triggers/createVouchedUser.ts
  api-lib/event_triggers/utils/handleCheckNomineeMsg.ts
  api-lib/event_triggers/utils/handleVouchMsg.ts
  api-lib/gql/__generated__/zeus/const.ts
  api-lib/gql/__generated__/zeus/index.ts
  api-lib/gql/mutations.ts
  api-lib/gql/queries.ts
  api-lib/handleNomineeCreatedMsg.ts
  api-lib/nominees.ts
  api/hasura/actions/_handlers/vouch.ts
  hasura/metadata/databases/default/tables/public_nominees.yaml
  hasura/migrations/default/1671750861500_alter_table_public_nominees_drop_column_name/down.sql
  hasura/migrations/default/1671750861500_alter_table_public_nominees_drop_column_name/up.sql
  hasura/schema/admin/schema.graphql
  hasura/schema/user/schema.graphql
  src/lib/gql/__generated__/zeus/const.ts
  src/lib/gql/__generated__/zeus/index.ts
  src/lib/gql/queries.ts
  src/pages/MembersPage/NomineeTable.tsx
  src/pages/MembersPage/getActiveNominees.tsx
  src/types/api.nominee.d.ts
Owners: @zashton, @topocount

Update hasura/migrations/default/1671750861500_alter_table_public_nominees_drop_column_name/down.sql
  hasura/migrations/default/1671750861500_alter_table_public_nominees_drop_column_name/down.sql
Owners: @zashton, @topocount

Clean up some environment variables (#1791)
  .env.example
  .github/workflows/CI.yml
  README.md
  api-lib/config.ts
  api-lib/provider.ts
  hardhat/constants.ts
  hardhat/hardhat.config.ts
  hardhat/scripts/start-ganache.sh
  scripts/env.sh
  src/features/auth/connectors.ts
Owners: @levity, @topocount

remove nominees.name column and fix ui (#1789)
  api-lib/event_triggers/createVouchedUser.ts
  api-lib/event_triggers/utils/handleCheckNomineeMsg.ts
  api-lib/event_triggers/utils/handleVouchMsg.ts
  api-lib/gql/__generated__/zeus/const.ts
  api-lib/gql/__generated__/zeus/index.ts
  api-lib/gql/mutations.ts
  api-lib/gql/queries.ts
  api-lib/handleNomineeCreatedMsg.ts
  api-lib/nominees.ts
  api/hasura/actions/_handlers/vouch.ts
  hasura/metadata/databases/default/tables/public_nominees.yaml
  hasura/migrations/default/1671750861500_alter_table_public_nominees_drop_column_name/down.sql
  hasura/migrations/default/1671750861500_alter_table_public_nominees_drop_column_name/up.sql
  hasura/schema/admin/schema.graphql
  hasura/schema/user/schema.graphql
  src/lib/gql/__generated__/zeus/const.ts
  src/lib/gql/__generated__/zeus/index.ts
  src/lib/gql/queries.ts
  src/pages/MembersPage/NomineeTable.tsx
  src/pages/MembersPage/getActiveNominees.tsx
  src/types/api.nominee.d.ts
Owners: @zashton, @topocount

fix rebasing error
  src/pages/MembersPage/MembersTable.tsx
Owners: none

refetch after updating users
  src/pages/MembersPage/MembersTable.tsx
Owners: none

refetch map data on mount
  src/pages/AssetMapPage/AMDrawer.tsx
Owners: none

fix members page caching
  src/pages/MembersPage/MembersTable.tsx
  src/pages/MembersPage/NomineeTable.tsx
  src/pages/MembersPage/getCircleUsers.ts
  src/pages/MembersPage/index.tsx
Owners: none

cleanup
  src/pages/AssetMapPage/AMDrawer.tsx
  src/pages/MembersPage/getCircleUsers.ts
Owners: none

fix members page caching (#1764)
  src/pages/AssetMapPage/AMDrawer.tsx
  src/pages/MembersPage/MembersTable.tsx
  src/pages/MembersPage/NomineeTable.tsx
  src/pages/MembersPage/getCircleUsers.ts
  src/pages/MembersPage/index.tsx
Owners: none

simplify lookup of fixed payment vault balance
  src/pages/CircleAdminPage/CircleAdminPage.tsx
  src/pages/CircleAdminPage/getFixedPayment.ts
  src/pages/MembersPage/MembersTable.tsx
  src/pages/MembersPage/index.tsx
Owners: none

refetch fixedPaymentQuery after editing circle
  src/pages/CircleAdminPage/CircleAdminPage.tsx
Owners: none

os color pref (#1766)
  src/App.tsx
  src/components/MainLayout/MainHeader.test.tsx
  src/components/MainLayout/MainHeader.tsx
  src/components/MainLayout/MainLayout.tsx
  src/components/MyAvatarMenu/MyAvatarMenu.tsx
  src/features/theming/ThemeProvider.tsx
  src/features/theming/ThemeSwitcher.tsx
  src/features/theming/osPreference.ts
  src/features/theming/storage.ts
  src/utils/testing/index.tsx
Owners: none

.github/CODEOWNERS:

/cypress/   @topocount
/docker/    @topocount
/hardhat/   @levity @topocount
/hasura/    @zashton @topocount
/scripts/   @topocount
