Repository coordinape/coordinape, changes with the owners that .github/CODEOWNERS names for each.
All owners: @topocount, @levity, @zashton

wip trying new styles
  src/components/ToastContainer.tsx
  src/stitches.config.ts
Owners: none

Add shadows to toasts
  src/components/ToastContainer.tsx
  src/stitches.config.ts
Owners: none

Integrate Epoch update flow
  src/hooks/useApiAdminCircle.ts
  src/lib/gql/mutations.ts
  src/pages/HistoryPage/EpochForm.tsx
  src/pages/HistoryPage/HistoryPage.tsx
  src/types/api.d.ts
Owners: none

Fix hover CSS
  src/components/ToastContainer.tsx
  src/hooks/useToast.tsx
Owners: none

Add copy button to error toasts
  src/components/ToastContainer.tsx
  src/hooks/useToast.tsx
Owners: none

Revert "Toast Test Helper : REVERT ME"
  src/hooks/useToast.tsx
  src/pages/CirclesPage/CirclesPage.tsx
Owners: none

Toast Style Improvements (#1875)
  src/components/ToastContainer.tsx
  src/hooks/useToast.tsx
  src/stitches.config.ts
Owners: none

test fixes
  cypress/e2e/createUser.cy.ts
  cypress/e2e/createVault.cy.ts
Owners: @topocount

lots of styling for epoch overview (#1872)
  cypress/e2e/createUser.cy.ts
  cypress/e2e/createVault.cy.ts
  public/imgs/logo/coordinape-logo.svg
  scripts/update_figma_colors.ts
  scripts/util/seed.ts
  src/components/DeprecatedApeTextField.tsx
  src/components/ToastContainer.tsx
  src/features/nav/NavProfile.tsx
  src/pages/AddMembersPage/AddMembersPage.tsx
  src/pages/CircleAdminPage/CircleAdminPage.tsx
  src/pages/CirclesPage/CirclesPage.tsx
  src/pages/ClaimsPage/ClaimsPage.tsx
  src/pages/ContributionsPage/ContributionsPage.tsx
  src/pages/CreateCirclePage/CreateCircleForm.tsx
  src/pages/GivePage/index.tsx
  src/pages/HistoryPage/CurrentEpochPanel.tsx
  src/pages/HistoryPage/EpochPanel.tsx
  src/pages/HistoryPage/HistoryPage.tsx
  src/pages/HistoryPage/NextEpoch.tsx
  src/pages/HistoryPage/Notes.tsx
  src/pages/MembersPage/index.tsx
  src/pages/OrganizationPage/OrganizationPage.tsx
  src/pages/ProfilePage/ProfilePage.tsx
  src/pages/VaultsPage/VaultsPage.tsx
  src/stitches.config.ts
  src/ui/BackButton/BackButton.tsx
  src/ui/Button/Button.tsx
  src/ui/ContentHeader/ContentHeader.tsx
  src/ui/HR/HR.tsx
  src/ui/Text/Text.tsx
  src/ui/index.ts
  src/ui/new-colors.ts
Owners: @topocount

removing the ape tooltip and adding a new InfoToolip wrapper around Tooltip
  src/components/ApeInfoTooltip.tsx
  src/components/DeprecatedApeTextField.tsx
  src/components/index.ts
  src/pages/ClaimsPage/ClaimsPage.tsx
  src/pages/CreateCirclePage/CreateCircleForm.tsx
  src/pages/GivePage/EpochStatementDrawer.tsx
  src/pages/GivePage/GiveAllocator.tsx
  src/pages/GivePage/GiveDrawer.tsx
  src/pages/GivePage/MyGiveRow.tsx
  src/ui/Tooltip/InfoTooltip.tsx
  src/ui/index.ts
Owners: none

fix: locked token distribution gifts on the claim page should be filtered by profile id (#1873)
  src/pages/ClaimsPage/LockedTokenGiftsTable.tsx
  src/pages/ClaimsPage/queries.ts
Owners: none

removing the ape tooltip and adding a new InfoToolip wrapper around Tooltip (#1871)
  src/components/ApeInfoTooltip.tsx
  src/components/DeprecatedApeTextField.tsx
  src/components/index.ts
  src/pages/ClaimsPage/ClaimsPage.tsx
  src/pages/CreateCirclePage/CreateCircleForm.tsx
  src/pages/GivePage/EpochStatementDrawer.tsx
  src/pages/GivePage/GiveAllocator.tsx
  src/pages/GivePage/GiveDrawer.tsx
  src/pages/GivePage/MyGiveRow.tsx
  src/ui/Tooltip/InfoTooltip.tsx
  src/ui/index.ts
Owners: none

working around unknown rare epoch is null
  src/pages/HistoryPage/CurrentEpochPanel.tsx
Owners: none

tweaking modal styles and vault modal details, shrinking loading indicator
  src/components/LoadingModal.tsx
  src/pages/VaultsPage/CreateForm.tsx
  src/pages/VaultsPage/VaultsPage.tsx
  src/stitches.config.ts
  src/ui/Button/Button.tsx
  src/ui/Modal.tsx
  src/ui/Panel/Panel.tsx
Owners: none

WIP vaults rebranding
  src/pages/VaultsPage/VaultRow.tsx
  src/pages/VaultsPage/VaultTransactions.tsx
Owners: none

tweaking modal styles and vault modal details, shrinking loading indicator (#1876)
  src/components/LoadingModal.tsx
  src/pages/VaultsPage/CreateForm.tsx
  src/pages/VaultsPage/VaultsPage.tsx
  src/stitches.config.ts
  src/ui/Button/Button.tsx
  src/ui/Modal.tsx
  src/ui/Panel/Panel.tsx
Owners: none

remove nested panels
  src/components/Table.tsx
  src/pages/AddMembersPage/NewMemberList.tsx
  src/pages/CircleAdminPage/CircleAdminPage.tsx
  src/pages/ContributionsPage/ContributionPanel.tsx
  src/pages/ContributionsPage/ContributionRow.tsx
  src/pages/ContributionsPage/ContributionsPage.tsx
  src/pages/GivePage/GiveRowGrid.tsx
  src/pages/GivePage/MyGiveRow.tsx
  src/stitches.config.ts
  src/ui/Modal.tsx
  src/ui/Panel/Panel.tsx
  src/ui/Table/Table.tsx
Owners: none

hover border width
  src/pages/ContributionsPage/ContributionRow.tsx
Owners: none

tweaking add members styles
  src/components/CopyCodeTextField.tsx
  src/pages/AddMembersPage/AddMembersPage.tsx
  src/pages/AddMembersPage/NewMemberList.tsx
Owners: none

radio buttons '
  src/pages/CircleAdminPage/CircleAdminPage.tsx
  src/stitches.config.ts
  src/ui/RadioGroup/RadioGroup.tsx
Owners: none

updating styling of add members
  src/components/CopyCodeTextField.tsx
  src/components/DragFileUpload.tsx
  src/pages/AddMembersPage/MagicLink.tsx
  src/pages/AddMembersPage/NewMemberList.tsx
  src/pages/AddMembersPage/TabButton.tsx
Owners: none

dismiss profile when click outside
  src/features/nav/NavProfile.tsx
Owners: none

dismiss profile when click outside (#1879)
  src/features/nav/NavProfile.tsx
Owners: none

Add members (#1878)
  src/components/CopyCodeTextField.tsx
  src/components/DragFileUpload.tsx
  src/pages/AddMembersPage/AddMembersPage.tsx
  src/pages/AddMembersPage/MagicLink.tsx
  src/pages/AddMembersPage/NewMemberList.tsx
  src/pages/AddMembersPage/TabButton.tsx
Owners: none

Implement New CreateEpoch API
  api-lib/gql/__generated__/zeus/const.ts
  api-lib/gql/__generated__/zeus/index.ts
  api-lib/gql/queries.ts
  api-test/hasura/actions/_handlers/createEpoch.test.ts
  api/hasura/actions/_handlers/createEpoch.ts
  hasura/metadata/actions.graphql
  hasura/metadata/actions.yaml
  hasura/metadata/databases/default/tables/public_epoches.yaml
  hasura/migrations/default/1670612024840_alter_table_public_epoches_add_column_repeat_data/down.sql
  hasura/migrations/default/1670612024840_alter_table_public_epoches_add_column_repeat_data/up.sql
  hasura/schema/admin/schema.graphql
  hasura/schema/user/schema.graphql
  src/lib/gql/__generated__/zeus/const.ts
  src/lib/gql/__generated__/zeus/index.ts
  src/lib/zod/formHelpers.ts
  src/pages/HistoryPage/EpochForm.tsx
Owners: @zashton, @topocount

Implement Epoch Monthly backend
  api-test/hasura/actions/_handlers/createEpoch.test.ts
  api/hasura/actions/_handlers/createEpoch.ts
  src/common-lib/epochs.ts
Owners: none

Refactor updateEpoch to utilize repeat_data
  api-lib/gql/__generated__/zeus/const.ts
  api-lib/gql/__generated__/zeus/index.ts
  api-test/hasura/actions/_handlers/updateEpoch.test.ts
  api/hasura/actions/_handlers/createEpoch.ts
  api/hasura/actions/_handlers/updateEpoch.ts
  hasura/metadata/actions.graphql
  hasura/schema/admin/schema.graphql
  hasura/schema/user/schema.graphql
  src/lib/gql/__generated__/zeus/const.ts
  src/lib/gql/__generated__/zeus/index.ts
Owners: @zashton, @topocount

Implement Monthly repeating epochs in the frontend
  src/components/FormDatePicker.tsx
  src/components/FormTimePicker.tsx
  src/pages/HistoryPage/EpochForm.tsx
Owners: none

Reimplement Epoch Form with New design
  cypress/e2e/createEpoch.cy.ts
  package.json
  src/components/FormDatePicker.tsx
  src/components/FormInputField.tsx
  src/components/FormTimePicker.tsx
  src/hooks/useApiAdminCircle.ts
  src/lib/gql/mutations.ts
  src/lib/zod/index.ts
  src/pages/HistoryPage/EpochForm.tsx
  src/pages/HistoryPage/HistoryPage.tsx
  src/pages/HistoryPage/getHistoryData.ts
  yarn.lock
Owners: @topocount

fixup: updateEpoch handler bugfix
  api/hasura/actions/_handlers/updateEpoch.ts
Owners: none

Integrate Epoch update flow
  src/hooks/useApiAdminCircle.ts
  src/lib/gql/mutations.ts
  src/pages/HistoryPage/EpochForm.tsx
  src/pages/HistoryPage/HistoryPage.tsx
  src/types/api.d.ts
Owners: none

mobile top padding fix
  src/components/MainLayout/MainLayout.tsx
  src/features/nav/NavLogo.tsx
Owners: none

Remove no-console
  src/features/nav/NavProfile.tsx
Owners: none

hedgy link style
  src/pages/CircleAdminPage/HedgeyIntegrationSettings.tsx
Owners: none

fix: chain_id was being compared as a string
  src/pages/ClaimsPage/LockedTokenGiftsTable.tsx
Owners: none

merge
  src/pages/CircleAdminPage/CircleAdminPage.tsx
  src/ui/ContentHeader/ContentHeader.tsx
Owners: none

border bottom only duh
  src/ui/ContentHeader/ContentHeader.tsx
Owners: none

contentHeader cherrypick
  src/ui/ContentHeader/ContentHeader.tsx
Owners: none

main layout overflow bugfix. give some more contrast to og theme form inputs. forgot to remove create circle nested panel. add bg color to select
  src/components/MainLayout/MainLayout.tsx
  src/pages/CircleAdminPage/CircleAdminPage.tsx
  src/pages/CreateCirclePage/CreateCircleForm.tsx
  src/stitches.config.ts
  src/ui/FormLabel/FormLabel.tsx
  src/ui/Panel/Panel.tsx
  src/ui/Select/Select.tsx
Owners: none

Branding sync 2 (#1877)
  src/components/MainLayout/MainLayout.tsx
  src/components/Table.tsx
  src/features/nav/NavLogo.tsx
  src/pages/CircleAdminPage/CircleAdminPage.tsx
  src/pages/CircleAdminPage/HedgeyIntegrationSettings.tsx
  src/pages/ContributionsPage/ContributionPanel.tsx
  src/pages/ContributionsPage/ContributionRow.tsx
  src/pages/ContributionsPage/ContributionsPage.tsx
  src/pages/CreateCirclePage/CreateCircleForm.tsx
  src/pages/GivePage/GiveRowGrid.tsx
  src/pages/GivePage/MyGiveRow.tsx
  src/stitches.config.ts
  src/ui/ContentHeader/ContentHeader.tsx
  src/ui/FormLabel/FormLabel.tsx
  src/ui/Modal.tsx
  src/ui/Panel/Panel.tsx
  src/ui/RadioGroup/RadioGroup.tsx
  src/ui/Select/Select.tsx
  src/ui/Table/Table.tsx
Owners: none

.github/CODEOWNERS:

/cypress/   @topocount
/docker/    @topocount
/hardhat/   @levity @topocount
/hasura/    @zashton @topocount
/scripts/   @topocount
