Repository coordinape/coordinape, changes with the owners that .github/CODEOWNERS names for each.
All owners: @topocount, @levity, @zashton

.github/CODEOWNERS:

/cypress/   @topocount
/docker/    @topocount
/hardhat/   @levity @topocount
/hasura/    @zashton @topocount
/scripts/   @topocount

Add updated_at trigger on `profiles` table
  hasura/migrations/default/1674672458652_add_updated_at_trigger_missing_tables/down.sql
  hasura/migrations/default/1674672458652_add_updated_at_trigger_missing_tables/up.sql
Owners: @zashton, @topocount

Add distributions table `updated_at` trigger
  hasura/migrations/default/1674672458652_add_updated_at_trigger_missing_tables/down.sql
  hasura/migrations/default/1674672458652_add_updated_at_trigger_missing_tables/up.sql
Owners: @zashton, @topocount

fix upload circle avatar saving
  src/pages/CreateCirclePage/CreateCirclePage.tsx
Owners: none

super basic side nav unit test (#1868)
  src/features/nav/NavCircles.tsx
  src/features/nav/NavOrgs.tsx
  src/features/nav/SideNav.test.tsx
Owners: none

new theme based loading animation, removed a bit of MUI
  src/components/LoadingModal.tsx
Owners: none

use radix
  src/components/LoadingModal.tsx
Owners: none

use radix for loading modal
  src/components/LoadingModal.tsx
  src/ui/Modal.tsx
Owners: none

Fix CirclesPage test
  src/pages/CirclesPage/CirclesPage.test.tsx
Owners: none

adding role="progressbar" to the new loading modal
  src/components/LoadingModal.tsx
Owners: none

New stitches friendly loading modal (#1867)
  src/components/LoadingModal.tsx
  src/pages/CirclesPage/CirclesPage.test.tsx
  src/ui/Modal.tsx
Owners: none

Add db triggers to update `updated_at` on tables (#1870)
  hasura/migrations/default/1674672458652_add_updated_at_trigger_missing_tables/down.sql
  hasura/migrations/default/1674672458652_add_updated_at_trigger_missing_tables/up.sql
Owners: @zashton, @topocount

lots of styling for epoch overview
  scripts/update_figma_colors.ts
  src/components/DeprecatedApeTextField.tsx
  src/pages/HistoryPage/CurrentEpochPanel.tsx
  src/pages/HistoryPage/EpochPanel.tsx
  src/pages/HistoryPage/HistoryPage.tsx
  src/pages/HistoryPage/NextEpoch.tsx
  src/pages/HistoryPage/Notes.tsx
  src/stitches.config.ts
  src/ui/Button/Button.tsx
  src/ui/Text/Text.tsx
  src/ui/new-colors.ts
Owners: @topocount

Allow viewing join link page without login (#1828)
  api-test/helpers/circles.ts
  api-test/helpers/contributions.ts
  api-test/helpers/epochs.ts
  api-test/helpers/organizations.ts
  api-test/helpers/profiles.ts
  api-test/helpers/users.ts
  src/components/MyAvatarMenu/MyAvatarMenu.tsx
  src/pages/JoinCirclePage/JoinCirclePage.test.tsx
  src/pages/JoinCirclePage/JoinCirclePage.tsx
  src/pages/JoinCirclePage/JoinWithMagicLink.tsx
  src/routes/routes.tsx
Owners: none

fix: locked token distribution gifts on the claim page should be filtered by profile id
  src/pages/ClaimsPage/LockedTokenGiftsTable.tsx
  src/pages/ClaimsPage/queries.ts
Owners: none

revert useConnectedAddress changes
  src/components/MainLayout/getMainHeaderData.ts
  src/features/auth/useWalletStatus.tsx
  src/features/nav/getNavData.ts
  src/hooks/useConnectedAddress.ts
  src/pages/CirclesPage/CirclesPage.tsx
  src/pages/ClaimsPage/hooks.ts
  src/pages/ContributionsPage/ContributionsPage.tsx
  src/pages/CreateCirclePage/CreateCirclePage.test.tsx
  src/pages/CreateCirclePage/CreateCirclePage.tsx
  src/pages/DistributionsPage/DistributionsPage.tsx
  src/pages/GivePage/index.tsx
  src/pages/JoinCirclePage/JoinCirclePage.tsx
  src/pages/JoinCirclePage/JoinWithMagicLink.tsx
  src/pages/MembersPage/index.tsx
  src/pages/OrganizationPage/OrganizationPage.tsx
  src/pages/OrganizationSettingsPage/OrganizationSettingsPage.tsx
  src/pages/VaultsPage/DepositModal.tsx
  src/pages/VaultsPage/VaultRow.tsx
  src/utils/testing/index.test.tsx
Owners: none

show allocation table for all chains
  src/pages/DistributionsPage/DistributionForm.tsx
  src/pages/DistributionsPage/DistributionsPage.tsx
  src/pages/DistributionsPage/queries.ts
Owners: none

fix unit test
  src/pages/DistributionsPage/DistributionForm.tsx
Owners: none

Feature/bulk user delete (#1724)
  api-lib/gql/__generated__/zeus/const.ts
  api-lib/gql/__generated__/zeus/index.ts
  api-test/hasura/actions/_handlers/deleteUsers.test.ts
  api/hasura/actions/_handlers/deleteUsers.ts
  api/hasura/actions/actionManager.ts
  hasura/metadata/actions.graphql
  hasura/metadata/actions.yaml
  hasura/schema/admin/schema.graphql
  hasura/schema/user/schema.graphql
  src/lib/gql/__generated__/zeus/const.ts
  src/lib/gql/__generated__/zeus/index.ts
Owners: @zashton, @topocount

show allocation table for all chains (#1851)
  src/pages/DistributionsPage/DistributionForm.tsx
  src/pages/DistributionsPage/DistributionsPage.tsx
  src/pages/DistributionsPage/queries.ts
Owners: none

Remove user name field from create circle form (#1864)
  src/components/MainLayout/CreateUserNameForm.tsx
  src/pages/CreateCirclePage/CreateCircleForm.tsx
  src/pages/CreateCirclePage/CreateCirclePage.test.tsx
  src/pages/CreateCirclePage/CreateCirclePage.tsx
  src/pages/CreateCirclePage/queries.ts
Owners: none

Toast Test Helper : REVERT ME
  src/hooks/useToast.tsx
  src/pages/CirclesPage/CirclesPage.tsx
Owners: none

wip trying new styles
  src/components/ToastContainer.tsx
  src/stitches.config.ts
Owners: none

content header for circles page
  public/imgs/logo/coordinape-logo.svg
  src/features/nav/NavProfile.tsx
  src/pages/CirclesPage/CirclesPage.tsx
  src/stitches.config.ts
  src/ui/Button/Button.tsx
  src/ui/ContentHeader/ContentHeader.tsx
  src/ui/HR/HR.tsx
  src/ui/index.ts
Owners: none

super basic side nav unit test (#1868)
  src/features/nav/NavCircles.tsx
  src/features/nav/NavOrgs.tsx
  src/features/nav/SideNav.test.tsx
Owners: none

New stitches friendly loading modal (#1867)
  src/components/LoadingModal.tsx
  src/pages/CirclesPage/CirclesPage.test.tsx
  src/ui/Modal.tsx
Owners: none

Add db triggers to update `updated_at` on tables (#1870)
  hasura/migrations/default/1674672458652_add_updated_at_trigger_missing_tables/down.sql
  hasura/migrations/default/1674672458652_add_updated_at_trigger_missing_tables/up.sql
Owners: @zashton, @topocount

lots of styling for epoch overview
  scripts/update_figma_colors.ts
  src/components/DeprecatedApeTextField.tsx
  src/pages/HistoryPage/CurrentEpochPanel.tsx
  src/pages/HistoryPage/EpochPanel.tsx
  src/pages/HistoryPage/HistoryPage.tsx
  src/pages/HistoryPage/NextEpoch.tsx
  src/pages/HistoryPage/Notes.tsx
  src/stitches.config.ts
  src/ui/Button/Button.tsx
  src/ui/Text/Text.tsx
  src/ui/new-colors.ts
Owners: @topocount

Implement New CreateEpoch API
  api-lib/gql/__generated__/zeus/const.ts
  api-lib/gql/__generated__/zeus/index.ts
  api-lib/gql/queries.ts
  api-test/hasura/actions/_handlers/createEpoch.test.ts
  api/hasura/actions/_handlers/createEpoch.ts
  hasura/metadata/actions.graphql
  hasura/metadata/actions.yaml
  hasura/metadata/databases/default/tables/public_epoches.yaml
  hasura/migrations/default/1670612024840_alter_table_public_epoches_add_column_repeat_data/down.sql
  hasura/migrations/default/1670612024840_alter_table_public_epoches_add_column_repeat_data/up.sql
  hasura/schema/admin/schema.graphql
  hasura/schema/user/schema.graphql
  src/lib/gql/__generated__/zeus/const.ts
  src/lib/gql/__generated__/zeus/index.ts
  src/lib/zod/formHelpers.ts
  src/pages/HistoryPage/EpochForm.tsx
Owners: @zashton, @topocount

Implement Monthly repeating epochs in the frontend
  src/components/FormDatePicker.tsx
  src/components/FormTimePicker.tsx
  src/pages/HistoryPage/EpochForm.tsx
Owners: none

Implement Epoch Monthly backend
  api-test/hasura/actions/_handlers/createEpoch.test.ts
  api/hasura/actions/_handlers/createEpoch.ts
  src/common-lib/epochs.ts
Owners: none

Refactor updateEpoch to utilize repeat_data
  api-lib/gql/__generated__/zeus/const.ts
  api-lib/gql/__generated__/zeus/index.ts
  api-test/hasura/actions/_handlers/updateEpoch.test.ts
  api/hasura/actions/_handlers/createEpoch.ts
  api/hasura/actions/_handlers/updateEpoch.ts
  hasura/metadata/actions.graphql
  hasura/schema/admin/schema.graphql
  hasura/schema/user/schema.graphql
  src/lib/gql/__generated__/zeus/const.ts
  src/lib/gql/__generated__/zeus/index.ts
Owners: @zashton, @topocount

fixup: updateEpoch handler bugfix
  api/hasura/actions/_handlers/updateEpoch.ts
Owners: none

Reimplement Epoch Form with New design
  cypress/e2e/createEpoch.cy.ts
  package.json
  src/components/FormDatePicker.tsx
  src/components/FormInputField.tsx
  src/components/FormTimePicker.tsx
  src/hooks/useApiAdminCircle.ts
  src/lib/gql/mutations.ts
  src/lib/zod/index.ts
  src/pages/HistoryPage/EpochForm.tsx
  src/pages/HistoryPage/HistoryPage.tsx
  src/pages/HistoryPage/getHistoryData.ts
  yarn.lock
Owners: @topocount

header component with hr stylee
  src/features/nav/NavProfile.tsx
  src/pages/HistoryPage/HistoryPage.tsx
  src/stitches.config.ts
  src/ui/ContentHeader/ContentHeader.tsx
  src/ui/HR/HR.tsx
Owners: none

font size small. flush hr
  src/stitches.config.ts
  src/ui/ContentHeader/ContentHeader.tsx
Owners: none

Toast Test Helper : REVERT ME
  src/hooks/useToast.tsx
  src/pages/CirclesPage/CirclesPage.tsx
Owners: none

h1 temp size to match new brand h1
  src/pages/HistoryPage/CurrentEpochPanel.tsx
  src/stitches.config.ts
Owners: none

WIP: copy on text click
  src/components/ToastContainer.tsx
  src/hooks/useToast.tsx
Owners: none

use content header everywhere in the site
  src/pages/AddMembersPage/AddMembersPage.tsx
  src/pages/CircleAdminPage/CircleAdminPage.tsx
  src/pages/CirclesPage/CirclesPage.tsx
  src/pages/ClaimsPage/ClaimsPage.tsx
  src/pages/ContributionsPage/ContributionsPage.tsx
  src/pages/CreateCirclePage/CreateCirclePage.tsx
  src/pages/GivePage/index.tsx
  src/pages/HistoryPage/HistoryPage.tsx
  src/pages/MembersPage/index.tsx
  src/pages/OrganizationPage/OrganizationPage.tsx
  src/pages/ProfilePage/ProfilePage.tsx
  src/pages/VaultsPage/VaultsPage.tsx
  src/stitches.config.ts
  src/ui/BackButton/BackButton.tsx
  src/ui/Button/Button.tsx
  src/ui/ContentHeader/ContentHeader.tsx
Owners: none

button in a weird spot. current epoch border. seeding notes
  scripts/util/seed.ts
  src/components/ToastContainer.tsx
  src/pages/HistoryPage/CurrentEpochPanel.tsx
  src/stitches.config.ts
Owners: @topocount
