Repository coordinape/coordinape, changes with the owners that .github/CODEOWNERS names for each.
All owners: @topocount, @levity, @zashton

.github/CODEOWNERS:

/cypress/   @topocount
/docker/    @topocount
/hardhat/   @levity @topocount
/hasura/    @zashton @topocount
/scripts/   @topocount

fix _epochs.test.ts
  api/hasura/cron/_epochs.test.ts
Owners: none

Log chainId along with login request to Mixpanel (#1730)
  api/login.ts
Owners: none

fix margin
  src/components/ReceiveInfo.tsx
Owners: none

update yarn.lock file
  yarn.lock
Owners: none

make description field optional
  api-lib/gql/__generated__/zeus/index.ts
  api/hasura/actions/_handlers/updateEpoch.ts
  hasura/metadata/actions.graphql
  hasura/schema/admin/schema.graphql
  hasura/schema/user/schema.graphql
  src/lib/gql/__generated__/zeus/index.ts
  src/lib/zod/index.ts
  src/pages/HistoryPage/EpochForm.tsx
  src/types/api.d.ts
Owners: @zashton, @topocount

epoch form validation fix
  package.json
  src/pages/HistoryPage/EpochForm.tsx
  yarn.lock
Owners: none

update createEpoch and updateEpoch actions
  api-lib/gql/__generated__/zeus/index.ts
  hasura/metadata/actions.graphql
  hasura/schema/admin/schema.graphql
  hasura/schema/user/schema.graphql
  src/lib/gql/__generated__/zeus/index.ts
  src/lib/zod/index.ts
  src/types/api.d.ts
Owners: @zashton, @topocount

add description as option for displaying epochs
  api-lib/gql/queries.ts
  api/hasura/actions/_handlers/allocationCsv.ts
  src/lib/gql/queries.ts
  src/pages/AssetMapPage/AMDrawer.tsx
  src/pages/CirclesPage/CirclesPage.tsx
  src/pages/CirclesPage/getOrgData.ts
  src/pages/ContributionsPage/ContributionsPage.tsx
  src/pages/ContributionsPage/queries.ts
  src/pages/DistributionsPage/DistributionForm.tsx
  src/pages/DistributionsPage/DistributionsPage.tsx
  src/pages/DistributionsPage/queries.ts
  src/pages/GivePage/index.tsx
  src/pages/HistoryPage/CurrentEpochPanel.tsx
  src/pages/HistoryPage/EpochPanel.tsx
  src/types/api.epoch.d.ts
Owners: none

add epoch dates to description in map select
  src/pages/AssetMapPage/AMDrawer.tsx
  src/utils/modelExtenders.ts
Owners: none

add epoch description to epoch form
  src/pages/HistoryPage/EpochForm.tsx
  src/pages/HistoryPage/getHistoryData.ts
Owners: none

Receive info header mobile (#1732)
  src/components/MainLayout/MobileHeader.tsx
  src/components/ReceiveInfo.tsx
Owners: none

Integrated contributions link on Contribution page (#1731)
  src/pages/ContributionsPage/ContributionsPage.tsx
Owners: none

make nominees name unique
  api-lib/gql/__generated__/zeus/const.ts
  api-lib/gql/__generated__/zeus/index.ts
  hasura/migrations/default/1669847485643_alter_table_public_nominees_alter_column_name/down.sql
  hasura/migrations/default/1669847485643_alter_table_public_nominees_alter_column_name/up.sql
  hasura/schema/admin/schema.graphql
  hasura/schema/user/schema.graphql
  src/lib/gql/__generated__/zeus/const.ts
  src/lib/gql/__generated__/zeus/index.ts
Owners: @zashton, @topocount

add updateProfileName action
  api-lib/gql/__generated__/zeus/const.ts
  api-lib/gql/__generated__/zeus/index.ts
  api/hasura/actions/_handlers/updateProfileName.ts
  api/hasura/actions/actionManager.ts
  hasura/metadata/actions.graphql
  hasura/metadata/actions.yaml
  hasura/schema/admin/schema.graphql
  hasura/schema/user/schema.graphql
  src/lib/gql/__generated__/zeus/const.ts
  src/lib/gql/__generated__/zeus/index.ts
Owners: @zashton, @topocount

create nominee profile upon nomination
  api-lib/findNominees.ts
  api-lib/gql/__generated__/zeus/const.ts
  api-lib/gql/__generated__/zeus/index.ts
  api-lib/gql/queries.ts
  api-lib/nominees.ts
  api/hasura/actions/_handlers/createNominee.ts
  api/hasura/actions/_handlers/createUserMutation.ts
  api/hasura/actions/_handlers/createUsers.ts
  api/hasura/actions/_handlers/updateProfileName.ts
  api/hasura/actions/_handlers/vouch.ts
  hasura/metadata/databases/default/tables/public_nominees.yaml
  hasura/migrations/default/1670341754357_alter_table_public_nominees_alter_column_name/down.sql
  hasura/migrations/default/1670341754357_alter_table_public_nominees_alter_column_name/up.sql
  hasura/schema/admin/schema.graphql
  hasura/schema/user/schema.graphql
  src/lib/gql/__generated__/zeus/const.ts
  src/lib/gql/__generated__/zeus/index.ts
  src/pages/MembersPage/NomineeTable.tsx
  src/pages/MembersPage/getActiveNominees.tsx
  src/types/api.nominee.d.ts
Owners: @zashton, @topocount

update mutations and handlers
  api/hasura/actions/_handlers/createNominee.ts
  api/hasura/actions/_handlers/createUserMutation.ts
  api/hasura/actions/_handlers/createUsers.ts
  api/hasura/actions/_handlers/updateProfileName.ts
  api/hasura/actions/_handlers/vouch.ts
  src/components/MainLayout/CreateUserNameForm.tsx
  src/components/MainLayout/OverviewMenu.test.tsx
Owners: none

check for nominees in createUSerMutations
  api/hasura/actions/_handlers/createUserMutation.ts
Owners: none

change name field to citext
  api-lib/gql/__generated__/zeus/const.ts
  api-lib/gql/__generated__/zeus/index.ts
  hasura/metadata/databases/default/tables/public_profiles.yaml
  hasura/migrations/default/1669773466126_run_sql_migration/down.sql
  hasura/migrations/default/1669773466126_run_sql_migration/up.sql
  hasura/migrations/default/1669773521305_alter_table_public_profiles_alter_column_name/down.sql
  hasura/migrations/default/1669773521305_alter_table_public_profiles_alter_column_name/up.sql
  hasura/schema/admin/schema.graphql
  hasura/schema/user/schema.graphql
  src/lib/gql/__generated__/zeus/const.ts
  src/lib/gql/__generated__/zeus/index.ts
Owners: @zashton, @topocount

allow updating name field
  hasura/schema/user/schema.graphql
  src/lib/gql/__generated__/zeus/index.ts
Owners: @zashton, @topocount

update create user mutations
  api/hasura/actions/_handlers/createUserMutation.ts
  api/hasura/actions/_handlers/createUsers.ts
Owners: none

check duplicate names for nominees
  api-lib/findNominees.ts
  api-lib/findProfile.ts
  api-lib/gql/__generated__/zeus/const.ts
  api-lib/gql/__generated__/zeus/index.ts
  hasura/migrations/default/1669847485643_alter_table_public_nominees_alter_column_name/down.sql
  hasura/migrations/default/1669847485643_alter_table_public_nominees_alter_column_name/up.sql
  hasura/schema/admin/schema.graphql
  hasura/schema/user/schema.graphql
  src/lib/gql/__generated__/zeus/const.ts
  src/lib/gql/__generated__/zeus/index.ts
Owners: @zashton, @topocount

create user name form modal
  src/components/MainLayout/MainHeader.tsx
  src/components/MainLayout/MobileHeader.stories.tsx
  src/components/MainLayout/MobileHeader.tsx
  src/components/MainLayout/getMainHeaderData.ts
  src/components/MainLayout/mutations.ts
  src/lib/zod/index.ts
Owners: none

disable edit user name
  src/components/MainLayout/CreateUserNameForm.tsx
  src/pages/JoinCirclePage/JoinCirclePage.tsx
  src/pages/JoinCirclePage/JoinWithMagicLink.tsx
  src/pages/JoinCirclePage/queries.ts
  src/pages/MembersPage/MembersTable.tsx
Owners: none

MVP integration with Spirals to give default option to use Green ETH as simple token
  hardhat/deploymentInfo.json
  hardhat/dist/deploymentInfo.json
  public/imgs/tokens/Green ETH.png
  src/lib/vaults/contracts.ts
  src/lib/vaults/index.ts
  src/pages/VaultsPage/CreateForm.tsx
Owners: @levity, @topocount

fix: adds a check on insert and update for the user having the circle admin role
  hasura/metadata/databases/default/tables/public_locked_token_distributions.yaml
Owners: @zashton, @topocount

add upserts and fix createprofile in createNominee
  api/hasura/actions/_handlers/createNominee.ts
  api/hasura/actions/_handlers/createUserMutation.ts
  api/hasura/actions/_handlers/createUsers.ts
Owners: none

add characters limit on profile name
  src/lib/zod/index.ts
Owners: none

yml file change for docker
  docker-compose.yml
Owners: none

feat: Adds Hedgey contracts to deploymentInfo (#1734)
  hardhat/deploymentInfo.json
  hardhat/dist/deploymentInfo.json
Owners: @levity, @topocount

fix useRequireSupportedChain test
  src/hooks/useRequireSupportedChain.test.tsx
  src/hooks/useRequireSupportedChain.ts
Owners: none

add some tx lifecycle logging
  src/utils/contractHelpers.ts
Owners: none

small fixes for VaultsPage
  src/pages/VaultsPage/VaultTransactions.tsx
  src/pages/VaultsPage/VaultsPage.tsx
Owners: none

add core magic support
  .env.example
  src/features/auth/magic.tsx
Owners: none

small fixes pre-magic connect (#1745)
  .env.example
  src/features/auth/magic.tsx
  src/pages/VaultsPage/VaultTransactions.tsx
  src/pages/VaultsPage/VaultsPage.tsx
  src/utils/contractHelpers.ts
Owners: none

integrate magic into login flow
  src/features/auth/RequireAuth.tsx
  src/features/auth/WalletAuthModal.tsx
  src/features/auth/connectors.ts
  src/features/auth/index.ts
  src/features/auth/store.ts
  src/features/auth/useAuthStep.ts
  src/features/auth/useFinishAuth.ts
  src/features/auth/useWalletAuth.ts
  src/hooks/useApiBase.ts
  src/hooks/useWeb3React.test.tsx
  src/hooks/useWeb3React.tsx
  src/types/global.d.ts
  src/utils/storage.ts
Owners: none

fix figma colors script to handle our new color doc and generate new colors file
  scripts/update_figma_colors.ts
  src/ui/new-colors.ts
Owners: @topocount

fix text and functions arguments
  api-lib/findProfile.ts
  api/hasura/actions/_handlers/createNominee.ts
  api/hasura/actions/_handlers/createUserMutation.ts
  api/hasura/actions/_handlers/createUsers.ts
  api/hasura/actions/_handlers/updateProfileName.ts
  src/lib/zod/index.ts
Owners: none

clean up createUsers.ts file
  api/hasura/actions/_handlers/createUsers.ts
Owners: none

fix: adding foreign constraint for locked_token_distributions and profiles
  hasura/metadata/databases/default/tables/public_locked_token_distributions.yaml
  hasura/migrations/default/1670234780227_create_table_public_locked_token_distributions/up.sql
Owners: @zashton, @topocount

fix: updates metadata
  api-lib/gql/__generated__/zeus/const.ts
  api-lib/gql/__generated__/zeus/index.ts
  hasura/schema/admin/schema.graphql
  hasura/schema/user/schema.graphql
  src/lib/gql/__generated__/zeus/const.ts
  src/lib/gql/__generated__/zeus/index.ts
Owners: @zashton, @topocount
