Repository coordinape/coordinape, changes with the owners that .github/CODEOWNERS names for each.
All owners: @topocount, @levity, @zashton

add wrap/unwrap hardhat tasks
  hardhat/hardhat.config.ts
Owners: @levity, @topocount

fix balance rounding on vaults page
  src/pages/VaultsPage/VaultRow.tsx
Owners: none

fix position of X in modal
  src/ui/Modal.tsx
Owners: none

Fix for create simple vaults
  src/pages/VaultsPage/CreateForm.tsx
Owners: none

cleanup
  src/pages/ClaimsPage/ClaimsPage.tsx
  src/pages/VaultsPage/DepositModal.tsx
Owners: none

create deleteUser.tests.ts unit test
  api/hasura/actions/_handlers/deleteUser.test.ts
  src/utils/testing/mocks.ts
Owners: none

Add userDeleter middleware to allow self delete
  api-lib/userDeleter.ts
Owners: none

Add userDeleter middleware to allow self delete
  api-lib/userDeleter.ts
  api/hasura/actions/_handlers/deleteUser.ts
Owners: none

fix e2e create vault
  cypress/e2e/createVault.cy.ts
Owners: @topocount

update e2e create vault
  cypress/e2e/createVault.cy.ts
Owners: @topocount

improve error handling in recoverTransactions
  api/hasura/cron/recoverTransactions.ts
Owners: none

don't log to Sentry if MetaMask is disabled
  src/components/WalletAuthModal.tsx
Owners: none

update test
  cypress/e2e/createVault.cy.ts
Owners: @topocount

Fix gql error stringification for osx environments
  api-lib/gql/__generated__/zeus/index.ts
  scripts/generate_zeus.sh
  src/lib/gql/__generated__/zeus/index.ts
Owners: @topocount

add handler
  api/hasura/actions/_handlers/markClaimed.ts
  api/hasura/actions/actionManager.ts
Owners: none

add tests
  api-test/hasura/actions/_handlers/markClaimed.test.ts
Owners: none

add contracts.createVault
  src/lib/vaults/contracts.ts
Owners: none

add Yearn prefix to interaction_event
  api/hasura/actions/_handlers/markClaimed.ts
Owners: none

add markClaimed action to hasura schema
  api-lib/gql/__generated__/zeus/const.ts
  api-lib/gql/__generated__/zeus/index.ts
  hasura/metadata/actions.graphql
  hasura/metadata/actions.yaml
  src/lib/gql/__generated__/zeus/const.ts
  src/lib/gql/__generated__/zeus/index.ts
Owners: @zashton, @topocount

make a long method shorter
  api/hasura/actions/_handlers/markClaimed.ts
Owners: none

add markClaimed action to hasura schema (#1455)
  api-lib/gql/__generated__/zeus/const.ts
  api-lib/gql/__generated__/zeus/index.ts
  api-test/hasura/actions/_handlers/markClaimed.test.ts
  api/hasura/actions/_handlers/markClaimed.ts
  api/hasura/actions/actionManager.ts
  hasura/metadata/actions.graphql
  hasura/metadata/actions.yaml
  scripts/generate_zeus.sh
  src/lib/gql/__generated__/zeus/const.ts
  src/lib/gql/__generated__/zeus/index.ts
  src/lib/vaults/contracts.ts
Owners: @zashton, @topocount

use new mutation in frontend
  src/pages/ClaimsPage/mutations.ts
  src/pages/ClaimsPage/useClaimAllocation.test.tsx
  src/pages/ClaimsPage/useClaimAllocation.ts
Owners: none

track claims when recovering txs
  api-test/hasura/cron/recoverTransactions.test.ts
  api/hasura/cron/recoverTransactions.ts
Owners: none

Take timeout to 300ms and add shared libs in src to watchlist
  nodemon.json
Owners: none

start using markClaimed action (#1456)
  api-test/hasura/cron/recoverTransactions.test.ts
  api/hasura/cron/recoverTransactions.ts
  src/pages/ClaimsPage/mutations.ts
  src/pages/ClaimsPage/useClaimAllocation.test.tsx
  src/pages/ClaimsPage/useClaimAllocation.ts
Owners: none

Speed up nodemon build process (#1473)
  nodemon.json
  package.json
  scripts/serve.sh
  yarn.lock
Owners: @topocount

fix: Set up your GitHub Actions workflow with a specific version of node.js
  .github/workflows/chromatic.yml
Owners: none

fix transactions not showing for normal vaults
  src/pages/VaultsPage/VaultRow.tsx
  src/pages/VaultsPage/VaultTransactions.tsx
Owners: none

fix: Set up your GitHub Actions workflow with a specific version of node.js (#1477)
  .github/workflows/chromatic.yml
Owners: none

Add userDeleter middleware to allow users to delete themselves from circles (#1451)
  api-lib/userDeleter.ts
  api/hasura/actions/_handlers/deleteUser.test.ts
  api/hasura/actions/_handlers/deleteUser.ts
  src/utils/testing/mocks.ts
Owners: none

adds an opt-out warning modal if you have give allocated when you opt-out in the give beta flow (#1476)
  src/pages/GivePage/MyGiveRow.tsx
  src/pages/GivePage/OptOutWarningModal.tsx
Owners: none

refresh teamSelection in AllocationPage
  src/pages/AllocationPage/AllocationEpoch.tsx
  src/pages/AllocationPage/AllocationPage.tsx
  src/pages/AllocationPage/AllocationStepper.tsx
  src/pages/AllocationPage/AllocationTeam.tsx
Owners: none

revert unnecessary changes
  src/pages/AllocationPage/AllocationEpoch.tsx
  src/pages/AllocationPage/AllocationTeam.tsx
Owners: none

update stepper when teamselection is on
  src/pages/AllocationPage/AllocationPage.tsx
Owners: none

refresh team selection settings on change
  src/components/MainLayout/CircleNav.tsx
  src/pages/AddMembersPage/NewMemberList.tsx
  src/pages/AdminPage/AdminPage.tsx
  src/pages/AllocationPage/AllocationEpoch.tsx
  src/pages/AllocationPage/AllocationPage.tsx
  src/pages/AllocationPage/AllocationTeam.tsx
  src/pages/CircleAdminPage/CircleAdminPage.tsx
  src/pages/CircleAdminPage/getCircleSettings.ts
Owners: none

finalize rebasing
  src/pages/AllocationPage/AllocationEpoch.tsx
Owners: none

revert setbalance
  cypress/e2e/createVault.cy.ts
  src/pages/VaultsPage/VaultRow.tsx
Owners: @topocount

format vault balance
  src/pages/VaultsPage/VaultRow.tsx
Owners: none

Refresh team selection settings on change (#1411)
  src/components/MainLayout/CircleNav.tsx
  src/pages/AddMembersPage/NewMemberList.tsx
  src/pages/AdminPage/AdminPage.tsx
  src/pages/AllocationPage/AllocationEpoch.tsx
  src/pages/AllocationPage/AllocationPage.tsx
  src/pages/AllocationPage/AllocationStepper.tsx
  src/pages/AllocationPage/AllocationTeam.tsx
  src/pages/CircleAdminPage/CircleAdminPage.tsx
  src/pages/CircleAdminPage/getCircleSettings.ts
Owners: none

Update useClaimAllocation.ts
  src/pages/ClaimsPage/useClaimAllocation.ts
Owners: none

.github/CODEOWNERS:

/cypress/   @topocount
/docker/    @topocount
/hardhat/   @levity @topocount
/hasura/    @zashton @topocount
/scripts/   @topocount
