Repository coordinape/coordinape, changes with the owners that .github/CODEOWNERS names for each.
All owners: @topocount, @levity, @zashton

support dev only chains
  src/common-lib/constants.ts
  src/components/WalletAuthModal.tsx
  src/config/env.ts
Owners: none

fix: Invalidate 'allocate-contributions' query on add/remove contribution (#1622)
  src/pages/ContributionsPage/ContributionsPage.tsx
  src/pages/GivePage/EpochStatementDrawer.tsx
  src/pages/GivePage/GiveDrawer.tsx
Owners: none

confirm we have ethereum
  src/components/WalletAuthModal.tsx
Owners: none

note tag copy
  src/pages/GivePage/GiveRow.tsx
Owners: none

Don't populate dates from active epochs
  src/pages/HistoryPage/EpochForm.tsx
Owners: none

fix colors in vault creation modal
  src/pages/VaultsPage/CreateForm.tsx
Owners: none

metadata formatting changes from new hasura version
  hasura/metadata/actions.yaml
  hasura/metadata/cron_triggers.yaml
  hasura/metadata/databases/databases.yaml
  hasura/metadata/databases/default/tables/public_burns.yaml
  hasura/metadata/databases/default/tables/public_circle_api_keys.yaml
  hasura/metadata/databases/default/tables/public_circle_integrations.yaml
  hasura/metadata/databases/default/tables/public_circle_metadata.yaml
  hasura/metadata/databases/default/tables/public_circle_private.yaml
  hasura/metadata/databases/default/tables/public_circle_share_tokens.yaml
  hasura/metadata/databases/default/tables/public_circles.yaml
  hasura/metadata/databases/default/tables/public_claims.yaml
  hasura/metadata/databases/default/tables/public_contributions.yaml
  hasura/metadata/databases/default/tables/public_distributions.yaml
  hasura/metadata/databases/default/tables/public_epoches.yaml
  hasura/metadata/databases/default/tables/public_gift_private.yaml
  hasura/metadata/databases/default/tables/public_histories.yaml
  hasura/metadata/databases/default/tables/public_interaction_events.yaml
  hasura/metadata/databases/default/tables/public_nominees.yaml
  hasura/metadata/databases/default/tables/public_organizations.yaml
  hasura/metadata/databases/default/tables/public_pending_gift_private.yaml
  hasura/metadata/databases/default/tables/public_pending_token_gifts.yaml
  hasura/metadata/databases/default/tables/public_pending_vault_transactions.yaml
  hasura/metadata/databases/default/tables/public_personal_access_tokens.yaml
  hasura/metadata/databases/default/tables/public_profiles.yaml
  hasura/metadata/databases/default/tables/public_teammates.yaml
  hasura/metadata/databases/default/tables/public_token_gifts.yaml
  hasura/metadata/databases/default/tables/public_user_private.yaml
  hasura/metadata/databases/default/tables/public_users.yaml
  hasura/metadata/databases/default/tables/public_vault_transactions.yaml
  hasura/metadata/databases/default/tables/public_vault_tx_types.yaml
  hasura/metadata/databases/default/tables/public_vaults.yaml
  hasura/metadata/databases/default/tables/public_vouches.yaml
Owners: @zashton, @topocount

add profile->claims relationship
  hasura/metadata/databases/default/tables/public_profiles.yaml
Owners: @zashton, @topocount

update zeus for new relationships
  api-lib/gql/__generated__/zeus/const.ts
  api-lib/gql/__generated__/zeus/index.ts
  hasura/schema/admin/schema.graphql
  hasura/schema/user/schema.graphql
  src/lib/gql/__generated__/zeus/const.ts
  src/lib/gql/__generated__/zeus/index.ts
Owners: @zashton, @topocount

fix: Serve always the same static asset
  src/ui/Image/Image.stories.tsx
Owners: none

fix: Generate always the same entries for the table
  src/ui/Table/Table.stories.tsx
Owners: none

only need to call .seed once
  src/ui/Table/Table.stories.tsx
Owners: none

fix: Chromatic stories (#1638)
  src/ui/Image/Image.stories.tsx
  src/ui/Table/Table.stories.tsx
Owners: none

feat: Add `Collapsible` story
  .storybook/main.js
  .storybook/preview.js
  src/ui/Collapsible/Collapsible.stories.tsx
Owners: none

fix: Use the same assets for Chromatic
  src/ui/CircleWithLogo.stories.tsx
  src/utils/domain.ts
Owners: none

feat: Add `CircleWithLogo` story
  src/ui/CircleWithLogo.stories.tsx
Owners: none

remove duplicate component
  src/pages/JoinCirclePage/AddressIsNotMember.tsx
  src/ui/CircleWithLogo.tsx
Owners: none

remove avatar old paths
  src/utils/domain.ts
Owners: none

updates for paths
  src/components/CircleWithLogo.tsx
  src/pages/ProfilePage/ProfilePage.tsx
  src/ui/Avatar/Avatar.tsx
Owners: none

update paths with errors
  src/components/OrgLogoUpload.tsx
  src/pages/AssetMapPage/AMForceGraph.tsx
  src/pages/CreateCirclePage/CreateCirclePage.tsx
  src/pages/ProfilePage/ProfilePage.tsx
  src/recoilState/map.ts
Owners: none

fixing missing id and address
  src/lib/gql/queries.ts
Owners: none

include name profiles in users queries
  api-lib/event_triggers/createCircleCRM.ts
  api-lib/event_triggers/utils/handleVouchMsg.ts
  api-lib/findUser.ts
  api-lib/gql/queries.ts
  api-lib/handleNomineeCreatedMsg.ts
  api-lib/handleRefundGiveMsg.ts
  api/circle/landing/[token].ts
  api/hasura/actions/_handlers/allocationCsv.ts
  api/hasura/cron/dailyUpdate.ts
  api/hasura/cron/epochs.ts
  src/components/ProfileCard/ProfileCard.test.tsx
  src/components/ReceiveInfo.tsx
  src/hooks/gql/useVaults.ts
  src/lib/gql/mutations/vaults.ts
  src/lib/gql/queries.ts
  src/pages/AdminCircleApiPage/ApiKeyRow.tsx
  src/pages/AdminCircleApiPage/useCircleApiKeys.ts
  src/pages/AllocationPage/AllocationTeam.tsx
  src/pages/AllocationPage/queries.ts
  src/pages/DistributionsPage/queries.ts
  src/pages/GivePage/EpochStatementDrawer.tsx
  src/pages/GivePage/GiveDrawer.tsx
  src/pages/GivePage/GiveRow.tsx
  src/pages/GivePage/index.tsx
  src/pages/GivePage/queries.ts
  src/pages/HistoryPage/EpochPanel.tsx
  src/pages/HistoryPage/HistoryPage.test.tsx
  src/pages/HistoryPage/getHistoryData.ts
  src/pages/JoinCirclePage/JoinWithMagicLink.tsx
  src/pages/MembersPage/NomineeTable.tsx
  src/pages/MembersPage/getActiveNominees.tsx
  src/pages/ProfilePage/ProfilePage.tsx
  src/pages/VaultsPage/VaultTransactions.tsx
  src/pages/VaultsPage/queries.ts
  src/recoilState/map.ts
  src/types/api.user.profile.d.ts
  src/utils/testing/recoil.ts
Owners: none

feat: Add `HR` story
  src/ui/HR/HR.stories.tsx
Owners: none

feat: Add `HintButton` story
  src/ui/HintButton.stories.tsx
Owners: none

fix: Remove story for another component
  src/ui/HR/HR.stories.tsx
Owners: none

feat: Add `HR` story
  src/ui/HR/HR.stories.tsx
Owners: none

move delete button contributions
  src/pages/ContributionsPage/ContributionsPage.tsx
Owners: none

fix: Use the same assets for Chromatic
  src/ui/Avatar/Avatar.stories.tsx
  src/utils/domain.ts
Owners: none

fix: Remove unnecessary comment
  src/ui/Avatar/Avatar.tsx
Owners: none

feat: Add `Avatar` story
  src/ui/Avatar/Avatar.stories.tsx
Owners: none

feat: Add `Divider` story
  .storybook/main.js
  src/ui/Divider/Divider.stories.tsx
Owners: none

pgive gen
  api/pgive.ts
  scripts/serve_dev.ts
Owners: @topocount

limit circles
  api/pgive.ts
Owners: none

tweak limit
  api/pgive.ts
Owners: none

add profile.name to rest of users queries
  src/components/ProfileCard/ProfileCard.tsx
  src/lib/gql/queries.ts
  src/pages/AllocationPage/AllocationGive.tsx
  src/pages/AssetMapPage/AMDrawer.tsx
  src/pages/AssetMapPage/AMProfileCard.tsx
  src/pages/CreateCirclePage/CreateCirclePage.tsx
  src/pages/DistributionsPage/DistributionsPage.tsx
  src/pages/GivePage/MyGiveRow.tsx
  src/pages/MembersPage/MembersTable.tsx
  src/pages/MembersPage/index.tsx
Owners: none

add epoch bonus details
  api/pgive.ts
Owners: none

update limit
  api/pgive.ts
Owners: none

skip html rendering completely in MarkdownPreview
  api/hasura/actions/_handlers/updateUser.ts
  package.json
  src/pages/GivePage/EpochStatementDrawer.tsx
  src/pages/GivePage/GiveDrawer.tsx
  yarn.lock
Owners: none

display markdown epoch statement for other users
  src/pages/GivePage/GiveDrawer.tsx
Owners: none

Add sanitized markdown support for epoch statement
  api/hasura/actions/_handlers/updateUser.ts
  package.json
  src/pages/GivePage/EpochStatementDrawer.tsx
  yarn.lock
Owners: none

.github/CODEOWNERS:

/cypress/   @topocount
/docker/    @topocount
/hardhat/   @levity @topocount
/hasura/    @zashton @topocount
/scripts/   @topocount
