Repository coordinape/coordinape, changes with the owners that .github/CODEOWNERS names for each.
All owners: @topocount, @levity, @zashton

.github/CODEOWNERS:

/cypress/   @topocount
/docker/    @topocount
/hardhat/   @levity @topocount
/hasura/    @zashton @topocount
/scripts/   @topocount

fix formatUnits import
  src/pages/DistributionsPage/AllocationsTable.tsx
Owners: none

localize types
  src/pages/DistributionsPage/AllocationsTable.tsx
  src/pages/DistributionsPage/DistributionForm.tsx
  src/pages/DistributionsPage/DistributionsPage.tsx
  src/pages/DistributionsPage/types.ts
  src/types/custom.token.d.ts
  src/types/locked.token.distribution.d.ts
Owners: none

style fixes on claims page
  src/pages/ClaimsPage/ClaimsPage.tsx
  src/pages/ClaimsPage/LockedTokenGiftsTable.tsx
Owners: none

add test for RedirectAfterLogin
  src/routes/routes.test.tsx
Owners: none

Delete users in a single transaction
  api/hasura/actions/_handlers/deleteUserBulk.ts
Owners: none

update deleteusers action permission
  hasura/metadata/actions.graphql
  hasura/metadata/actions.yaml
  hasura/schema/admin/schema.graphql
  hasura/schema/user/schema.graphql
  src/lib/gql/__generated__/zeus/const.ts
  src/lib/gql/__generated__/zeus/index.ts
Owners: @zashton, @topocount

Single query for existing users
  api/hasura/actions/_handlers/deleteUserBulk.ts
Owners: none

Rename action `deleteUsers` for consistency
  api-lib/gql/__generated__/zeus/const.ts
  api-lib/gql/__generated__/zeus/index.ts
  api/hasura/actions/_handlers/deleteUsers.ts
  api/hasura/actions/actionManager.ts
  hasura/metadata/actions.graphql
  hasura/metadata/actions.yaml
  hasura/schema/admin/schema.graphql
Owners: @zashton, @topocount

Users can be deleted anytime, not just during active epoch
  api/hasura/actions/_handlers/deleteUsers.ts
Owners: none

use authCircleAdminMiddleware
  api-lib/userDeleterBulk.ts
  api/hasura/actions/_handlers/deleteUsers.ts
  src/lib/zod/index.ts
Owners: none

Hasura action for user bulk deletion from specified circle
  api-lib/userDeleterBulk.ts
  api/hasura/actions/_handlers/deleteUserBulk.ts
  api/hasura/actions/actionManager.ts
  hasura/schema/admin/schema.graphql
  src/lib/zod/index.ts
Owners: @zashton, @topocount

Hasura action + Zeus gen; Zod input type.
  api-lib/gql/__generated__/zeus/const.ts
  api-lib/gql/__generated__/zeus/index.ts
  hasura/metadata/actions.graphql
  hasura/metadata/actions.yaml
  src/lib/zod/index.ts
Owners: @zashton, @topocount

reduce whitespace changes
  hasura/metadata/actions.graphql
Owners: @zashton, @topocount

add unit test for deleteUsers action handler
  api-test/hasura/actions/_handlers/deleteUsers.test.ts
Owners: none

Admin can delete users even when there is no ongoing epoch
  api/hasura/actions/_handlers/deleteUserBulk.ts
Owners: none

buttons refactor
  src/components/ReceiveInfo.tsx
  src/pages/CircleAdminPage/CircleAdminPage.tsx
  src/pages/ContributionsPage/ContributionsPage.tsx
  src/pages/GivePage/index.tsx
  src/pages/HistoryPage/EpochForm.tsx
  src/pages/MembersPage/MembersTable.tsx
  src/pages/NewNominationPage/NewNominationPage.tsx
  src/pages/VaultsPage/VaultsPage.tsx
  src/stitches.config.ts
  src/ui/Button/Button.tsx
Owners: none

avatar color fix
  src/components/ToastContainer.tsx
  src/stitches.config.ts
  src/ui/Avatar/Avatar.tsx
Owners: none

fix dim button styles
  src/pages/ContributionsPage/ContributionsPage.tsx
  src/stitches.config.ts
  src/ui/Button/Button.tsx
Owners: none

add missing return
  api/hasura/actions/_handlers/deleteUsers.ts
Owners: none

Fix CreateUserNameForm invocation
  src/components/MainLayout/CreateUserNameForm.tsx
  src/features/nav/NavProfile.tsx
Owners: none

add return to deleteUsers success
  api/hasura/actions/_handlers/deleteUsers.ts
Owners: none

require operation name for frontend zeus client
  src/lib/gql/client.ts
Owners: none

new favicon for when we launch new branding
  public/imgs/logo/favicon.png
Owners: none

Locked token distribution frontend on main (#1837)
  src/lib/gql/mutations.ts
  src/lib/hedgey/BatchNFTMinter.json
  src/lib/hedgey/index.ts
  src/pages/CircleAdminPage/AdminIntegrations.tsx
  src/pages/CircleAdminPage/HedgeyIntegrationSettings.tsx
  src/pages/CircleAdminPage/mutations.ts
  src/pages/ClaimsPage/ClaimsPage.tsx
  src/pages/ClaimsPage/LockedTokenGiftsTable.tsx
  src/pages/ClaimsPage/queries.ts
  src/pages/DistributionsPage/AllocationsTable.tsx
  src/pages/DistributionsPage/DistributionForm.tsx
  src/pages/DistributionsPage/DistributionsPage.test.tsx
  src/pages/DistributionsPage/DistributionsPage.tsx
  src/pages/DistributionsPage/mutations.ts
  src/pages/DistributionsPage/queries.ts
  src/pages/DistributionsPage/types.ts
  src/pages/DistributionsPage/useSubmitLockedTokenDistribution.tsx
  src/pages/IntegrationCallbackPage/IntegrationCallbackPage.tsx
  src/ui/Select/Select.tsx
Owners: none

Discord: Add column for linking channel to circle (#1830)
  api-lib/gql/__generated__/zeus/const.ts
  api-lib/gql/__generated__/zeus/index.ts
  api/hasura/actions/_handlers/linkDiscordCircle.ts
  hasura/metadata/databases/default/tables/discord_roles_circles.yaml
  hasura/migrations/default/1674189914494_add_dicord_channel_id_rename_server_role/down.sql
  hasura/migrations/default/1674189914494_add_dicord_channel_id_rename_server_role/up.sql
  hasura/schema/admin/schema.graphql
  hasura/schema/user/schema.graphql
  src/lib/gql/__generated__/zeus/const.ts
  src/lib/gql/__generated__/zeus/index.ts
Owners: @zashton, @topocount

update ui of markdown help text editor
  src/pages/ContributionsPage/ContributionsPage.tsx
  src/pages/GivePage/index.tsx
Owners: none

link margin
  src/pages/ContributionsPage/ContributionsPage.tsx
  src/pages/GivePage/index.tsx
Owners: none

cursor auto
  src/pages/ContributionsPage/ContributionsPage.tsx
  src/pages/GivePage/index.tsx
Owners: none

key props on items in navorgs
  src/features/nav/NavOrgs.tsx
Owners: none

spacin gtweak
  src/features/nav/NavOrgs.tsx
  src/features/nav/NavProfile.tsx
Owners: none

bugfix: align discord folder structure to match route
  api/discord/oauth.ts
  scripts/serve_dev.ts
Owners: @topocount

Contrubution and allocation helptext markdown support (#1824)
  src/pages/ContributionsPage/ContributionsPage.tsx
  src/pages/GivePage/index.tsx
Owners: none

setup routes for logged-out access (#1834)
  src/components/MainLayout/MainLayout.tsx
  src/components/SentryScopeController.tsx
  src/components/index.ts
  src/features/auth/RequireAuth.tsx
  src/features/auth/useFinishAuth.ts
  src/features/auth/useLogout.ts
  src/features/auth/useSavedAuth.ts
  src/features/auth/useWalletStatus.tsx
  src/hooks/useApiBase.ts
  src/routes/routes.test.tsx
  src/routes/routes.tsx
  src/utils/testing/index.tsx
Owners: none

minor style tweaks and fixes for missing keys
  src/components/HelpButton.tsx
  src/features/nav/NavCircles.tsx
  src/features/nav/NavItem.tsx
  src/features/nav/NavLogo.tsx
  src/features/nav/NavOrgs.tsx
  src/features/nav/NavProfile.tsx
  src/features/nav/SideNav.tsx
  src/ui/Button/Button.tsx
Owners: none

bugfix: align discord folder structure to match route (#1843)
  api/discord/oauth.ts
  scripts/serve_dev.ts
Owners: @topocount

theme style tweaks and side nav padding/active hover improvements (#1845)
  src/components/HelpButton.tsx
  src/features/nav/NavCircles.tsx
  src/features/nav/NavItem.tsx
  src/features/nav/NavLogo.tsx
  src/features/nav/NavOrgs.tsx
  src/features/nav/NavProfile.tsx
  src/features/nav/SideNav.tsx
  src/ui/Button/Button.tsx
Owners: none

tweak nav item padding slightly
  src/features/nav/NavItem.tsx
Owners: none

tweak nav item padding slightly (#1847)
  src/features/nav/NavItem.tsx
Owners: none

trying to fix toast crush
  src/hooks/useToast.tsx
Owners: none

fix CO icon getting smushed in toasts (#1848)
  src/hooks/useToast.tsx
Owners: none
