Repository coordinape/coordinape, changes with the owners that .github/CODEOWNERS names for each.
All owners: @topocount, @levity, @zashton

Nav Button BugFixes (#1505)
  src/pages/ContributionsPage/ContributionsPage.tsx
  src/pages/ContributionsPage/util.tsx
Owners: none

rename AdminPage to MembersPage (#1514)
  src/pages/AdminPage/index.ts
  src/pages/MembersPage/MembersTable.tsx
  src/pages/MembersPage/NomineeTable.tsx
  src/pages/MembersPage/Paginator.tsx
  src/pages/MembersPage/Table.tsx
  src/pages/MembersPage/getActiveNominees.tsx
  src/pages/MembersPage/index.tsx
  src/pages/NewNominationPage/NewNominationPage.tsx
  src/routes/routes.tsx
Owners: none

check stored gift value in test
  src/pages/DistributionsPage/useSubmitDistribution.test.tsx
  src/pages/DistributionsPage/useSubmitDistribution.ts
Owners: none

fix getAvailableTokens
  craco.config.js
  package.json
  src/lib/vaults/contracts.ts
  yarn.lock
Owners: none

make vault creation modal a drawer
  src/pages/VaultsPage/VaultsPage.tsx
Owners: none

refactor common funcs
  api/hasura/actions/_handlers/allocationCsv.ts
  src/common-lib/distributions.ts
  src/pages/DistributionsPage/DistributionsPage.tsx
Owners: none

fix backend typing issue
  api/hasura/actions/_handlers/allocationCsv.ts
  src/common-lib/distributions.ts
  src/pages/DistributionsPage/DistributionsPage.tsx
  src/pages/DistributionsPage/queries.ts
Owners: none

check for undefined
  src/common-lib/distributions.ts
Owners: none

upgrade to Node 16
  .github/workflows/CI.yml
  .node-version
  .nvmrc
  package.json
Owners: none

change node version in Chromatic CI
  .github/workflows/CI.yml
  .github/workflows/chromatic.yml
Owners: none

relax specificity
  .github/workflows/CI.yml
  .github/workflows/chromatic.yml
  .node-version
  .nvmrc
  package.json
Owners: none

missed one!
  .github/workflows/CI.yml
Owners: none

upgrade to Node 16 (#1521)
  .github/workflows/CI.yml
  .github/workflows/chromatic.yml
  .node-version
  .nvmrc
  package.json
Owners: none

Re-enable webpack stdout to console
  nodemon.json
  package.json
  scripts/serve.sh
  scripts/serve_dev.ts
  yarn.lock
Owners: @topocount

Re-enable webpack stdout to console (#1522)
  nodemon.json
  package.json
  scripts/serve.sh
  scripts/serve_dev.ts
  yarn.lock
Owners: @topocount

replace ternaries with contributionIcon function
  src/pages/ContributionsPage/ContributionsPage.tsx
Owners: none

add contributionSource function
  src/pages/ContributionsPage/ContributionsPage.tsx
Owners: none

styling for Wonder and dework sources
  src/pages/ContributionsPage/ContributionsPage.tsx
Owners: none

decrease mr after integration icon
  src/pages/ContributionsPage/ContributionsPage.tsx
Owners: none

Dework/Wonder contributions modal (#1519)
  src/pages/ContributionsPage/ContributionsPage.tsx
Owners: none

header button alignment
  src/pages/CirclesPage/CirclesPage.tsx
  src/pages/ContributionsPage/ContributionsPage.tsx
  src/pages/HistoryPage/HistoryPage.tsx
  src/pages/OrganizationPage/OrganizationPage.tsx
Owners: none

minwidth give stepper
  src/pages/GivePage/GiveAllocator.tsx
  src/pages/GivePage/GiveRow.tsx
Owners: none

Convert GiveBeta page to default allocations flow
  src/components/MainLayout/CircleNav.tsx
  src/pages/CirclesPage/CirclesPage.tsx
  src/pages/GivePage/index.tsx
Owners: none

Add Contributions to the NavBar
  src/components/MainLayout/CircleNav.tsx
  src/routes/paths.ts
Owners: none

Add Contributions to the Circles Overview Page
  src/pages/CirclesPage/CirclesPage.tsx
Owners: none

no epoch statement tag in myGiveRow
  src/pages/GivePage/MyGiveRow.tsx
  src/pages/GivePage/index.tsx
  src/ui/Text/Text.tsx
Owners: none

fixed width for give steppers
  src/pages/GivePage/GiveAllocator.tsx
Owners: none

change enum values and remove user access
  api/hasura/actions/_handlers/createUsers.ts
  hasura/metadata/databases/default/tables/public_users.yaml
  src/common-lib/constants.ts
  src/lib/gql/__generated__/zeus/const.ts
  src/lib/gql/__generated__/zeus/index.ts
  src/lib/zod/index.ts
  src/pages/AddMembersPage/NewMemberList.tsx
Owners: @zashton, @topocount

update admin-self-add mutation with enum value
  api-lib/gql/mutations.ts
Owners: none

update user created by new circle
  api-lib/gql/mutations.ts
Owners: none

Make zod required, use hiddin input field for entrance type
  src/pages/AddMembersPage/NewMemberEntry.tsx
  src/pages/AddMembersPage/NewMemberList.tsx
Owners: none

delete extra migration files
  hasura/migrations/default/1665513818085_alter_table_public_users_add_column_entrance/down.sql
  hasura/migrations/default/1665513818085_alter_table_public_users_add_column_entrance/up.sql
  hasura/migrations/default/1665596862445_alter_table_public_users_alter_column_entrance/down.sql
  hasura/migrations/default/1665596862445_alter_table_public_users_alter_column_entrance/up.sql
Owners: @zashton, @topocount

add entrance column to users table
  api-lib/gql/__generated__/zeus/const.ts
  api-lib/gql/__generated__/zeus/index.ts
  hasura/metadata/databases/default/tables/public_users.yaml
  hasura/migrations/default/1665513818085_alter_table_public_users_add_column_entrance/down.sql
  hasura/migrations/default/1665513818085_alter_table_public_users_add_column_entrance/up.sql
  src/lib/gql/__generated__/zeus/const.ts
  src/lib/gql/__generated__/zeus/index.ts
Owners: @zashton, @topocount

change ENTRANCE const location to common-lib
  api-lib/constants.ts
  api-lib/event_triggers/createVouchedUser.ts
  api-lib/gql/mutations.ts
  api/hasura/actions/_handlers/createUser.ts
  api/hasura/actions/_handlers/createUserWithToken.ts
  api/hasura/actions/_handlers/createUsers.ts
  api/hasura/actions/_handlers/vouch.ts
  src/common-lib/constants.ts
  src/config/constants.ts
  src/pages/AddMembersPage/CSVImport.tsx
  src/pages/AddMembersPage/NewMemberList.tsx
Owners: none

update adding user with magic link
  api/hasura/actions/_handlers/createUser.ts
  api/hasura/actions/_handlers/createUserMutation.ts
  api/hasura/actions/_handlers/createUserWithToken.ts
Owners: none

replace strings with enums
  api-lib/constants.ts
  api-lib/event_triggers/createVouchedUser.ts
  api/hasura/actions/_handlers/createUser.ts
  api/hasura/actions/_handlers/createUserWithToken.ts
  api/hasura/actions/_handlers/createUsers.ts
  api/hasura/actions/_handlers/vouch.ts
  src/config/constants.ts
  src/pages/AddMembersPage/CSVImport.tsx
  src/pages/AddMembersPage/NewMemberList.tsx
Owners: none

update create users by address and csv
  api-lib/gql/__generated__/zeus/index.ts
  api/hasura/actions/_handlers/createUsers.ts
  hasura/metadata/actions.graphql
  src/lib/gql/__generated__/zeus/index.ts
  src/lib/zod/index.ts
  src/pages/AddMembersPage/CSVImport.tsx
  src/pages/AddMembersPage/NewMemberList.tsx
Owners: @zashton, @topocount

change entrance table from text to varchar
  hasura/migrations/default/1665596862445_alter_table_public_users_alter_column_entrance/down.sql
  hasura/migrations/default/1665596862445_alter_table_public_users_alter_column_entrance/up.sql
Owners: @zashton, @topocount

add default value for entrance for reset
  src/pages/AddMembersPage/NewMemberList.tsx
Owners: none

remove spaces from entrance values
  api-lib/gql/mutations.ts
  api/hasura/actions/_handlers/createUser.ts
  api/hasura/actions/_handlers/createUserWithToken.ts
  api/hasura/actions/_handlers/createUsers.ts
  src/pages/AddMembersPage/NewMemberList.tsx
Owners: none

.github/CODEOWNERS:

/cypress/   @topocount
/docker/    @topocount
/hardhat/   @levity @topocount
/hasura/    @zashton @topocount
/scripts/   @topocount
