Repository coordinape/coordinape, changes with the owners that .github/CODEOWNERS names for each.
All owners: @topocount, @teeolendo, @zashton, @levity

.github/CODEOWNERS:

/api/       @topocount
/api-lib/   @topocount
/docker/    @topocount
/hasura/    @topocount
/scripts/   @topocount

/src/       @teeolendo
/hardhat/   @teeolendo

/api/       @zashton
/api-lib/   @zashton
/hasura/    @zashton

/src/       @levity

Update profile/skills tags (#653)
  src/config/constants.ts
Owners: @levity

Update yarn.lock
  yarn.lock
Owners: none

Fix prettier issue
  src/components/MyAvatarMenu/MyAvatarMenu.tsx
Owners: @levity

port frontend logout to hasura
  src/lib/gql/mutations.ts
  src/recoilState/app.ts
  src/services/api.ts
Owners: @levity

fixes useContribution should be imported before recoilState
  src/components/ProfileCard/ProfileCard.tsx
Owners: @levity

Fix misalignment in Form after adding Discord support & blue underline bug under links (#661)
  src/components/MyAvatarMenu/MyAvatarMenu.tsx
  src/pages/CreateCirclePage/CreateCirclePage.tsx
Owners: @levity

style tooltip to match design
  src/components/ApeInfoTooltip/ApeInfoTooltip.tsx
Owners: @levity

add tooltip to allocation page bottom
  src/pages/AllocationPage/AllocationPage.tsx
Owners: @levity

createCircle Allows both protocol id and name inputs (#667)
  api-lib/gql/queries.ts
  api/hasura/actions/createCircle.ts
  src/lib/zod/index.ts
Owners: @zashton, @levity

implement createCircle mutation in FE, remove HASURA_ENABLED flag, make some columns non-nullable also removes HASURA_ENABLED var, deletes unused concepts like FormCaptcha and uxresearchjson
  .env.example
  api-lib/gql/__generated__/zeus/const.ts
  api-lib/gql/__generated__/zeus/index.ts
  api-lib/gql/mutations.ts
  hasura/metadata/actions.graphql
  hasura/migrations/default/1647493316251_alter_table_public_circles_alter_column_created_at/down.sql
  hasura/migrations/default/1647493316251_alter_table_public_circles_alter_column_created_at/up.sql
  hasura/migrations/default/1647493328063_alter_table_public_circles_alter_column_updated_at/down.sql
  hasura/migrations/default/1647493328063_alter_table_public_circles_alter_column_updated_at/up.sql
  hasura/migrations/default/1647493543242_alter_table_public_circles_alter_column_protocol_id/down.sql
  hasura/migrations/default/1647493543242_alter_table_public_circles_alter_column_protocol_id/up.sql
  hasura/migrations/default/1647494358856_alter_table_public_protocols_alter_column_created_at/down.sql
  hasura/migrations/default/1647494358856_alter_table_public_protocols_alter_column_created_at/up.sql
  hasura/migrations/default/1647494370075_alter_table_public_protocols_alter_column_updated_at/down.sql
  hasura/migrations/default/1647494370075_alter_table_public_protocols_alter_column_updated_at/up.sql
  hasura/migrations/default/1647664469497_alter_table_public_circles_add_column_contact/down.sql
  hasura/migrations/default/1647664469497_alter_table_public_circles_add_column_contact/up.sql
  src/components/FormCaptcha/FormCaptcha.tsx
  src/components/index.ts
  src/config/env.ts
  src/forms/CreateCircleForm.tsx
  src/hooks/useApiAdminCircle.ts
  src/hooks/useApiWithProfile.ts
  src/lib/gql/__generated__/zeus/const.ts
  src/lib/gql/__generated__/zeus/index.ts
  src/lib/gql/mutations.ts
  src/lib/zod/index.ts
  src/pages/CreateCirclePage/CreateCirclePage.tsx
  src/services/api.ts
  src/types/api.circle.d.ts
  src/types/api.d.ts
Owners: @zashton, @levity

fixing protocol id vs protocol name validation and doing a bunch of error handling cleanup
  api-lib/HttpError.ts
  api-lib/circleAdmin.ts
  api-lib/validate.ts
  api/hasura/actions/adminUpdateUser.ts
  api/hasura/actions/createCircle.ts
  api/hasura/actions/createNominee.ts
  api/hasura/actions/createUser.ts
  api/hasura/actions/deleteEpoch.ts
  api/hasura/actions/logoutUser.ts
  api/hasura/actions/updateUser.ts
  api/hasura/actions/uploadCircleLogo.ts
  api/hasura/actions/uploadProfileAvatar.ts
  api/hasura/actions/uploadProfileBackground.ts
Owners: @zashton

Fixing weird linter issues
  src/components/MyAvatarMenu/MyAvatarMenu.tsx
  src/pages/CreateCirclePage/CreateCirclePage.tsx
Owners: @levity

remove id from the query
  src/lib/gql/mutations.ts
Owners: @levity

squashing migrations
  hasura/migrations/default/1647493316251_alter_table_public_circles_alter_column_created_at/down.sql
  hasura/migrations/default/1647493316251_alter_table_public_circles_alter_column_created_at/up.sql
  hasura/migrations/default/1647493328063_alter_table_public_circles_alter_column_updated_at/down.sql
  hasura/migrations/default/1647493328063_alter_table_public_circles_alter_column_updated_at/up.sql
  hasura/migrations/default/1647493543242_alter_table_public_circles_alter_column_protocol_id/down.sql
  hasura/migrations/default/1647493543242_alter_table_public_circles_alter_column_protocol_id/up.sql
  hasura/migrations/default/1647494358856_alter_table_public_protocols_alter_column_created_at/down.sql
  hasura/migrations/default/1647494358856_alter_table_public_protocols_alter_column_created_at/up.sql
  hasura/migrations/default/1647494370075_alter_table_public_protocols_alter_column_updated_at/down.sql
  hasura/migrations/default/1647494370075_alter_table_public_protocols_alter_column_updated_at/up.sql
  hasura/migrations/default/1647664469497_alter_table_public_circles_add_column_contact/down.sql
  hasura/migrations/default/1647664469497_alter_table_public_circles_add_column_contact/up.sql
  hasura/migrations/default/1647664469497_create_circle_changes/down.sql
  hasura/migrations/default/1647664469497_create_circle_changes/up.sql
Owners: @zashton

implement createCircle mutation in FE (#646)
  .env.example
  api-lib/HttpError.ts
  api-lib/circleAdmin.ts
  api-lib/gql/__generated__/zeus/const.ts
  api-lib/gql/__generated__/zeus/index.ts
  api-lib/gql/mutations.ts
  api-lib/validate.ts
  api/hasura/actions/adminUpdateUser.ts
  api/hasura/actions/createCircle.ts
  api/hasura/actions/createNominee.ts
  api/hasura/actions/createUser.ts
  api/hasura/actions/deleteEpoch.ts
  api/hasura/actions/logoutUser.ts
  api/hasura/actions/updateUser.ts
  api/hasura/actions/uploadCircleLogo.ts
  api/hasura/actions/uploadProfileAvatar.ts
  api/hasura/actions/uploadProfileBackground.ts
  hasura/metadata/actions.graphql
  hasura/migrations/default/1647664469497_create_circle_changes/down.sql
  hasura/migrations/default/1647664469497_create_circle_changes/up.sql
  src/components/FormCaptcha/FormCaptcha.tsx
  src/components/MyAvatarMenu/MyAvatarMenu.tsx
  src/components/index.ts
  src/config/env.ts
  src/forms/CreateCircleForm.tsx
  src/hooks/useApiAdminCircle.ts
  src/hooks/useApiWithProfile.ts
  src/lib/gql/__generated__/zeus/const.ts
  src/lib/gql/__generated__/zeus/index.ts
  src/lib/gql/mutations.ts
  src/lib/zod/index.ts
  src/pages/CreateCirclePage/CreateCirclePage.tsx
  src/services/api.ts
  src/types/api.circle.d.ts
  src/types/api.d.ts
Owners: @zashton, @levity

AdminUpdateUser: existing values can bypass validation
  api/hasura/actions/adminUpdateUser.ts
Owners: @zashton

AdminUpdateUser: existing values can bypass validation (#668)
  api/hasura/actions/adminUpdateUser.ts
Owners: @zashton

admin update user
  src/hooks/useApiAdminCircle.ts
  src/lib/gql/mutations.ts
  src/services/api.ts
Owners: @levity

adding non_receiver
  src/lib/gql/mutations.ts
Owners: @levity

fixing non_receiver and starting_tokens
  src/lib/gql/mutations.ts
  src/types/api.d.ts
Owners: @levity

port adminUpdateUser FE to hasura (#670)
  src/hooks/useApiAdminCircle.ts
  src/lib/gql/mutations.ts
  src/services/api.ts
  src/types/api.d.ts
Owners: @levity

migrate createUser FE to hasura
  src/hooks/useApiAdminCircle.ts
  src/lib/gql/mutations.ts
  src/services/api.ts
  src/types/api.d.ts
Owners: @levity

make remaining tokens uneditable during createUser
  api-lib/gql/__generated__/zeus/const.ts
  api-lib/gql/__generated__/zeus/index.ts
  api/hasura/actions/createUser.ts
  hasura/metadata/actions.graphql
  src/lib/gql/__generated__/zeus/const.ts
  src/lib/gql/__generated__/zeus/index.ts
  src/lib/gql/mutations.ts
  src/lib/zod/index.ts
Owners: @zashton, @levity

wip: start on new history page
  src/components/OrganizationHeader/OrganizationHeader.tsx
  src/pages/HistoryPage/HistoryPage.tsx
  src/pages/HistoryPage/index.tsx
  src/stitches.config.ts
  src/ui/Panel/Panel.tsx
  src/ui/Text/Text.tsx
  src/ui/colors.ts
Owners: @levity

remove old component
  src/pages/HistoryPage/HistoryPage.tsx
  src/pages/HistoryPage/index.tsx
Owners: @levity

New History Page
  src/hooks/useAllocation.ts
  src/pages/HistoryPage/HistoryPage.tsx
  src/routes/paths.ts
Owners: @levity

Update HistoryPage.tsx
  src/pages/HistoryPage/HistoryPage.tsx
Owners: @levity

making created_at and updated_at optional and trying to restore the contact column
  api-lib/gql/__generated__/zeus/index.ts
  hasura/migrations/default/1647664469497_create_circle_changes/down.sql
  hasura/migrations/default/1647964671455_create_circle_changes_fix/down.sql
  hasura/migrations/default/1647964671455_create_circle_changes_fix/up.sql
  src/lib/gql/__generated__/zeus/index.ts
  src/types/api.circle.d.ts
Owners: @zashton, @levity

fix vault & circle links in main nav
  src/components/MainLayout/MainHeader.tsx
  src/pages/AdminPage/AdminPage.tsx
  src/pages/CreateCirclePage/CreateCirclePage.tsx
  src/routes/paths.ts
  src/routes/routes.tsx
Owners: @levity

add temporary styles to circles page
  src/pages/CirclesPage/CirclesPage.tsx
Owners: @levity

making created_at and updated_at optional and trying to restore the contact column (#680)
  api-lib/gql/__generated__/zeus/index.ts
  hasura/migrations/default/1647664469497_create_circle_changes/down.sql
  hasura/migrations/default/1647964671455_create_circle_changes_fix/down.sql
  hasura/migrations/default/1647964671455_create_circle_changes_fix/up.sql
  src/lib/gql/__generated__/zeus/index.ts
  src/types/api.circle.d.ts
Owners: @zashton, @levity

fix dimensions of Buttons
  src/ui/Button/Button.stories.tsx
  src/ui/Button/Button.tsx
Owners: @levity

maximize use of horizontal space in MainHeader
  src/components/MainLayout/MainHeader.tsx
  src/components/ReceiveInfo/ReceiveInfo.tsx
  src/components/WalletButton/WalletButton.tsx
Owners: @levity

quick fixes to HistoryPage
  src/pages/HistoryPage/HistoryPage.tsx
Owners: @levity

New history page (#652)
  src/components/MainLayout/MainHeader.tsx
  src/components/OrganizationHeader/OrganizationHeader.tsx
  src/components/ReceiveInfo/ReceiveInfo.tsx
  src/components/WalletButton/WalletButton.tsx
  src/hooks/useAllocation.ts
  src/pages/AdminPage/AdminPage.tsx
  src/pages/CirclesPage/CirclesPage.tsx
  src/pages/CreateCirclePage/CreateCirclePage.tsx
  src/pages/HistoryPage/HistoryPage.tsx
  src/routes/paths.ts
  src/routes/routes.tsx
  src/stitches.config.ts
  src/ui/Button/Button.stories.tsx
  src/ui/Button/Button.tsx
  src/ui/Panel/Panel.tsx
  src/ui/Text/Text.tsx
  src/ui/colors.ts
Owners: @levity

MC fix for actions.yaml
  hasura/metadata/actions.yaml
Owners: @zashton

Fixed Tests
  src/hooks/useVaultFactory.test.tsx
Owners: @levity
